@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');


:root {
  scroll-behavior: inherit;

  --sk-font-1: "Inter", sans-serif;
  --sk-font-2: "Mona Sans", sans-serif;

  --sk-clr-pr-1: #8532F9;
  --sk-clr-pr-2: #59D51D;

  --sk-clr-sd-1: #FA9145;

  --sk-clr-black-1: #050221;
  --sk-clr-black-2: #110F20;
  --sk-clr-black-3: #002101;
  --sk-clr-black-4: #454B45;

  --sk-clr-gd-1: linear-gradient(92.62deg, #EA9354 0.03%, #8D40D7 54.05%, #863AEB 99.97%);

  --sk-cube-1: all .4s cubic-bezier(.18,.82,.41,1);
  --sk-cube-2: linear(0,.154 3.4%,.994 12.4%,1.141 15.2%,1.206 18%,1.197 21.6%,1.01 31.2%,.957 37.2%,1.009 56.2%,1);

  
}

$over: "(min-width: 1800px)";
$xxxl: "only screen and (min-width: 1600px) and (max-width: 1799px)";
$xxl: "only screen and (min-width: 1400px) and (max-width: 1599px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs: "(max-width: 767px)";
