@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');


:root {
  scroll-behavior: inherit;

  --sk-font-1: "Inter", sans-serif;
  --sk-font-2: "Mona Sans", sans-serif;

  --sk-clr-pr-1: #8532F9;
  --sk-clr-pr-2: #59D51D;
  --sk-clr-pr-3: #FE0D3A;
  --sk-clr-pr-4: #E50FF2;


  --sk-clr-pr-5: #3B49E0;

  --sk-clr-sd-1: #FA9145;
  --sk-clr-sd-4: #6342F5;

  --sk-clr-black-1: #050221;
  --sk-clr-black-2: #110F20;
  --sk-clr-black-3: #002101;
  --sk-clr-black-4: #454B45;
  --sk-clr-black-5: #020224;


  --sk-clr-black-6: #000704;
  --sk-clr-black-7: #4C504E;
  --sk-clr-black-8: #04030D;



  --sk-clr-white-1: #EBEBEB;

  --sk-clr-gd-1: linear-gradient(92.62deg, #EA9354 0.03%, #8D40D7 54.05%, #863AEB 99.97%);
  --sk-clr-gd-2: linear-gradient(180deg, #002101 40.38%, #59D51D 100%);
  --sk-clr-gd-3: linear-gradient(270deg, #620903 0%, #FE0D3A 40.27%, #FE0D3A 60.99%, #620903 100%);
  --sk-clr-gd-4: linear-gradient(94.33deg, #5030E0 0%, rgba(80, 48, 224, 0.84) 39.42%, #E50FF2 100%);
  --sk-clr-gd-6: linear-gradient(99.13deg, #1B1107 0%, #0F0402 25.13%, #571709 50.19%, #DC5729 74.98%, #EE9737 100%);

  --sk-cube-1: all .4s cubic-bezier(.18,.82,.41,1);
  --sk-cube-2: linear(0,.154 3.4%,.994 12.4%,1.141 15.2%,1.206 18%,1.197 21.6%,1.01 31.2%,.957 37.2%,1.009 56.2%,1);

  
}

$over: "(min-width: 1800px)";
$xxxl: "only screen and (min-width: 1600px) and (max-width: 1799px)";
$xxl: "only screen and (min-width: 1400px) and (max-width: 1599px)";
$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs: "(max-width: 767px)";
