/*
    13. back-to-top
*/

/* 
    start-back-to-top
*/

.wa-back-to-top {
    position: fixed;
    right: 1.5%;
    bottom: -12.5%;
    z-index: 4;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(133 50 249 / 40%);
    background-color: var(--sk-clr-back-2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--sk-clr-pr-1);
    cursor: pointer;

    @media #{$xs} {
        right: 3%;
    }

    &:hover {
        color: var(--sk-clr-sd-1);
        border-color: var(--sk-clr-sd-1);
    }
      
    &:is(.active) {
        bottom: 2.5%;
    }


    &:is(.has-home-2) {
        border-color: var(--sk-clr-pr-2);
        color: var(--sk-clr-pr-2);
    }

    &:is(.has-home-3) {
        border-color: rgb(254 13 58 / 50%);
        color: var(--sk-clr-pr-3);

        &:hover {
            border-color: rgb(254 13 58 / 100%);
        }
    }

    &:is(.has-home-4) {
        border-color: rgb(99 66 245 / 50%);
        color: var(--sk-clr-sd-4);

        &:hover {
            border-color: var(--sk-clr-sd-4);
        }
    }

    &:is(.has-home-5) {
        border-color: rgb(59 73 224 / 30%);
        color: var(--sk-clr-pr-5);

        &:hover {
            border-color: var(--sk-clr-pr-5);
        }
    }
}


/* 
    start-back-to-end
*/