/*
    05. button
*/


/* 
    button-start
*/

.sk-offcanvas-btn-1 {
    width: 48px;
    height: 48px;
    box-shadow: inset 0px 0px 8px #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    background: var(--sk-clr-pr-1);
    color: #fff;



}

.sk-pr-btn-2 {
    display: inline-flex;
    font-family: var(--sk-font-1);
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    background: var(--sk-clr-gd-1);
    box-shadow: inset 0px 0px 8px #FFFFFF;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 18px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--sk-cube-1);

    
    .text {
        position: relative;
        z-index: 1;
        transition: var(--sk-cube-1);

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: var(--sk-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: var(--sk-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }

    .bg-clr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: var(--sk-cube-1);
        opacity: 0;
        &::after {
            content: "";
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: var(--sk-clr-gd-1);
            position: absolute;
            top: -20px;
            left: -20px;
            filter: blur(17px);
            animation: skPrBtn2 5s ease-in-out infinite;
        }

        &::before {
            content: "";
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: var(--sk-clr-sd-1);
            position: absolute;
            top: -20px;
            right: -20px;
            filter: blur(17px);
            animation: skPrBtn2-2 5s linear infinite;
        }
    }

    &:hover {
        color: #fff;

        .bg-clr {
            opacity: 1;
        }
        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }
}



@keyframes skPrBtn2 {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(20px, 20px);
    }
    20% {
        transform: translate(30px, -10px);
    }
    30% {
        transform: translate(40px, 0px);
    }
    40% {
        transform: translate(50px, -20px);
    }
    50% {
        transform: translate(70px, -20px);
    }
    60% {
        transform: translate(70px, 10px);
    }
    70% {
        transform: translate(90px, 10px);
    }
    80% {
        transform: translate(110px, 0px);
    }
    90% {
        transform: translate(50px, 19px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes skPrBtn2-2 {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-20px, 20px);
    }
    20% {
        transform: translate(-30px, -10px);
    }
    30% {
        transform: translate(-40px, 0px);
    }
    40% {
        transform: translate(-50px, -20px);
    }
    50% {
        transform: translate(-70px, -20px);
    }
    60% {
        transform: translate(-70px, 10px);
    }
    70% {
        transform: translate(-90px, 10px);
    }
    80% {
        transform: translate(-110px, 0px);
    }
    90% {
        transform: translate(-50px, 19px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.sk-pr-btn-1 {
    font-family: var(--sk-font-1);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    background: transparent;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 18px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    gap: 6px;
    transition: var(--sk-cube-1);
    
    &::after {
        content: "";
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 2px;
        background: linear-gradient(
                    to right,
                    rgba(10, 7, 69, 1) 0%,
                    rgba(23, 22, 64, 0) 54%,
                    rgba(10, 7, 69, 1) 100%
                    );
        z-index: -1;
        border-radius: 8px;
        transition: var(--sk-cube-1);
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(104deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0) 89%, rgb(255, 255, 255) 100%);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        opacity: 27%;
        transition: var(--sk-cube-1);
    }

    .icon {
        color: var(--sk-clr-sd-1);
    }



    .text {
        position: relative;
        z-index: 1;
        transition: var(--sk-cube-1);

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: var(--sk-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: var(--sk-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }

    &:hover {
        color: #fff;
        background: var(--sk-clr-pr-1);
        .bg-clr {
            opacity: 0;
        }
        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }
}

.sk-pr-btn-3 {
    font-family: var(--sk-font-1);
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    color: var(--sk-clr-black-3);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: var(--sk-clr-pr-2);
    box-shadow: 6px 12px 14px rgba(59, 152, 15, 0.32);
    border-radius: 8px;
    padding: 16px 25px;
    border: 1px solid transparent;
    transition: var(--sk-cube-1);
    .text {
        position: relative;
        z-index: 1;
        transition: var(--sk-cube-1);

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: var(--sk-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: var(--sk-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }


    &:hover {
        background: #F0F0F0;
        border-color:#FFFFFF;
        box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.03);
        
        i {
            color: var(--sk-clr-pr-2);
        }
        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }


    &:is(.has-border) {
        background: transparent;
        box-shadow: none;
        border: 1px solid rgb(0 33 1 / 16%);

        .icon {
            color: var(--sk-clr-pr-2);
        }

        &:hover {
            background: #F0F0F0;
            border-color:#FFFFFF;
            box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.03);
        }
    }
    
}

.sk-pr-btn-4 {
    font-family: var(--sk-font-2);
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    transition: var(--sk-cube-1);

    .text {
        position: relative;
        z-index: 1;
        transition: var(--sk-cube-1);

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: var(--sk-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: var(--sk-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }


    .btn-border-2 {
        background: var(--sk-clr-gd-3);
        border-radius: 100px;
        padding: 15px 27px;
        border: 3px solid #2D2020;
    }
    
    .btn-border {
        padding: 2px;
        border-radius: 100px;
        background: transparent;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 100%;
            height: 200px;
            background: linear-gradient(90deg,rgba(254, 13, 58, 1) 0%, rgba(0, 0, 0, 0) 60%);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            animation: skBtn3kf 3s ease-in-out infinite;
        }
    }

    &:hover {
        color: #fff;

        .btn-border {
            &::after {
                animation-play-state: paused;
            }
        }
        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }

}

@keyframes skBtn3kf {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.sk-pr-btn-5 {
    font-family: var(--sk-font-1);
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #fff;
    display: inline-block;
    transition: var(--sk-cube-1);
    background: var(--sk-clr-gd-4);
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(
        90deg,
        rgba(80, 48, 224, 1) 0%,
        rgba(80, 48, 224, 0.84) 39%,
        rgba(229, 15, 242, 1) 100%
    );

    .text {
        position: relative;
        z-index: 1;
        transition: var(--sk-cube-1);

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: var(--sk-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: var(--sk-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }

    .btn-border {
        box-shadow: 0px 42px 107px rgba(80, 48, 224, 0.34), 0px 24.7206px 32.2574px rgba(80, 48, 224, 0.1867), 0px 10.2677px 13.3981px rgba(80, 48, 224, 0.22), 0px 3.71362px 4.84582px rgba(80, 48, 224, 0.153301), inset 0px 1px 18px 2px #363687, inset 0px 1px 4px 2px #363687;
        background: var(--sk-clr-gd-4);
        border-radius: 10px;

    }

    .bg-noise {
        padding: 16px 24px;
    }

    &:hover {
        color: #fff;

        .btn-border {
            &::after {
                animation-play-state: paused;
            }
        }
        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }

}

@keyframes skBtn3kf {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* 
    button-end
*/