/*
    05. button
*/


/* 
    button-start
*/

.sk-offcanvas-btn-1 {
    width: 48px;
    height: 48px;
    box-shadow: inset 0px 0px 8px #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    background: var(--sk-clr-pr-1);
    color: #fff;
}

.sk-pr-btn-2 {
    display: inline-flex;
    font-family: var(--sk-font-1);
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    background: var(--sk-clr-pr-1);
    box-shadow: inset 0px 0px 8px #FFFFFF;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 18px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;


    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--sk-clr-gd-1);
        z-index: -1;
        box-shadow: inset 0px 0px 8px #FFFFFF;
    }
}

.sk-pr-btn-1 {
    font-family: var(--sk-font-1);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    background: transparent;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 18px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    gap: 6px;
    
    &::after {
        content: "";
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 2px;
        background: linear-gradient(
                    to right,
                    rgba(10, 7, 69, 1) 0%,
                    rgba(23, 22, 64, 0) 54%,
                    rgba(10, 7, 69, 1) 100%
                    );
        z-index: -1;
        border-radius: 8px;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 0) 46%,
                    rgba(255, 255, 255, 0) 89%,
                    rgba(255, 255, 255, 1) 100%
                    );
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        opacity: 32%;
    }

    .icon {
        color: var(--sk-clr-sd-1);
    }
}



/* 
    button-end
*/