/*
    05. button
*/


/* 
    button-start
*/

.sk-offcanvas-btn-1 {
    width: 48px;
    height: 48px;
    box-shadow: inset 0px 0px 8px #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    background: var(--sk-clr-pr-1);
    color: #fff;
}

.sk-pr-btn-2 {
    display: inline-flex;
    font-family: var(--sk-font-1);
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    background: var(--sk-clr-pr-1);
    box-shadow: inset 0px 0px 8px #FFFFFF;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 18px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--sk-cube-1);


    // &::after {
    //     content: "";
    //     width: 300%;
    //     height: 200%;
    //     position: absolute;
    //     top: -50%;
    //     left: -100%;
    //     background: var(--sk-clr-gd-1);
    //     z-index: -1;
    //     box-shadow: inset 0px 0px 8px #FFFFFF;
    //     animation: skPrBtn2 3s linear infinite;
    // }

    .text {
        transition: var(--sk-cube-1);
    }

    .bg-clr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::after {
            content: "";
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: var(--sk-clr-gd-1);
            position: absolute;
            top: -20px;
            left: -20px;
            filter: blur(17px);
            animation: skPrBtn2 10s ease-in-out infinite;
        }

        &::before {
            content: "";
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: var(--sk-clr-sd-1);
            position: absolute;
            top: -20px;
            right: -20px;
            filter: blur(17px);
            animation: skPrBtn2-2 10s linear infinite;
        }
    }

    &:hover {
        .text {
            transform: translateY(-10px);
        }
    }
}



@keyframes skPrBtn2 {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(20px, 20px);
    }
    20% {
        transform: translate(30px, -10px);
    }
    30% {
        transform: translate(40px, 0px);
    }
    40% {
        transform: translate(50px, -20px);
    }
    50% {
        transform: translate(70px, -20px);
    }
    60% {
        transform: translate(70px, 10px);
    }
    70% {
        transform: translate(90px, 10px);
    }
    80% {
        transform: translate(110px, 0px);
    }
    90% {
        transform: translate(50px, 19px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes skPrBtn2-2 {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-20px, 20px);
    }
    20% {
        transform: translate(-30px, -10px);
    }
    30% {
        transform: translate(-40px, 0px);
    }
    40% {
        transform: translate(-50px, -20px);
    }
    50% {
        transform: translate(-70px, -20px);
    }
    60% {
        transform: translate(-70px, 10px);
    }
    70% {
        transform: translate(-90px, 10px);
    }
    80% {
        transform: translate(-110px, 0px);
    }
    90% {
        transform: translate(-50px, 19px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.sk-pr-btn-1 {
    font-family: var(--sk-font-1);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    background: transparent;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding: 18px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    gap: 6px;
    
    &::after {
        content: "";
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 2px;
        background: linear-gradient(
                    to right,
                    rgba(10, 7, 69, 1) 0%,
                    rgba(23, 22, 64, 0) 54%,
                    rgba(10, 7, 69, 1) 100%
                    );
        z-index: -1;
        border-radius: 8px;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 0) 46%,
                    rgba(255, 255, 255, 0) 89%,
                    rgba(255, 255, 255, 1) 100%
                    );
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
        opacity: 32%;
    }

    .icon {
        color: var(--sk-clr-sd-1);
    }
}



/* 
    button-end
*/