/* 
    custom-container-start
*/

@media (min-width: 1400px) {
    .container{
        &.sk-container-1 {
            max-width: 1344px;
        }
        &.sk-container-2 {
            max-width: 1320px;
        }
    }
}

/* 
    custom-container-end
*/