
/* 
    elements-start
*/

/* 
    elements-end
*/

@keyframes skGlowEffect1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}
.skGlowEffect1 {
    animation: skGlowEffect1 2s linear infinite;
}

@keyframes skGlowEffect2 {
    0% {
        opacity: .4;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: .4;
    }
}
.skGlowEffect2 {
    animation: skGlowEffect2 2s linear infinite;
}

.sk-playbtn-1 {
    width: 108px;
    height: 108px;
    background: rgba(0, 33, 1, 0.18);
    box-shadow: inset 0px -4px 9px rgba(0, 33, 1, 0.2);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 28px;
    color: var(--sk-clr-black-3);
    transition: var(--sk-cube-1);

    &:hover {
        background: var(--sk-clr-pr-2);
    }
}


.sk-img-ani-1 {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        width: 100%;
        height: 40px;
        background: #f9f9f9;
        position: absolute;
        top: -130%;
        left: 0;
        transform: rotate(-37deg) scale(1.4) translate(-98px, 130px);
        transition: 1s ease-in-out;
        filter: blur(10px);
    }

    &:is(.active) {
        &::after {
            top: 105%;
        }
    }
}


.wa_split_4 {
    overflow: hidden;
}



.wa_split_clr_1 {
    div {
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right,  rgb(0 7 4) 50%, rgba(104, 104, 104, 0.30) 50%);
    }
}

.wa_split_clr_2 {
    div {
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right,  rgb(123 132 129) 50%, rgba(104, 104, 104, 0.20) 50%);
    }
}

.sk-pagination-1 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .link-elm {
        width: 40px;
        height: 40px;
        border: 1px solid #E5E5E5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--sk-font-1);
        font-size: 16px;
        font-weight: 500;
        color: var(--sk-clr-black-6);
        position: relative;
        z-index: 1;
        transition: var(--sk-cube-1);

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: linear-gradient(92.62deg, #EA9354 0.03%, #8D40D7 54.05%, #863AEB 99.97%);
            box-shadow: inset 0px 0px 8px #FFFFFF;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        &:hover {
            color: #fff;
            &::after {
                opacity: 1;
            }
        }

        &:is(.has-btn) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                background: var(--sk-clr-gd-7);
                padding: 1px;
                z-index: -1;
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                pointer-events: none;
                transition: var(--sk-cube-1);
            }
            
        }
    }
}
