
/* 
    elements-start
*/

/* 
    elements-end
*/

@keyframes skGlowEffect1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}
.skGlowEffect1 {
    animation: skGlowEffect1 2s linear infinite;
}

