
/* 
    elements-start
*/

/* 
    elements-end
*/

.pn-author-img-1 {
    display: inline-flex;

    &-single {
        width: 63px;
        height: 63px;
        flex: 0 0 auto;
        border-radius: 50%;
        border: 3px solid #fff;

        &:not(:first-child) {
            margin-left: -20px;
        }

        &:nth-child(1) {
            position: relative;
            z-index: -2;
        }

        &:nth-child(2) {
            position: relative;
            z-index: -1;
        }
    }
    
}


.pn-play-btn-1 {
    display: inline-flex;
    gap: 16px;
    align-items: center;
    font-size: 20px;
    transition: var(--pn-cube-1);

    .icon {
        width: 55px;
        height: 55px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: var(--pn-clr-sd-1);
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid var(--pn-clr-sd-1);
            border-radius: 50%;
            animation: pnPlayBtn1 3s ease-in-out infinite;
        }
    }

    &:hover {
        color: var(--pn-clr-sd-1);
    }
    
}

@keyframes pnPlayBtn1 {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.4);
        opacity: .5;
    }
    100% {
        transform: scale(1.2);
    }
}


.pn-slider-btn-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    border: 1px solid var(--pn-clr-pr-1);
    border-radius: 50%;
    font-size: 22px;
    color: var(--pn-clr-pr-1);
    position: relative;
    z-index: 1;
    transition: var(--pn-cube-1);

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--pn-clr-gd-1);
        border-radius: 50%;
        transition: var(--pn-cube-1);
        opacity: 0;
    }

    &:hover {
        border-color: transparent;
        color: #fff;
        &::after {
            opacity: 1;
        }
    }
}


.pn-slider-pagi-line {
    background: rgb(58 91 160 / 50%);
    height: 2px;
    width: 100%;

    .swiper-scrollbar-drag {
        background: var(--pn-clr-pr-1);
        border-radius: 0;
        margin-top: -2px;
        width: 100%;
        height: 6px;
    }
}


.pn-play-btn-2 {
    display: inline-flex;
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    background: var(--pn-clr-sd-1);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    transition: var(--pn-cube-1);



    .bg-shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: -1;
        border-radius: 50%;

        &:nth-child(2) {
            transform: scale(1.2);
            background: linear-gradient(138.84deg, rgba(255, 255, 255, 0.67) -6.39%, rgba(255, 255, 255, 0.21) 112.17%);
            opacity: 0.3;
            backdrop-filter: blur(5px);
            animation: pnPlayBtn2 6s linear infinite;
        }

        &:nth-child(3) {
            transform: scale(1.4);
            background: linear-gradient(138.84deg, rgba(255, 255, 255, 0.67) -6.39%, rgba(255, 255, 255, 0.21) 112.17%);
            opacity: 0.3;
            backdrop-filter: blur(5px);
            z-index: -2;
            animation: pnPlayBtn2 6s linear infinite;
            animation-delay: 2s;
        }

        &:nth-child(4) {
            transform: scale(1.6);
            background: linear-gradient(138.84deg, rgba(255, 255, 255, 0.67) -6.39%, rgba(255, 255, 255, 0.21) 112.17%);
            opacity: 0.6;
            backdrop-filter: blur(5px);
            z-index: -3;
            animation: pnPlayBtn2 6s linear infinite;
            animation-delay: 4s;
        }
    }

    &:hover {
        background-color: var(--pn-clr-pr-1);
        color: #fff;
    }
}


@keyframes pnPlayBtn2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}


.wa_img_ani_1 {
    position: relative;
    z-index: 1;


    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        background: repeating-linear-gradient(#868686,#fff 6.25%),-webkit-gradient(linear,left top,left bottom,color-stop(33.3%,#000),color-stop(0,grey),color-stop(66.7%,#fff))0/100% 305%;
        background: -o-repeating-linear-gradient(#868686,#fff 6.25%),-o-linear-gradient(#000 33.3%,grey 0,#fff 66.7%)0/100% 305%;
        background: repeating-linear-gradient(#868686,#fff 6.25%),linear-gradient(#000 33.3%,grey 0,#fff 66.7%)0/100% 305%;
        background-blend-mode: multiply;
        background-position: 0 0;
        -webkit-filter: contrast(999);
        filter: contrast(999);
        mix-blend-mode: screen;
    }

    &:is(.active) {
        &::after {
            animation: wa_img_ani_1 1s linear alternate;
        }
    }


}


@keyframes wa_img_ani_1 {
    0%,25% {
        background-position: 0 100%;
    }

    75%,100% {
        background-position: 0 0;
    }
}
