
/* 
    elements-start
*/

/* 
    elements-end
*/

@keyframes skGlowEffect1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .6;
    }
    100% {
        opacity: 1;
    }
}
.skGlowEffect1 {
    animation: skGlowEffect1 2s linear infinite;
}

@keyframes skGlowEffect2 {
    0% {
        opacity: .4;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: .4;
    }
}
.skGlowEffect2 {
    animation: skGlowEffect2 2s linear infinite;
}

.sk-playbtn-1 {
    width: 108px;
    height: 108px;
    background: rgba(0, 33, 1, 0.18);
    box-shadow: inset 0px -4px 9px rgba(0, 33, 1, 0.2);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 28px;
    color: var(--sk-clr-black-3);
    transition: var(--sk-cube-1);

    &:hover {
        background: var(--sk-clr-pr-2);
    }
}


.sk-img-ani-1 {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        width: 100%;
        height: 40px;
        background: #f9f9f9;
        position: absolute;
        top: -130%;
        left: 0;
        transform: rotate(-37deg) scale(1.4) translate(-98px, 130px);
        transition: 1s ease-in-out;
        filter: blur(10px);
    }

    &:is(.active) {
        &::after {
            top: 105%;
        }
    }
}


.wa_split_4 {
    overflow: hidden;
}



.wa_split_clr_1 {
    div {
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right,  rgb(0 7 4) 50%, rgba(104, 104, 104, 0.30) 50%);
    }
}

.wa_split_clr_2 {
    div {
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right,  rgb(123 132 129) 50%, rgba(104, 104, 104, 0.20) 50%);
    }
}