/*
    09. preloader
*/


/* 
	preloader-css-start
*/

.sk-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
	background-color: var(--sk-clr-black-2);
	transition: .5s;

    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 2000px;
	
    &-wrap {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        transition: .6s;

        &::after {
            content: "";
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            top: 1px;
            left: 1px;
            background: var(--sk-clr-black-2);
            border-radius: 50%;
            z-index: -1;
        }

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            background: var(--sk-clr-gd-1);
            border-radius: 50%;
            z-index: -1;
            animation: skPreloaderKf 3s linear infinite;
        }
    }

    &:is(.loaded) {
        opacity: 0;
        .sk-loader-wrap {
            transform: rotateY(360deg);
        }
    }



    &:is(.has-home-2) {
        background-color: #EBEBEB;
        .sk-loader-wrap {
            &::after {
                background-color: #EBEBEB;
            }
            &::before {
                background: linear-gradient(180deg, #59D51D 0%, #2E6F0F 100%);
            }
        }
    }
}

@keyframes skPreloaderKf {
    to {
        transform: rotate(360deg);
    }
}



/* 
	preloader-css-end
*/


  