/*
    03. typography
*/

/* 
    typography-start
*/

.sk-p-1 {
    font-family: var(--sk-font-1);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 1.555;
    opacity: 80%;
    margin-bottom: 0;
}

.sk-p-2 {
    font-family: var(--sk-font-1);
    font-weight: 400;
    font-size: 18px;
    color: var(--sk-clr-black-4);
    line-height: 1.555;
    margin-bottom: 0;
}



.sk-p-3 {
    font-family: var(--sk-font-1);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 1.555;
    opacity: 80%;
    letter-spacing: -0.02em;
    margin-bottom: 0;
}

.sk-h-1 {
    font-family: var(--sk-font-2);
    font-weight: 600;
    color: #fff;
    line-height: 1.555;
    margin-bottom: 0;
}

.sk-h-2 {
    font-family: var(--sk-font-1);
    font-weight: 600;
    color: var(--sk-clr-black-3);
    line-height: 1.133;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

.sk-h-3 {
    font-family: var(--sk-font-2);
    font-weight: 600;
    color: #fff;
    line-height: 1.083;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}


.sk-subtitle-1 {
    display: inline-flex;
    border-radius: 100px;
    border: 1px solid rgb(255 255 255 / 20%);
    position: relative;
    z-index: 1;
    padding: 3px;
    padding-right: 12px;
    overflow: hidden;
    margin-bottom: 15px;

    &-text {
        font-family: var(--sk-font-2);
        font-weight: 400;
        color: #fff;
        font-size: 14px;
        margin-bottom: 0;
        display: inline-flex;
        align-items: center;
        gap: 8px;

        .has-clr {
            background: var(--sk-clr-pr-1);
            box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.88);
            border-radius: 100px;
            padding: 4px 13px;
        }
        
    }

    &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: var(--sk-clr-black-2);
        z-index: -1;
        border-radius: 100px;
    }
    

    &::before {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
        opacity: 1;
        animation: sk-subtitle-1 10s ease-in-out infinite;
    }
    
}

@keyframes sk-subtitle-1 {
    0% {
        left: -20%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -20%;
    }
}


.sk-subtitle-2 {
    font-family: var(--sk-font-1);
    display: inline-block;
    background: linear-gradient(180deg, #FFFFFF 0%, #E9E9E9 100%);
    box-shadow: 1px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative;
    z-index: 1;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    padding: 5px 15px;

    &-text {
        background: linear-gradient(180deg, #2E6F0F 0%, #59D51D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }


    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 6px;
        padding: 1px; 
        background: linear-gradient(to bottom, #D9D9D9 0%, #FFFFFF 100%);
        z-index: -1; 
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
    
    }
}


.sk-sec-title-1 {
    font-family: var(--sk-font-2);
    color: #fff;
    font-weight: 600;
    font-size: 46px;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    line-height: 1.086;


    @media #{$lg} {
        font-size: 44px;
    }

    @media #{$md} {
        font-size: 38px;
    }

    @media #{$xs} {
        font-size: 32px;
    }

    @media #{$sm} {
        font-size: 36px;
    }
}



.sk-sec-title-2 {
    font-family: var(--sk-font-1);
    line-height: 1.090;
    font-weight: 600;
    letter-spacing: -0.01em;
    font-size: 44px;
    margin-bottom: 0;
    color: var(--sk-clr-black-3);

    
    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 36px;
    }

    @media #{$xs} {
        font-size: 32px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}

/* 
    typography-end
*/

