/*
    03. typography
*/

/* 
    typography-start
*/

.sk-p-1 {
    font-family: var(--sk-font-1);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 1.555;
    opacity: 80%;
    margin-bottom: 0;
}

.sk-p-2 {
    font-family: var(--sk-font-1);
    font-weight: 400;
    font-size: 18px;
    color: var(--sk-clr-black-4);
    line-height: 1.555;
    margin-bottom: 0;
}



.sk-p-3 {
    font-family: var(--sk-font-1);
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    line-height: 1.555;
    opacity: 88%;
    // letter-spacing: -0.02em;
    margin-bottom: 0;
}

.sk-p-4 {
    font-family: var(--sk-font-1);
    font-weight: 400;
    font-size: 18px;
    color: var(--sk-clr-black-4);
    line-height: 1.555;
    margin-bottom: 0;
}


.sk-p-5 {
    font-family: var(--sk-font-1);
    line-height: 150%;
    color: var(--sk-clr-black-7);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    margin-bottom: 0;
}

.sk-h-1 {
    font-family: var(--sk-font-2);
    font-weight: 600;
    color: #fff;
    line-height: 1.555;
    margin-bottom: 0;
}

.sk-h-2 {
    font-family: var(--sk-font-1);
    font-weight: 600;
    color: var(--sk-clr-black-3);
    line-height: 1.133;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

.sk-h-3 {
    font-family: var(--sk-font-2);
    font-weight: 600;
    color: #fff;
    line-height: 1.083;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

.sk-h-4 {
    font-family: var(--sk-font-2);
    font-weight: 600;
    color: var(--sk-clr-black-5);
    line-height: 1.086;
    margin-bottom: 0;
}


.sk-h-5 {
    font-family: var(--sk-font-1);
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    color: var(--sk-clr-black-6);
}



.sk-subtitle-1 {
    display: inline-flex;
    border-radius: 100px;
    border: 1px solid rgb(255 255 255 / 20%);
    position: relative;
    z-index: 1;
    padding: 3px;
    padding-right: 12px;
    overflow: hidden;
    margin-bottom: 15px;

    &-text {
        font-family: var(--sk-font-2);
        font-weight: 400;
        color: #fff;
        font-size: 14px;
        margin-bottom: 0;
        display: inline-flex;
        align-items: center;
        gap: 8px;

        .has-clr {
            background: var(--sk-clr-pr-1);
            box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.88);
            border-radius: 100px;
            padding: 4px 13px;
        }
        
    }

    &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        background: var(--sk-clr-black-2);
        z-index: -1;
        border-radius: 100px;
    }
    

    &::before {
        content: "";
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
        opacity: 1;
        animation: sk-subtitle-1 10s ease-in-out infinite;
    }
    
}

@keyframes sk-subtitle-1 {
    0% {
        left: -20%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -20%;
    }
}


.sk-subtitle-2 {
    font-family: var(--sk-font-1);
    display: inline-block;
    background: linear-gradient(180deg, #FFFFFF 0%, #E9E9E9 100%);
    box-shadow: 1px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative;
    z-index: 1;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    padding: 5px 15px;

    &-text {
        background: linear-gradient(180deg, #2E6F0F 0%, #59D51D 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }


    
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 6px;
        padding: 1px; 
        background: linear-gradient(to bottom, #D9D9D9 0%, #FFFFFF 100%);
        z-index: -1; 
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
    
    }
}

.sk-subtitle-4 {
    font-family: var(--sk-font-2);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1.3;
    display: inline-flex;
    border: 1px solid var(--sk-clr-sd-4);
    border-radius: 100px;
    background: #fff;
    padding: 6px 15px;
    outline: 6px solid rgb(99 66 245 / 12%);
    margin-bottom: 17px;

    &-text {
        background: var(--sk-clr-gd-4);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


.sk-subtitle-5 {
    font-family: var(--sk-font-1);
    font-size: 15px;
    color: var(--sk-clr-black-6);
    font-weight: 400;
    letter-spacing: -0.02em;
    border: 1px solid #D7D7D7;
    display: inline-block;
    border-radius: 100px;
    padding: 1px;
    position: relative;
    z-index: 1;
    margin-bottom: 12px;

    &::after {
        content: "";
        width: 20%;
        height: 1px;
        position: absolute;
        top: -1px;
        left: 8%;
        background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, var(--sk-clr-pr-5) 50%, rgba(255, 255, 255, 0) 100%);
        animation: skSubtitle5kf 6s ease-in-out infinite;
    }

    &::before {
        content: "";
        width: 20%;
        height: 1px;
        position: absolute;
        bottom: -1px;
        left: 8%;
        background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, var(--sk-clr-pr-5) 50%, rgba(255, 255, 255, 0) 100%);
        animation: skSubtitle5kf 6s ease-in infinite;
    }

    .elm-border {
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        padding: 3px 4px;
        padding-right: 16px;

    }

    .icon-elm {
        width: 35px;
        height: 35px;
        background-color: var(--sk-clr-pr-5);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        z-index: 1;


        &::after {
            content: "";
            position: absolute;
            width: 37px;
            height: 15px;
            background: #FFFFFF;
            filter: blur(10px);
            top: 95%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}


@keyframes skSubtitle5kf {
    0% {
        left: 8%;
    }
    50% {
        left: 75%;
    }
    100% {
        left: 8%;
    }
}


.sk-sec-title-1 {
    font-family: var(--sk-font-2);
    color: #fff;
    font-weight: 600;
    font-size: 46px;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    line-height: 1.086;


    @media #{$lg} {
        font-size: 44px;
    }

    @media #{$md} {
        font-size: 38px;
    }

    @media #{$xs} {
        font-size: 32px;
    }

    @media #{$sm} {
        font-size: 36px;
    }
}



.sk-sec-title-2 {
    font-family: var(--sk-font-1);
    line-height: 1.090;
    font-weight: 600;
    letter-spacing: -0.01em;
    font-size: 44px;
    margin-bottom: 0;
    color: var(--sk-clr-black-3);

    
    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 36px;
    }

    @media #{$xs} {
        font-size: 32px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}


.sk-sec-title-3 {
    font-family: var(--sk-font-2);
    color: #fff;
    font-weight: 600;
    letter-spacing: -0.01em;
    font-size: 48px;
    line-height: 1.083;
    margin-bottom: 0;

    @media #{$xl} {
        font-size: 44px;
    }

    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 36px;
    }

    @media #{$xs} {
        font-size: 32px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}


.sk-sec-title-4 {
    font-family: var(--sk-font-2);
    font-weight: 600;
    font-size: 46px;
    line-height: 1.086;
    letter-spacing: -0.01em;
    color: var(--sk-clr-black-5);
    margin-bottom: 0;

    img {
        margin-top: -11px;
    }
    


    @media #{$xl} {
        font-size: 44px;
    }


    @media #{$lg} {
        font-size: 40px;
    }

    @media #{$md} {
        font-size: 36px;
    }

    @media #{$xs} {
        font-size: 32px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}

.sk-sec-title-5 {
    font-family: var(--sk-font-1);
    font-weight: 600;
    line-height: 120%;
    color: var(--sk-clr-black-6);
    letter-spacing: -0.02em;
    font-size: 40px;
    margin-bottom: 0;


    @media #{$lg} {
        font-size: 38px;
    }

    @media #{$md} {
        font-size: 36px;
    }

    @media #{$xs} {
        font-size: 32px;
    }

    @media #{$sm} {
        font-size: 34px;
    }
}
/* 
    typography-end
*/

