/* 
    wow-plus-start
*/
@keyframes wa-rotated {
  to {
    transform: rotate(360deg);
  }
}

@keyframes wa-rotated-minus {
  to {
    transform: rotate(-360deg);
  }
}


@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    filter: blur(3px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    filter: blur(0px);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  animation-duration: 400ms;
  animation-timing-function: var(--sk-cube-1);
}


/* 
    wow-plus-end
*/
