/* 
    apps-1-start
*/

.sk-apps-2 {
    &-sec-title {
        max-width: 665px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        z-index: 2;

        .sec-disc {
            margin-top: 18px;
        }
    }


    &-wrap {
        display: flex;
        justify-content: center;
        margin-left: -30px;
        margin-right: -30px;
        align-items: end;
        margin-top: -240px;

        @media #{$xxl,$xl,$lg} {
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 50px;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        &::after {
            content: "";
            position: absolute;
            width: 110%;
            height: 373px;
            background: linear-gradient(180deg, #EBEBEB 0%, rgba(235, 235, 235, 0.68) 46.56%, rgba(235, 235, 235, 0) 100%);
            top: -30px;
            left: -50px;

            @media #{$md,$xs} {
                display: none;
            }
        }


        &-bg-shape {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            text-align: center;

            @media #{$md,$xs} {
                display: none;
            }
        }
    }

    &-item {
        filter: drop-shadow(-3px -2px 6px #FFFFFF) drop-shadow(3px 6px 12px rgba(0, 0, 0, 0.16));
        will-change: transform;

        @media #{$over,$xxxl,$xxl,$xl,$lg} {
            &:is(.has-1) {
                margin-bottom: 408px;
                margin-right: -40px;
            }

            &:is(.has-2) {
                margin-right: 22px;
                margin-bottom: 268px;
            }

            &:is(.has-3) {
                margin-right: 44px;
                margin-bottom: 160px;
            }

            &:is(.has-4) {
                margin-right: 72px;
                margin-bottom: 67px;
            }

            &:is(.has-5) {
                margin-right: 108px;
                margin-bottom: 22px;
            }

            &:is(.has-7) {
                margin-left: 108px;
                margin-bottom: 22px;
            }

            &:is(.has-8) {
                margin-left: 72px;
                margin-bottom: 67px;
            }

            &:is(.has-9) {
                margin-left: 44px;
                margin-bottom: 160px;
            }

            &:is(.has-10) {
                margin-left: 22px;
                margin-bottom: 268px;
            }

            &:is(.has-11) {
                margin-left: -40px;
                margin-bottom: 408px;
            }

        }
    }
    
}
/* 
    apps-1-end
*/
/* 
    apps-3-start
*/
.sk-apps-3 {

    &-bg-shape-1 {
        max-width: 25%;
        position: absolute;
        top: 0%;
        left: 0;
        z-index: -1;
    }
    
    &-bg-shape-2 {
        text-align: right;
        width: 25%;
        position: absolute;
        right: 0;
        top: 0%;
        z-index: -1;
    }

    &-sec-title-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        @media #{$lg,$md,$xs} {
            position: unset;
            margin-bottom: 50px;
        }
    }
    
    &-sec-title {
        max-width: 610px;

        .sec-disc {
            margin-top: 15px;
        }
    }

    &-logo {
        width: 710px;
        height: 710px;
        border-radius: 50%;
        position: relative;
        margin: auto;

        @media #{$lg,$md,$xs} {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
            width: auto;
            height: auto;
            margin-bottom: 50px;
        }

        .single-logo {
            position: absolute;
            width: 112px;
            height: 112px;
            transform: translate(-50%, -50%);
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }


            @media #{$lg,$md,$xs} {
                position: unset;
                transform: unset;
            }
        }
    }



    
    &-video-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            position: unset;
        }
    }

    &-video {
        border: 1px dashed rgb(255 255 255 / 28%);
        border-radius: 50%;
        display: inline-block;
        padding: 23px;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            width: 920px;
            height: 920px;
            background: radial-gradient(50% 50% at 50% 50%, #FD0C39 0%, #12010100 81.25%);
            opacity: 0.68;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }

        &-elm {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            overflow: hidden;
        }
        
        
    }


    &-height {
        @media #{$over,$xxxl,$xxl,$xl} {
            height: 2000px;
        }
    }

    &-pin {
        @media #{$over,$xxxl,$xxl,$xl} {
            position: sticky;
            top: 100px;
            padding: 70px 0;
        }
    }
}
/* 
    apps-3-end
*/