/* 
    benefits-1-start
*/
.sk-benefits-1 {
    &-area {
        position: relative;
        z-index: 2;
    }

    &-bg-shape-1 {
        width: 24%;
        position: absolute;
        top: -44%;
        left: 0;
        z-index: -2;
    }
    
    &-bg-shape-2 {
        text-align: right;
        width: 27%;
        position: absolute;
        right: 0;
        top: -44%;
        z-index: -2;
    }

    &-sec-title {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        .ani-line-1 {
            position: absolute;
            top: 49.7%;
            left: 0;
            height: 3px;
            width: 36px;
            background: radial-gradient( var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line1 7s ease-in-out infinite;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }

        .ani-line-2 {
            position: absolute;
            top: 49.7%;
            right: 0;
            height: 3px;
            width: 36px;
            background: radial-gradient( var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line2 7s ease-in-out infinite;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }

        .ani-line-3 {
            position: absolute;
            top: 0;
            left: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line3 7s ease-in-out infinite;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }

        .ani-line-4 {
            position: absolute;
            bottom: 0;
            left: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line4 7s ease-in-out infinite;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }

        .ani-line-5 {
            position: absolute;
            bottom: 0;
            right: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line4 7s ease-in-out infinite;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }

        .ani-line-6 {
            position: absolute;
            top: 0;
            right: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line3 7s ease-in-out infinite;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }
    }
    
    &-card {
        border: 1px solid rgb(255 255 255 / 16%);
        border-radius: 20px;
        background: var(--sk-clr-black-2);
        padding: 40px 40px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-left: -1px;
        margin-top: -1px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .icon-wrap {
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, #272B3A 0%, var(--sk-clr-black-2) 100%);
            border-radius: 50%;
            border: 1px solid rgb(255 255 255 / 12%);
            margin-bottom: 41px;
            position: relative;
            z-index: 1;
        }

        .icon-elm {
            width: 58px;
            height: 58px;
            background: var(--sk-clr-black-2);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid rgb(255 255 255 / 12%);
        }


        .icon-glow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .icon-glow {
            animation: wa-rotated 7s ease-in-out infinite ;
            &::after {
                content: "";
                width: 32px;
                height: 18px;
                background: var(--sk-clr-sd-1);
                filter: blur(2px);
                border-radius: 50%;
                position: absolute;
                top: 3px;
                left: 19px;
            }

            &::before {
                content: "";
                width: 32px;
                height: 18px;
                background: var(--sk-clr-pr-1);
                filter: blur(2px);
                border-radius: 50%;
                position: absolute;
                bottom: 3px;
                left: 19px;
            }
        }
        

        .title {
            font-size: 22px;
            margin-bottom: 12px;

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--sk-cube-1);
                transition: var(--sk-cube-1);

                &:hover {
                    color: var(--sk-clr-sd-1);
                    background-size: 100% 100%;
                }
            }
        }

        .disc {
            font-size: 16px;
        }

        .bg-shape-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translate(-40px, -40px);
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        .bg-shape-2 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            transform: translate(40px, 40px);
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        &:hover {
            .bg-shape-1 {
                opacity: 1;
                transform: translate(0px, 0px);
            }
            .bg-shape-2 {
                opacity: 1;
                transform: translate(0px, 0px);
                transition-delay: .1s;
            }
        }
    }
    
}

@keyframes skB1line1 {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(421px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes skB1line2 {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(-421px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes skB1line3 {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(297px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes skB1line4 {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-297px);
    }
    100% {
        transform: translateY(-10px);
    }
}


/* 
    benefits-1-end
*/

/* 
    benefits-2-start
*/
.sk-benefits-6 {

    &-wrap {
        display: grid;
        gap: 110px;
        grid-template-columns: 1fr 1.16fr;
        align-items: end;

        @media #{$lg} {
            gap: 50px;
        }

        @media #{$md,$xs} {
            gap: 60px;
            grid-template-columns: 1fr;
        }
    }

    &-left {
        @media #{$xs} {
            margin-bottom: 200px;
        }
    }

    &-sec-title {

        .sec-disc {
            margin-top: 16px;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 40px;

        li {
            display: flex;
            align-items: center;
            gap: 12px;
            color: #fff;
        }
    }

    
    &-right{
        &-shape {
            position: relative;
            z-index: 1;
            text-align: center;

            &-icon {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                flex-wrap: wrap;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                max-width: 85%;
                transform: translate(-50%, -50%);

                .left, .right {
                    display: flex;
                    flex-direction: column;
                    gap: 70px;
                }

                .shape-icon {
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        width: 127px;
                        height: .5px;
                        border: 0.5px dashed var(--sk-clr-pr-6);
                        position: absolute;
                        right: 92%;
                        top: 25px;
                        z-index: -1;
                        opacity: .4;
                    }
                }

                .left {
                    align-items: start;

                    .shape-icon {
                        &:nth-child(1) {
                            margin-left: 77px;
                        }
                        &:nth-child(2) {
                            &::after {
                                max-width: 50px;
                                border-color: #fff;
                            }
                        }
                        &:nth-child(3) {
                            margin-left: 77px;
                        }
                    }
                }

                .right {
                    align-items: end;

                    .shape-icon {
                        &:nth-child(1) {
                            margin-right: 77px;

                            &::after {
                                right: unset;
                                left: 92%;
                                border-color: #fff;
                            }
                        }
                        &:nth-child(2) {
                            &::after {
                                max-width: 50px;
                                border-color: var(--sk-clr-pr-6);
                                right: unset;
                                left: 92%;
                            }
                        }
                        &:nth-child(3) {
                            margin-right: 77px;

                            &::after {
                                right: unset;
                                left: 92%;
                                border-color: #fff;
                            }
                        }
                    }
                }
            }


            .shape-favicon {
                width: 77px;
                height: 40px;
                background-color: var(--sk-clr-pr-6);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 1px;
                    left: 0;
                    border-radius: 100%;
                    z-index: 1;
                    border: 2px solid rgb(240 240 240 / 40%);
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    border-radius: 100%;
                    z-index: -2;
                    background-color: #FFA46F;
                }

                svg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;

                    path {
                        fill: var(--sk-clr-pr-6);
                    }
                }
            }


            .shape-glow {
                position: absolute;
                top: 4%;
                left: 48.5%;
                transform: translate(-50%, -50%);
                width: 100%;
            }

            .shape-dot {
                position: absolute;
                top: 14%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }

            .shape-ring {
                position: absolute;
                top: 27%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            
        }
    }
    

    &-wrap-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-card {
        background-color: #0F0E0C;
        border: 1px solid #1C1C1C;
        border-radius: 12px;
        padding: 40px 40px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .number {
            font-size: 48px;
            font-weight: 700;
            line-height: 1;
            display: flex;
            align-items: center;
            margin-bottom: 60px;
        }


        &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 8px;
            right: 8px;
            bottom: 8px;
            border-radius: 12px;
            background: linear-gradient( to left, rgba(174, 174, 174, 1) 0%, rgba(153, 153, 153, 0.1) 100% );
            padding: 1px;
            z-index: -1;
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask-composite: exclude;
        }

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            background: #79797B;
            opacity: 0.4;
            filter: blur(40px);
            position: absolute;
            right: -70px;
            top: -70px;
            border-radius: 50%;
        }

        &:nth-child(2) {
            &::after {
                background: var(--sk-clr-pr-6);
            }

            &::before {
                background: linear-gradient( to left, var(--sk-clr-pr-6) 0%, rgba(153, 153, 153, 0.1) 100% );
            }
        }

        &:nth-child(3) {
            &::after {
                background: #6F6FB6;
            }

            &::before {
                background: linear-gradient( to left, #7545FF 0%, rgba(153, 153, 153, 0.1) 100% );
            }
        }
    }
    
}
/* 
    benefits-2-end
*/