/* 
    benefits-1-start
*/
.sk-benefits-1 {
    &-area {
        position: relative;
        z-index: 2;
    }

    &-bg-shape-1 {
        width: 24%;
        position: absolute;
        top: -44%;
        left: 0;
        z-index: -2;
    }
    
    &-bg-shape-2 {
        text-align: right;
        width: 27%;
        position: absolute;
        right: 0;
        top: -44%;
        z-index: -2;
    }

    &-sec-title {
        max-width: 710px;
        margin-left: auto;
        margin-right: auto;
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;


        .ani-line-1 {
            position: absolute;
            top: 49.7%;
            left: 0;
            height: 3px;
            width: 36px;
            background: radial-gradient( var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line1 7s ease-in-out infinite;
        }

        .ani-line-2 {
            position: absolute;
            top: 49.7%;
            right: 0;
            height: 3px;
            width: 36px;
            background: radial-gradient( var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line2 7s ease-in-out infinite;
        }

        .ani-line-3 {
            position: absolute;
            top: 0;
            left: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line3 7s ease-in-out infinite;
        }

        .ani-line-4 {
            position: absolute;
            bottom: 0;
            left: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line4 7s ease-in-out infinite;
        }

        .ani-line-5 {
            position: absolute;
            bottom: 0;
            right: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line4 7s ease-in-out infinite;
        }

        .ani-line-6 {
            position: absolute;
            top: 0;
            right: 438px;
            height: 36px;
            width: 3px;
            background: radial-gradient(var(--sk-clr-sd-1), transparent);
            z-index: 1;
            animation: skB1line3 7s ease-in-out infinite;
        }
    }
    
    &-card {
        border: 1px solid rgb(255 255 255 / 16%);
        border-radius: 20px;
        background: var(--sk-clr-black-2);
        padding: 40px 40px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-left: -1px;
        margin-top: -1px;

        .icon-wrap {
            width: 72px;
            height: 72px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, #272B3A 0%, var(--sk-clr-black-2) 100%);
            border-radius: 50%;
            border: 1px solid rgb(255 255 255 / 12%);
            margin-bottom: 41px;
            position: relative;
            z-index: 1;
        }

        .icon-elm {
            width: 58px;
            height: 58px;
            background: var(--sk-clr-black-2);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid rgb(255 255 255 / 12%);
        }


        .icon-glow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        .icon-glow {
            animation: wa-rotated 7s ease-in-out infinite ;
            &::after {
                content: "";
                width: 32px;
                height: 18px;
                background: var(--sk-clr-sd-1);
                filter: blur(2px);
                border-radius: 50%;
                position: absolute;
                top: 3px;
                left: 19px;
            }

            &::before {
                content: "";
                width: 32px;
                height: 18px;
                background: var(--sk-clr-pr-1);
                filter: blur(2px);
                border-radius: 50%;
                position: absolute;
                bottom: 3px;
                left: 19px;
            }
        }
        

        .title {
            font-size: 22px;
            margin-bottom: 12px;

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--sk-cube-1);
                transition: var(--sk-cube-1);

                &:hover {
                    color: var(--sk-clr-sd-1);
                    background-size: 100% 100%;
                }
            }
        }

        .disc {
            font-size: 16px;
        }

        .bg-shape-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: translate(-40px, -40px);
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        .bg-shape-2 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            transform: translate(40px, 40px);
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        &:hover {
            .bg-shape-1 {
                opacity: 1;
                transform: translate(0px, 0px);
            }
            .bg-shape-2 {
                opacity: 1;
                transform: translate(0px, 0px);
                transition-delay: .1s;
            }
        }
    }
    
}

@keyframes skB1line1 {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(421px);
    }
    100% {
        transform: translateX(10px);
    }
}

@keyframes skB1line2 {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(-421px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes skB1line3 {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(297px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes skB1line4 {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-297px);
    }
    100% {
        transform: translateY(-10px);
    }
}


/* 
    benefits-1-end
*/