/* 
    blog-details-start
*/
.sk-blog-details {
    &-area {
        position: relative;
        z-index: 2;
    }
    &-img {
        background-color: #fff;
        border-radius: 32px;
        padding: 12px;
        height: 640px;
        margin-bottom: 40px;

        @media #{$md,$xs} {
            height: auto;
            padding: 6px;
        }
        img {
            border-radius: 24px;
        }
    }

    &-wrap {
        display: grid;
        gap: 48px;
        grid-template-columns: 2.18fr 1fr;
        align-items: start;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }


        &:is(.has-left-sidebar) {
            grid-template-columns: 1fr 2.18fr;
            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
    }
    

    &-title {
        font-size: 48px;
        line-height: 120%;
        margin-bottom: 12px;

        @media #{$xl} {
            font-size: 44px;
        }
        @media #{$lg} {
            font-size: 38px;
        }
    
        @media #{$md} {
            font-size: 36px;
        }
    
        @media #{$xs} {
            font-size: 32px;
        }
    
        @media #{$sm} {
            font-size: 34px;
        }
    }

    &-meta {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 16px;

        .tags-x-date {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        &-tags {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;

            li {
                border: 1px solid #E5E5E5;
                border-radius: 100px;
                font-size: 15px;
                padding: 4px 12px;
                transition: var(--sk-cube-1);

                &:hover {
                    border-color: var(--sk-clr-pr-5);
                }
            }
        }
    }

    &-content {
    
        h1,h2,h3,h4,h5,h6,p,li , blockquote , cite , b {
            font-family: var(--sk-font-1);
            color: var(--sk-clr-black-6);
        }
    
        h1,h2,h3,h4,h5,h6 {
            font-weight: 600;
            line-height: 120%;
            margin-bottom: 12px;
            color: var(--sk-clr-black-6);
        }
    
        p {
            font-size: 16px;
            line-height: 160%;
            margin-bottom: 12px;
            color: var(--sk-clr-black-7);
        }
    
        h1 {
            font-size: 46px;
    
            @media #{$lg} {
                font-size: 42px;
            }
            @media #{$md} {
                font-size: 36px;
            }
            @media #{$xs} {
                font-size: 26px;
            }
            @media #{$sm} {
                font-size: 30px;
            }
        }
    
        h2 {
            font-size: 42px;
    
            @media #{$lg} {
                font-size: 38px;
            }
    
            @media #{$md} {
                font-size: 34px;
            }
    
            @media #{$xs} {
                font-size: 24px;
            }
    
            @media #{$sm} {
                font-size: 26px;
            }
        }
        h3 {
            font-size: 40px;
            @media #{$lg} {
                font-size: 38px;
            }
            @media #{$md} {
                font-size: 34px;
            }
            @media #{$xs} {
                font-size: 24px;
            }
            @media #{$sm} {
                font-size: 30px;
            }
        }
        h4 {
            font-size: 30px;
            font-weight: 600;
            @media #{$md} {
                font-size: 25px;
            }
            @media #{$xs} {
                font-size: 20px;
            }
            @media #{$sm} {
                font-size: 23px;
            }
        }
        h5 {
            font-size: 24px;
            font-weight: 600;
            @media #{$md} {
                font-size: 20px;
            }
        }
        h6 {
            font-size: 18px;
            font-weight: 500;
        }
    
    
    
        blockquote {
            background: var(--sk-clr-gd-8);
            border-radius: 12px;
            padding: 32px 32px;
            color: #fff;
            font-weight: 500;
            text-align: center;
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 24px;
            margin-top: 24px;

            @media #{$lg,$md,$xs} {
                font-size: 20px;
            }
        }


        .inner-img {
            display: grid;
            grid-template-columns: 3fr 1fr;
            gap: 24px;
            margin-top: 32px;

            &-single {
                border-radius: 12px;
                overflow: hidden;
            }
        }
        

    }


    &-tags-x-share {
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;
        padding: 16px 0;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(229, 229, 229, 0.1) 0%, #E5E5E5 50.41%, rgba(229, 229, 229, 0.1) 100%);
            z-index: -1;
        }
        &::before {
            content: "";
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(229, 229, 229, 0.1) 0%, #E5E5E5 50.41%, rgba(229, 229, 229, 0.1) 100%);
            z-index: -1;
        }
    }
    
    &-tags {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 4px;

        .title {
            font-size: 24px;
            margin-right: 12px;
        }

        .link {
            border: 1px solid #E5E5E5;
            border-radius: 100px;
            padding: 5px 11px;
        }
    }
    
    &-share {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 4px;

        .title {
            font-size: 24px;
            margin-right: 12px;
        }

        .link {
            width: 48px;
            height: 48px;
            background: transparent;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            font-size: 18px;
            color: var(--sk-clr-black-6);
            transition: var(--sk-cube-1);
            border: 1px solid #E5E5E5;


            &::after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: var(--sk-clr-gd-8);
                box-shadow: inset 0px 0px 8px #FFFFFF;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 0;
                transition: var(--sk-cube-1);
            }

            &:hover {
                color: #fff;
                &::after {
                    opacity: 1;
                }
                &::before {
                    opacity: 0;
                }
            }
        }
    }

    &-comment {
        display: grid;
        gap: 45px;

        &-title {
            font-size: 24px;
            margin-bottom: 32px;
        }


        &-single {
            display: flex;
            gap: 20px;

            .person-img {
                width: 60px;
                height: 60px;
                flex: 0 0 auto;
                border-radius: 50%;
                overflow: hidden;
            }

            .name {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .date {
                margin-bottom: 20px;
            }
            .comment {
                margin-bottom: 20px;
            }

            .reply-btn {
                font-size: 16px;
                display: flex;
                align-items: center;
                gap: 6px;
                font-weight: 500;
                transition: var(--sk-cube-1);
                i {
                    font-size: 14px;
                    background: var(--sk-clr-gd-8);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &:hover {
                    color: var(--sk-clr-sd-4);
                }
            }
            
        }
        
        .children {
            margin-left: 60px;
        }
        
    }

    &-form {
        &-title {
            font-size: 24px;
            margin-bottom: 32px;
        }

        .sk-contact-6-form {
            background-color: #fff;
            padding: 32px 32px;
    
            &-label {
                color: var(--sk-clr-black-6);
            }
            &-input {
                background-color: #F6F7F9;
                color: #909393;
                border-radius: 12px;
            }
    
            .sk-contact-7-form-btn {
                width: 100%;
                justify-content: center;
                border-radius: 12px;

                &::after {
                    border-radius: 12px;
                }

                &::before {
                    border-radius: 12px;
                }
            }
        }
    }


    &-related-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;

        .left {
            max-width: 300px;
        }
        
        .right {
            max-width: 430px;
        }

        .sec-disc {
            margin-bottom: 32px;
        }
    }
}
.sk-blog-details-Standard {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
/* 
    blog-details-end
*/