/* 
    blog-5-start
*/
.sk-blog-5 {
    &-area {
        background-color: #F9F9F9;
    }
    &-sec-title {
        max-width: 670px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 12px;
        }
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.42fr;
        gap: 24px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-item {
        .item-img {
            height: 394px;
            border-radius: 24px;
            margin-bottom: 20px;
        }

        .content-wrap {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: start;
            padding: 0 12px;
        }



        .blog-meta {
            display: flex;
            gap: 12px;
            flex-wrap: wrap;
            margin-bottom: 8px;

            li {
                &:not(:first-child) {
                    position: relative;
                    z-index: 1;
                    padding-left: 15px;

                    &::after {
                        content: "";
                        width: 5px;
                        height: 5px;
                        background-color: var(--sk-clr-black-7);
                        border-radius: 50%;
                        position: absolute;
                        top: 9px;
                        left: 0;
                    }
                }
            }
        }

        .title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 20px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
        }


        .tags-x-date {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
        }

        .blog-tags {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;

            li {
                border: 1px solid #E5E5E5;
                border-radius: 100px;
                font-size: 15px;
                padding: 4px 12px;
            }
        }


        .blog-btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #E5E5E5;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            margin-top: 28px;
            flex: 0 0 auto;
        }
        

        &:is(.has-v2) {
            .item-img {
                height: 230px;
            }
            .title {
                font-size: 22px;
                @media #{$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }
            }
        }
    }

    &-right {
        &-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;

            @media #{$lg} {
                grid-template-columns: 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
        }

    }

    &-all-btn {
        text-align: right;
        margin-top: 82px;
    }
    

    &-bottom-line {
        background: linear-gradient(
                    to right,
                    rgba(229, 229, 229, 0) 0%,
                    rgba(229, 229, 229, 0.7) 25%,
                    rgba(229, 229, 229, 1) 50%,
                    rgba(229, 229, 229, 0.7) 75%,
                    rgba(229, 229, 229, 0) 100%
                    );
        width: 100%;
        height: 1px;

    }
}
/* 
    blog-5-end
*/