
/* 
    breadcrumb-start
*/

.sk-breadcrumb {
    &-area {
        padding-top: 100px;
        position: relative;
        z-index: 1;
    }


    &-title {
        font-family: var(--sk-font-1);
        font-size: 52px;
        line-height: 140%;
        font-weight: 500;
        letter-spacing: -0.03em;
        color: var(--sk-clr-black-6);
        margin-bottom: 20px;
        text-align: center;
    
        @media #{$xl} {
            font-size: 50px;
        }
    
        @media #{$lg} {
            font-size: 48px;
        }
    
        @media #{$md} {
            font-size: 45px;
        }
    
        @media #{$xs} {
            font-size: 35px;
        }
    
        @media #{$sm} {
            font-size: 40px;
        }


        
        .title-icon {
            width: 120px;
            height: 56px;
            background: var(--sk-clr-gd-7);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;

            &:is(.has-1) {
                img {
                    animation: swing 5s ease-in-out infinite;
                    transform-origin: right bottom;
                }
            }

            &:is(.has-2) {
                background: #663CF6;

                img {
                    animation: swing 5s ease-in-out infinite;
                    transform-origin: center bottom;
                }
            }
        }
    }

    &-disc {
        font-family: var(--sk-font-1);
        color: var(--sk-clr-black-7);
        text-align: center;
        line-height: 150%;
        font-size: 18px;
        letter-spacing: -0.03em;
        margin-bottom: 0;
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
    }

    &-list {
        position: relative;
        z-index: 2;

        & a,& span {
            font-weight: 500;
            font-size: 14px;
            font-family: var(--sk-font-1);
            line-height: 120%;
            color: var(--sk-clr-black-6);
            text-decoration: none;
            display: inline-block;
        }

        & a {
            position: relative;
            transition: 300ms;

            &:hover {
                color: var(--sk-clr-pr-7);
            }

            &::after {
                content: "/";
                margin-left: 4px;
            }
        }
        & span {
            color: var(--sk-clr-pr-1);
        }

    }

    &-shape {
        position: relative;
        z-index: 1;

        @media #{$md} {
            margin-bottom: -60px;
        }

        @media #{$xs} {
            margin-bottom: -100px;
        }

        @media #{$sm} {
            margin-bottom: -80px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background: linear-gradient(0deg, #00000000, #f6f7f9);
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background: linear-gradient(180deg, #00000000, #f6f7f9);
        }

        svg {
            width: 100%;
        }
    }
       
    &-line {
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg, rgba(102, 102, 102, 0) 0%, rgba(102, 102, 102, 0.03) 20.73%, rgba(102, 102, 102, 0.05) 50.27%, rgba(102, 102, 102, 0.03) 83.69%, rgba(102, 102, 102, 0) 100%);
        margin-bottom: 14px;
    }

    &-dot {
        &-shape-1 {
            position: absolute;
            top: 100px;
            left: 0;
            z-index: 2;
            clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);

            @media #{$xs} {
                display: none;
            }
        }
        &-shape-2 {
            position: absolute;
            top: 100px;
            right: 0;
            z-index: 2;
            transform: scaleX(-1);
            clip-path: polygon(0 0, 100% 0, 87% 100%, 0% 100%);

            @media #{$xs} {
                display: none;
            }
        }
    
    }
}



/* 
    breadcrumb-end
*/


/* 
    404-PAGE-START
*/

.pn-not-found {
    &-area {
        padding-top: 330px;
        padding-bottom: 350px;
    }


    &-img {
        margin-bottom: 50px;
        text-align: center;

        img {
            margin-left: -170px;

            @media #{$xs} {
                margin-left: 0px;
            }
        }
    }


    &-title {
        font-family: var(--pn-font-1);
        font-size: 50px;
        line-height: 1.071;
        color: #000;
        font-weight: 800;
        margin-bottom: 45px;

        @media #{$md} {
            font-size: 45px;
        }
    
        @media #{$xs} {
            font-size: 35px;
        }
    
        @media #{$sm} {
            font-size: 40px;
        }

    }

}

/* 
    404-PAGE-END
*/