/* 
    cta-1-start
*/
.sk-cta-1 {
    &-wrap {
        background: #000;
        border-radius: 30px;
        padding: 80px;
        overflow: hidden;

        @media #{$xs} {
            padding: 80px 30px;
        }
    }

    &-content {
        max-width: 536px;

        .sk-sec-title-1 {
            font-size: 40px;
            margin-bottom: 22px;

            @media #{$md} {
                font-size: 35px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
            @media #{$sm} {
                font-size: 33px;
            }
        }

        .sec-disc {
            margin-bottom: 55px;
        }

        .notice {
            font-size: 15px;
            margin-top: 16px;
        }
    }


    &-form {
        &-input {
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(32px);
            border-radius: 8px;
            width: 100%;
            height: 60px;
            padding-left: 24px;
            padding-right: 150px;
            color: rgb(255 255 255 / 60%);
        }

        &-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            padding: 14.5px 23px;
            background: var(--sk-clr-pr-1);

            .bg-clr {
                opacity: 0;
            }

            &:hover {
                .bg-clr {
                    opacity: 1;
                }
            }
        }
    }
    

    &-img {
        width: 51%;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;


        img {
            transform: translate(150px, 150px);
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        &-layer-1 {
            width: 100%;
            height: 110%;
            background: rgba(242, 233, 255, 0.1);
            backdrop-filter: blur(6px);
            border-radius: 12px;
            transform: matrix(1, 0, 0.5, 0.87, 0, 0) translate(150px, 150px);
            position: absolute;
            top: 0;
            right: -103px;
            z-index: -1;
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        &-layer-2 {
            content: "";
            width: 100%;
            height: 107%;
            background: rgba(242, 233, 255, 0.1);
            backdrop-filter: blur(6px);
            border-radius: 12px;
            transform: matrix(1, 0, 0.5, 0.87, 0, 0) translate(150px, 150px);
            position: absolute;
            top: 24px;
            right: -89px;
            z-index: -2;
            opacity: 0;
            transition: var(--sk-cube-1);
        }

        &:is(.active) {
            .sk-cta-1-img-layer-1 {
                transform: matrix(1, 0, 0.5, 0.87, 0, 0) translate(0px, 0px);
                opacity: 1;
                transition-delay: .6s;
            }
            .sk-cta-1-img-layer-2 {
                transform: matrix(1, 0, 0.5, 0.87, 0, 0) translate(0px, 0px);
                opacity: 1;
                transition-delay: .3s;
            }
            img {
                transform: translate(0px, 0px);
                opacity: 1;
                transition-delay: .9s;
            }
        }
    }



    &-clr-glow-2 {
        mask-image: url(../img/cta/cta-1-mask-1.png);
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        mask-position: center center;

        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        z-index: -3;
        width: 63%;

    }

    &-clr-glow-1 {
        mask-image: url(../img/cta/cta-1-mask-2.png);
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        mask-position: center center;

        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: -3;
        width: 39%;

    }

    &-bg-img {
        position: absolute;
        top: -70px;
        left: -70px;
        width: calc(100% + 140px);
        height: calc(100% + 140px);

        @media #{$xxl,$xl,$lg,$md,$xs} {
            display: none;
        }
        
        img {
            width: 100%;
            height: 100%;
            animation: sk-cta-1-bg-img 4s ease-in-out infinite;
        }
    }

}

@keyframes sk-cta-1-bg-img {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

/* 
    cta-1-end
*/

/* 
    cta-2-start
*/
.sk-cta-2 {


    &-bg-shape-1 {
        width: 21%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
    }

    &-bg-shape-2 {
        width: 21%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;
        text-align: right;
    }

    &-wrap {
        padding: 85px 20px;
        background: radial-gradient(50% 50% at 50% 50%, #59D51D 0%, #4AB815 100%);
        border-radius: 20px;
        overflow: hidden;
        border: 8px solid #FFFFFF;
        box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.1);
        border-radius: 24px;

        &::after {
            content: "";
            position: absolute;
            width: 381px;
            height: 381px;
            background: #FFFFFF;
            filter: blur(137px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        .bg-shape {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }

    &-sec-title {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 16px;
            margin-bottom: 35px;
        }

        .cta-btn {
            background: linear-gradient(92.67deg, #59D51D 0.2%, rgba(255, 255, 255, 0.48) 28.13%, rgba(255, 255, 255, 0.48) 74.52%, #59D51D 100.2%);
            border: 1px solid #59D51D;
            box-shadow: 6px 12px 14px rgba(59, 152, 15, 0.32);
            border-radius: 8px;

            &:hover {
                i {
                    color: var(--sk-clr-black-3);
                }
            }
        }
    }
}


/* 
    cta-2-end
*/

/* 
    cta-3-start
*/
.sk-cta-3 {
    &-area {
        position: relative;

        &::after {
            content: "";
            max-width: 550px;
            width: 100%;
            height: 350px;
            background: var(--sk-clr-pr-3);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            filter: blur(71px);
            z-index: -1;
        }
    }
    &-wrap {
        padding: 101px 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
        max-width: 666px;
        margin-left: auto;
        margin-right: auto;

        .title {
            font-size: 40px;

            
            @media #{$md} {
                font-size: 36px;
            }

            @media #{$xs} {
                font-size: 32px;
            }

            @media #{$sm} {
                font-size: 34px;
            }
        }
        
        .item-btn {
            .sk-pr-btn-4 {
                box-shadow: 8px 14px 31px rgba(0, 0, 0, 0.4);
                border-radius: 100px;
            }
        }
    }
}

/* 
    cta-3-end
*/

/* 
    cta-4-start
*/
.sk-cta-4 {
    &-area {
        position: relative;
        z-index: 2;
    }
    &-wrap {
        background-color: var(--sk-clr-black-4);
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1.15fr 1fr;
        gap: 50px;
        align-items: center;
        padding: 90px 80px;

        @media #{$lg} {
            padding: 90px 30px;
        }

        @media #{$md,$xs} {
            padding: 90px 20px;
            grid-template-columns: 1fr;
        }
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    

    &-sec-title {
        color: #fff;
    }

    &-content {
        .disc {
            color: #fff;
            margin-bottom: 20px;
        }

        .btn-wrap {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }


    &-bg-img-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
}

/* 
    cta-4-end
*/

/* 
    cta-6-start
*/
.sk-contact-6 {
    &-area {
        background: linear-gradient(193.36deg, #0F0E0C 9.6%, rgba(15, 14, 12, 0) 90.4%);
        border-radius: 72px 72px 0px 0px;

        @media #{$xs} {
            border-radius: 20px 20px 0px 0px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.04fr;
        gap: 50px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-sec-title {
        max-width: 490px;
    }


    &-info {
        max-width: 416px;
        display: grid;
        gap: 20px;

        &-single {
            text-align: center;
            padding: 40px 40px;
            border-radius: 24px;
            background-color: #000;
            border: 1px solid rgb(255 255 255 / 10%);
            position: relative;
            z-index: 1;
            transition: var(--sk-cube-1);

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                border-radius: 24px;
                background: linear-gradient(
                    to right,
                    #762610 0%,
                    #0F0402 25%,
                    #571709 50%,
                    #0F0402 75%,
                    #762610 100%
                  );
                  
                padding: 1px;
                z-index: 1;
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                opacity: 0;
                transition: var(--sk-cube-1);
                pointer-events: none;
            }
        
            .icon {
                margin-bottom: 24px;
            }
        
            .title {
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 10px;
            }
        
            .disc {
                opacity: 80%;
                transition: var(--sk-cube-1);
                border-bottom: 1px solid transparent;
                display: inline-block;

                a {
                    transition: var(--sk-cube-1);
                }

                &:hover {
                    opacity: 1;
                    color: var(--sk-clr-pr-6);
                    border-color: var(--sk-clr-pr-6);
                }
            }

            &:hover  {
                .icon {
                    animation: shakeX2 .5s;
                }
                &::before {
                    opacity: 1;
                }
            }
        }
        
    }

    &-form {
        border-radius: 24px;
        border: 1px solid rgb(255 255 255 / 20%);
        padding: 40px 40px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        &-label {
            margin-bottom: 15px;
            span {
                color: var(--sk-clr-pr-6);
            }
        }

        &-input {
            height: 50px;
            border-radius: 100px;
            padding: 0 20px;
            width: 100%;
            background-color: rgb(255 255 255 / 5%);
            border: 1px solid rgb(255 255 255 / 6%);


            color: rgb(255 255 255 / 60%);
            font-size: 15px;


            &:is(textarea) {
                height: 155px;
                padding-top: 20px;
                display: block;
                border-radius: 20px;
            }
        }

        &-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            margin-top: 28px;
            background-color: transparent;
            width: 100%;
            border-radius: 100px;
            padding: 18px 17px;

            &::before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                border-radius: 100px;
                background: linear-gradient(
                    to right,
                    #EE9737 0%,
                    #DC5729 25%,
                    #571709 50%,
                    #DC5729 75%,
                    #EE9737 100%
                    );
                    
                padding: 1px;
                z-index: 1;
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                border: none;
                transition: var(--sk-cube-1);
            }

            &::after {
                opacity: 0;
                transition: var(--sk-cube-1);

                width: 110%;
                height: 1010%;
                top: -264px;
                left: -27px;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
                &::before {
                    opacity: 0;
                }
            }
        }


        .input-box.has-full-width {
            grid-column-end: -1;
            grid-column-start: 1;
        }
    }
}

/* 
    cta-6-end
*/

/* 
    cta-7-start
*/
.sk-cta-7 {
    &-area {
        padding-top: 160px;
        padding-bottom: 160px;
    }


    &-content {
        max-width: 710px;
        margin-left: auto;
        margin-right: auto;

        .title {
            font-size: 80px;
            font-weight: 500;
            color: #fff;
            line-height: 1;
            margin-bottom: 10px;
            padding-bottom: 10px;

            @media #{$xxl} {
                font-size: 65px;
            }

            @media #{$xl} {
                font-size: 56px;
            }


            @media #{$lg} {
                font-size: 48px;
            }
        
            @media #{$md} {
                font-size: 44px;
            }
        
            @media #{$xs} {
                font-size: 36px;
            }
        
            @media #{$sm} {
                font-size: 40px;
            }
        }

        .disc {
            margin-bottom: 40px;
            font-size: 18px;
            color: #fff;
        }

        .btn-wrap {
            display: inline-flex;
            gap: 12px;
            flex-wrap: wrap;
            justify-content: center;

            .sk-pr-btn-13 {
                &:not(.has-border) {
                    color: #000;
                    &::before {
                        background: #fff;
                    }

                    .icon {
                        background-color: #000;
                        color: #fff;
                    }

                    &:hover {
                        color: #fff;
                    }
                }
                &:is(.has-border) {
                    color: #fff;

                    .icon {
                        background-color: #fff;
                        color: #000;
                    }
                }


            }
        }
    }
    
    &-bg-dot-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    &-bg-dot-2 {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}
/* 
    cta-7-end
*/

