/* 
    error-start
*/
.sk-error-content {
    .error-img {
        margin-bottom: 40px;
    }
    .title {
        font-size: 40px;
        margin-bottom: 16px;

        @media #{$lg} {
            font-size: 38px;
        }
    
        @media #{$md} {
            font-size: 36px;
        }
    
        @media #{$xs} {
            font-size: 32px;
        }
    
        @media #{$sm} {
            font-size: 34px;
        }
    }
    .disc {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
}
/* 
    error-end
*/