/* 
    faqs-start
*/

.sk-accordion-1 {
    display: flex;
    flex-direction: column;
    border: 1px solid #24293D;
    &-item {
        width: 100%;
        transition: 0.3s;
        padding: 29px 40px;
        background-color: transparent;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: var(--sk-cube-1);

        &::after {
            content: "";
            width: 181px;
            height: 181px;
            background: var(--sk-clr-pr-1);
            filter: blur(82px);
            border-radius: 50%;
            position: absolute;
            right: -90px;
            bottom: -100px;
            z-index: -1;
            transition: var(--sk-cube-1);
            opacity: 0;
        }

        &::before {
            content: "";
            width: 181px;
            height: 181px;
            background: #FFFFFF;
            opacity: 0.6;
            filter: blur(82px);
            border-radius: 50%;
            position: absolute;
            top: -129px;
            left: -50px;
            z-index: -1;
            transition: var(--sk-cube-1);
            opacity: 0;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #24293D;
        }

        .item-title {
            font-size: 20px;
            font-weight: 500;
            background: transparent;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25px;
            text-align: left;
            transition: var(--sk-cube-1);


            .icon {
                transition: var(--sk-cube-1);
            }
            
    
            &:is(:not(.collapsed)) {
                .icon {
                    transform: rotate(-180deg);
                }

            }

            &:is(.collapsed) {

            }


            &:hover {
                color: var(--sk-clr-sd-1);
            }


        }
        
        .item-disc {
            padding-right: 60px;
            margin-top: 20px;
        }


        &:is(.active) {
            background-color: #24293D;
            .item-title {
                color: var(--sk-clr-sd-1);
            }

            &::after {
                opacity: 1;
                transition-delay: .1s;
            }

            &::before {
                opacity: 1;
                transition-delay: .2s;
            }
        }

    }
    
}



.sk-faqs-1 {
    &-sec-title {
        max-width: 725px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 27px;
        }
    }

    &-wrap {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }


    &-animation {
        text-align: center;
        height: 462px;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        overflow: hidden;

        &-clr-glow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -2;
        }

        &-dot-svg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            overflow: visible;
        }
    }
}


/* 
    faqs-end
*/

/* 
    faqs-2-start
*/
.sk-faqs-2 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 75px;


        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
   

    }

    &-sec-title {
        padding-bottom: 130px;


        @media #{$over,$xxxl,$xxl,$xl,$lg} {
            position: sticky;
            top: 100px;
        }

        .sec-disc {
            margin-top: 18px;
        }
    }

    &-author {
        &-img {
            display: flex;
            margin-bottom: 16px;

            .single-img {
                width: 50px;
                height: 50px;
                box-shadow:  0px 0px 4px rgba(255, 255, 255, 0.68);
                backdrop-filter: blur(11.5px);
                border-radius: 50%;
                border: 3px solid #fff;
                &:not(:first-child) {
                    margin-left: -15px;
                }
            }
        }

        &-text {
            b {
                font-weight: 500;
                color: var(--sk-clr-black-3);
            }
        }
    }

    &-right {
        background: rgb(246 246 246 / 48%);
        border: 1px solid #FFFFFF;
        border-radius: 16px;
        padding: 20px 20px;

        .sk-accordion-1 {
            border: none;
            gap: 10px;

            &-item {
                background: #F6F6F6;
                box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                border: none;
                padding: 12px 12px;
 

                &::after {
                    display: none;
                }

                &::before {
                    display: none;
                }


                .item-title {
                    justify-content: start;
                    gap: 12px;
                    padding: 11px 10px;
                    font-weight: 400;
                    .icon-2 {
                        width: 14px;
                        height: 14px;
                        background: #EBEBEB;
                        box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.16);
                        border-radius: 50%;
                        position: relative;
                        z-index: 1;
                        transition: var(--sk-cube-1);

                        &::after {
                            content: "";
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background: var(--sk-clr-pr-2);
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            transition: var(--sk-cube-1);
                        }
                    }


                    &:is(:not(.collapsed)) {
                        font-weight: 500;
                        .icon-2 {
                            background: var(--sk-clr-pr-2);

                            &::after {
                                background: #EBEBEB;
                            }
                        }
                    }

                    &:hover {
                        color: var(--sk-clr-black-3);

                        .icon-2 {
                            background: var(--sk-clr-pr-2);

                            &::after {
                                background: #EBEBEB;
                            }
                        }
                    }
                    
                }


                .item-disc {
                    padding: 20px 20px;
                    font-size: 17px;
                    background: #fff;
                    border-radius: 6px;
                    margin-top: 12px;
                }
            }
        }
    }
}
/* 
    faqs-2-end
*/