/* 
    features-1-start
*/
.sk-features-1 {
    &-sec-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    
        .sec-disc {
            margin-top: 22px;
        }
    }

    &-wrap {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;

        .row-1 {
            display: grid;
            grid-template-columns: 1fr 1.44fr;
            gap: 20px;
            align-items: start;
            margin-bottom: 20px;

            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
        .row-2 {
            display: grid;
            grid-template-columns: 1.94fr 1fr;
            gap: 20px;
            align-items: start;

            @media #{$md,$xs} {
                grid-template-columns: 1fr;
            }
        }
    }
    
    &-item {
        &-1 {
            border-radius: 14px;
            background: rgba(17, 15, 32, 0.32);
            box-shadow: 0px 0px 1px 2px rgb(255 255 255 / 10%);
            backdrop-filter: blur(4px);
            padding: 32px 32px;
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::after {
                content: "";
                width: 243px;
                height: 243px;
                background: #8532F9;
                opacity: 0.4;
                filter: blur(57px);
                position: absolute;
                top: -120px;
                left: -10px;
                z-index: -3;
            }

            .title {
                font-size: 24px;
                margin-bottom: 9px;

                
                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }

            .disc {
                margin-bottom: 30px;
                letter-spacing: -0.02em;
            }

            .bg-glow {
                position: absolute;
                bottom: -40px;
                right: -40px;
                z-index: -1;
            }
            .bg-glow-2 {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -2;
            }

            .bg-glow-3 {
                position: absolute;
                right: 0;
                top: 0;
                z-index: -3;
            }


            
        }
        
        &-2 {
            border-radius: 14px;
            background: var(--sk-clr-black-2);
            box-shadow: 0px 0px 1px 2px rgb(255 255 255 / 10%);
            backdrop-filter: blur(4px);
            padding: 32px 32px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            height: 473px;

            @media #{$xs} {
                height: 553px;
            }

            @media #{$sm} {
                height: 473px;
            }


            .title {
                font-size: 24px;
                margin-bottom: 9px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }

            .disc {
                margin-bottom: 30px;
            }

            .main-img {
                position: absolute;
                top: 48%;
                left: 72px;
                width: 100%;
                transform: rotate(-8deg);
                transform-origin: top left;
                z-index: -1;

                @media #{$xs} {
                    top: 75%;
                }
    
                @media #{$sm} {
                    top: 48%;
                }

                img {
                    width: 100%;
                    transform: translate(150px, 150px);
                    opacity: 0;
                    transition: var(--sk-cube-1);
                }

                &::after {
                    content: "";
                    background: rgba(255, 255, 255, 0.02);
                    backdrop-filter: blur(2px);
                    border-radius: 16px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: -10px;
                    top: -10px;
                    z-index: -1;
                    transform: translate(150px, 150px);
                    opacity: 0;
                    transition: var(--sk-cube-1);
                }

                &::before {
                    content: "";
                    background: rgba(255, 255, 255, 0.03);
                    backdrop-filter: blur(2px);
                    border-radius: 16px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: -20px;
                    top: -20px;
                    z-index: -2;
                    transform: translate(150px, 150px);
                    opacity: 0;
                    transition: var(--sk-cube-1);
                }


                &:is(.active) {
                    &::before {
                        transform: translate(0px, 0px);
                        opacity: 1;
                        transition-delay: .3s;
                    }
                    &::after {
                        transform: translate(0px, 0px);
                        opacity: 1;
                        transition-delay: .6s;
                    }
                    img {
                        transform: translate(0px, 0px);
                        opacity: 1;
                        transition-delay: .9s;
                    }
                }
            }


            .dot-svg {
                position: absolute;
                top: 17%;
                left: 0;
                z-index: -1;
            }


            .favicon-wrap {
                position: absolute;
                top: 170px;
                left: 32px;
                width: 123px;
                height: 123px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(73, 71, 85, 0.04) 100%);
                backdrop-filter: blur(4px);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                z-index: 1;


                @media #{$xs} {
                    top: 270px;
                }
    
                @media #{$sm} {
                    top: 170px;
                }

                
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 50%; 
                    padding: 1px;
                    background: linear-gradient(0deg, var(--sk-clr-black-2) 0%, rgb(255 255 255 / 30%) 100%);
                    z-index: -1; 
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    animation: wa-rotated 6s ease-in-out infinite;

                }
  
            }

            .favicon-wrap-2 {
                width: 93.81px;
                height: 93.81px;
                background: linear-gradient(180deg, #380C72 0%, #1B1929 89.72%);
                backdrop-filter: blur(4px);
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 1;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 50%; 
                    padding: 1px;
                    background: linear-gradient(0deg, var(--sk-clr-black-2) 0%, rgb(255 255 255 / 50%) 100%);
                    z-index: -1; 
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                    animation: wa-rotated 6s ease-in-out infinite;
                    animation-delay: 1.5s;
                }
            }

            .favicon-logo {
                width: 64.63px;
                height: 64.63px;
                background: #FA9145;
                box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.58);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-top: 10px;
                }
            }


            .bg-glow-1 {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
            }

            .bg-glow-2 {
                position: absolute;
                top: 0;
                right: 0;
                z-index: -2;
            }

            .bg-glow-3 {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -2;
            }
        }

        &-3 {
            border-radius: 14px;
            background: var(--sk-clr-black-2);
            box-shadow: 0px 0px 1px 2px rgb(255 255 255 / 10%);
            backdrop-filter: blur(4px);
            padding: 32px 32px;
            position: relative;
            z-index: 1;
            overflow: hidden;


            .title {
                font-size: 24px;
                margin-bottom: 9px;
                
                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }



            .bg-glow-1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: -2;
                img {
                    width: 100%;
                }
            }

            .bg-glow-2 {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
            }

            &-wrap {
                display: grid;
                grid-template-columns: 255px 70px 1fr;
                align-items: center;
                margin-bottom: 24px;
            }
            
            &-img {
                &-1 {
                    background: rgba(30, 35, 58, 0.52);
                    box-shadow: inset 0px 0px 14px rgba(255, 255, 255, 0.26);
                    backdrop-filter: blur(3px);
                    border-radius: 12px;
                    padding: 24px 24px;
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 148px;
                        height: 148px;
                        background: var(--sk-clr-pr-1);
                        opacity: 0.6;
                        filter: blur(62px);
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        z-index: -1;
                    }

                    svg {
                        .path-6 {
                            // transform-origin: 53% 53% !important;
                        }
                    }
                }
            }


            &-favicon {
                position: relative;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon-elm {
                    width: 58px;
                    height: 58px;
                    background: #FFFFFF;
                    box-shadow: inset 0px 0px 14px #863AEB;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;

                    img {
                        margin-top: 4px;
                    }
                }
            }
            
        }

        &-4 {
            border-radius: 14px;
            background: var(--sk-clr-black-2);
            box-shadow: 0px 0px 1px 2px rgb(255 255 255 / 10%);
            backdrop-filter: blur(4px);
            padding: 32px 32px;
            position: relative;
            z-index: 1;
            overflow: hidden;


            .title {
                font-size: 24px;
                margin-bottom: 9px;
                
                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }


            &-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 27px;
                padding-bottom: 52px;
                position: relative;
                z-index: 1;

                @media #{$md,$xs} {
                    max-width: 370px;
                    margin-left: auto;
                    margin-right: auto;
                }


                .img-items {
                    display: grid;
                    gap: 14px;

                    &-single {
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        outline: 3px solid #714A48;
                    }
                }



                
                .favicon-wrap {
                    width: 100px;
                    height: 100px;
                    background: rgba(5, 2, 33, 0.12);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    z-index: 1;
                    position: relative;
                    z-index: 1;

                    
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 50%; 
                        padding: 1px;
                        background: linear-gradient(0deg, var(--sk-clr-sd-1) 0%, rgba(255, 255, 255, 0) 100%);
                        z-index: -1; 
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask-composite: exclude;
                        animation: wa-rotated 6s ease-in-out infinite;
                    }
    
                }

                .favicon-wrap-2 {
                    width: 82.81px;
                    height: 82.81px;
                    background: linear-gradient(180deg, #380C72 0%, #1B1929 89.72%);
                    backdrop-filter: blur(4px);
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 50%; 
                        padding: 1px;
                        background: linear-gradient(0deg, var(--sk-clr-black-2) 0%, rgb(255 255 255 / 50%) 100%);
                        z-index: -1; 
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask-composite: exclude;
                        animation: wa-rotated 6s linear infinite;
                        animation-delay: 1s;
                    }
                }

                .favicon-logo {
                    width: 71px;
                    height: 71px;
                    background: linear-gradient(92.62deg, #EA9354 0.03%, #8D40D7 54.05%, #863AEB 99.97%);
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 6px rgba(0, 0, 0, 0.58);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-top: 10px;
                    }
                }

            }

            &-line-svg {
                position: absolute;
                left: 12%;
                z-index: -1;
                overflow: visible;
            }

            &-line-svg-2 {
                position: absolute;
                right: 12%;
                z-index: -1;
                transform: scaleX(-1);
            }


            &-glow {
                position: absolute;
                top: 0;
                text-align: center;
                z-index: -3;
                left: 0;
                width: 100%;

                img {
                    margin-left: 27px;

                    animation: sk-features-1-item-4-glow  1.4s linear infinite;
                }


                


            }


            &-dot-svg {
                position: absolute;
                top: 0;
                left: 46%;
                transform: translateX(-50%);
                z-index: -1;
                width: 100%;
            }
            
        }
    }

    &-bg-clr {
        position: absolute;
        bottom: -50px;
        left: 0;
        width: 100%;
        text-align: center;
        z-index: -1;
    }
}
.sk-features-1-item-svg-1 {
    width: 100%;
}
.sk-features-1-item-3-img-1 {
    svg {
        width: 100%;
    }
}
.sk-features-1-item-3-img-2 {
    svg {
        width: 100%;
    }
}
@keyframes sk-features-1-item-4-glow {
    0% {
        opacity: .82;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .82;
    }
}

/* 
    features-1-end
*/

/* 
    features-2-start
*/
.sk-features-2 {
    &-container {
        max-width: 1816px;
        margin-left: auto;
        margin-right: auto;
        background: rgb(246 246 246 / 48%);
        border: 1px solid #FFFFFF;
        border-radius: 28px;
        padding: 32px 32px;

        .row-1 {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1.43fr;
        }
    }

    &-item-1 {
        background: #F0F0F0;
        border: 1px solid #FFFFFF;
        box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.1);
        border-radius: 14px;
        padding: 42px 44px;
        height: 420px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .title {
            font-size: 26px;
            margin-bottom: 15px;
        }

        .disc {
            max-width: 595px;
        }
        
        .circle-1 {
            width: 552px;
            height: 552px;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(240, 240, 240, 0) 55.46%);
            border-radius: 50%;
            border: 2px dashed rgb(89 213 29 / 30%);
            position: absolute;
            bottom: -320px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -2;

            &-line {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;

                &-bar-1 {
                    position: absolute;
                    top: 37px;
                    right: 84px;
          
                }

                &-bar-2 {
                    position: absolute;
                    bottom: 36px;
                    left: 86px;
           
                }
            }
            
        }
        
        .circle-2 {
            width: 433px;
            height: 433px;
            border-radius: 50%;
            border: 2px dashed rgb(89 213 29 / 30%);
            position: absolute;
            bottom: -260px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -2;

            &-line {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;

                &-bar-1 {
                    position: absolute;
                    top: 0px;
                    left: 135px;
                }

                &-bar-2 {
                    position: absolute;
                    bottom: 0px;
                    right: 137px;
                    transform: scale(-1);
                }
            }
            
        }
        
        .circle-3 {
            width: 284px;
            height: 284px;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(240, 240, 240, 0) 55.46%);
            border-radius: 50%;
            border: 2px dashed rgb(89 213 29 / 30%);
            position: absolute;
            bottom: -181px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;

            &-line {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;

                &-bar-1 {
                    position: absolute;
                    top: 1px;
                    right: 41px;
                }

                &-bar-2 {
                    position: absolute;
                    bottom: 4px;
                    left: 39px;
                }
            }
            
        }


        .glow-1 {
            width: 67.94px;
            height: 67.94px;
            background: #59D51D;
            filter: blur(32px);
            position: absolute;
            bottom: 160px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -3;
        }

        .glow-2 {
            width: 97.94px;
            height: 97.94px;
            background: #59D51D;
            filter: blur(37px);
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -2;
        }

        .favicon-elm {
            position: absolute;
            bottom: 17px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }


        .item-icon {
            line-height: 1;
            background: linear-gradient(to right, #002101 0%, #008704 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 25px;

            &-border {
                width: 52px;
                height: 52px;
                background: linear-gradient(180deg, #FFFFFF 0%, #D9D9D9 100%);
                box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                z-index: 1;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 50%;
                    padding: 1px; 
                    background: linear-gradient(to bottom, #D9D9D9 0%, #FFFFFF 100%);
                    z-index: -1; 
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    mask-composite: exclude;
                
                }
  
  
            }
        }

        .item-icon-border {
            &:is(.has-5) {
                bottom: 33px;
                right: 230px;
            }
            &:is(.has-4) {
                bottom: 140px;
                left: 54%;
            }
            &:is(.has-3) {
                right: 119px;
                bottom: 101px;
            }
            &:is(.has-2) {
                bottom: 40px;
                left: 144px;
            }
            &:is(.has-1) {
                bottom: 169px;
                left: 193px;
            }
        }
    }


    &-item-2 {
        background: #F0F0F0;
        border: 1px solid #FFFFFF;
        box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.1);
        border-radius: 14px;
        padding: 42px 44px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .title {
            font-size: 26px;
            margin-bottom: 15px;
        }

        .disc {
            max-width: 595px;
        }

        .content {
            margin-bottom: 30px;
        }

        .inner-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 154px;
                height: 154px;
                background: var(--sk-clr-pr-2);
                filter: blur(122px);
                position: absolute;
                left: 50%;
                bottom: 0px;
                transform: translateX(-50%);
                z-index: -1;
            }
        }
        
        .item-features {
            display: flex;
            flex-direction: column;
            gap: 52px;
            align-items: self-start;

            &-single {
                background: #F0F0F0;
                box-shadow: -4px -4px 12px #FFFFFF, 7px 5px 12px rgba(0, 0, 0, 0.14), inset 0px 2px 4px #AEE195;
                border-radius: 40px;
                display: inline-flex;
                align-items: center;
                gap: 6px;
                font-size: 12px;
                color: var(--sk-clr-black-1);
                padding: 6px 9px;
                 
                i {
                    color: var(--sk-clr-pr-2);
                }
            }

            &:nth-child(1) {
                .item-features-single {
                    &:nth-child(1) {
                        margin-left: 33px;
                    }
                    &:nth-child(3) {
                        margin-left: 75px;
                        margin-top: 10px;
                    }
                }
            }

            &:nth-child(3) {
                align-items: end;

                .item-features-single {
                    &:nth-child(1) {
                        margin-right: 33px;
                    }
                    &:nth-child(3) {
                        margin-right: 75px;
                        margin-top: 10px;
                    }
                }
            }
        }


        .item-favicon-border {
            width: 94px;
            height: 94px;
            background: #FFFFFF;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25), inset 0px -4px 4px rgba(0, 33, 1, 0.3), inset 0px 4px 4px #59D51D;
            border-radius: 79px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;

            &-line-1 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid var(--sk-clr-pr-2);
                border-radius: 50%;
                animation: skf2item-favicon-border-line-3 3s linear infinite;
            }

            &-line-2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid var(--sk-clr-pr-2);
                border-radius: 50%;
                animation: skf2item-favicon-border-line-3 3s linear infinite;
                animation-delay: 1s;
            }

            &-line-3 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid var(--sk-clr-pr-2);
                border-radius: 50%;
                animation: skf2item-favicon-border-line-3 3s linear infinite;
                animation-delay: 2s;
            }
        }
     
        
        &-svg-line {
            position: absolute;
            left: 95px;
            bottom: 5px;
            z-index: -1;
        }
        
        &-svg-line-2 {
            position: absolute;
            transform: scaleX(-1);
            right: 95px;
            bottom: 5px;
            z-index: -1;
        }
    }
    
}


@keyframes skf2item-favicon-border-line-3 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

/* 
    features-2-end
*/