/* 
    footer-1-start
*/
.sk-footer-1 {
    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 128px;

        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
            gap: 50px;
        }
    }

    &-widget {
        &:nth-child(1) {
            margin-right: auto;
        }
        .widget-title {
            font-size: 16px;
            font-weight: 500;
            color: var(--sk-clr-sd-1);
            margin-bottom: 25px;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            list-style: none;

            li {
                a {
                    font-family: var(--sk-font-2);
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;
                    opacity: .8;
                    line-height: 1;

                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: var(--sk-cube-1);
                    transition: var(--sk-cube-1);

                    &:hover {
                        opacity: 1;
                        color: var(--sk-clr-sd-1);
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }

    &-big {
        &-title-text {
            text-align: center;
            font-size: 285px;
            line-height: 1;
            font-weight: 700;
            opacity: 5%;

            @media #{$xl} {
                font-size: 220px;
            }

            @media #{$lg} {
                font-size: 195px;
            }

            @media #{$md} {
                font-size: 145px;
            }

            @media #{$xs} {
                display: none;
            }
        }

        &-title {
            overflow: hidden;
            height: 186px;
            text-align: center;
            border-bottom: 1px solid rgb(255 255 255 / 20%);
            margin-top: -40px;
            @media #{$lg} {
                height: 166px;
            }
            @media #{$md} {
                height: 126px;
            }
        }
    }
    

    &-bottom {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        padding: 28px 0;
    }
    

    &-copyright {
        opacity: 1;
        color: rgb(255 255 255 / 64%);

        a {
            color: #fff;
            transition: var(--sk-cube-1);

            &:hover {
                color: var(--sk-clr-sd-1);
            }
        }
    }
    
    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        

        a {
            width: 48px;
            height: 48px;
            background: #110F20;
            box-shadow: inset 0px 0px 10px rgba(152, 147, 183, 0.7);
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: var(--sk-cube-1);

            &:hover {
                background: var(--sk-clr-sd-1);
                color: #000;
            }
        }
    }

    &-bg-shape-1 {
        width: 21%;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: -1;
    }
    
    &-bg-shape-2 {
        text-align: right;
        width: 21%;
        position: absolute;
        right: 0;
        top: -100px;
        z-index: -1;
    }
    
}

/* 
    footer-1-end
*/

/* 
    footer-2-start
*/
.sk-footer-2 {

    &-area {
        &::after {
            content: "";
            position: absolute;
            width: 525px;
            height: 210px;
            background: #59D51D;
            opacity: 0.4;
            filter: blur(157px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
        }
    }


    &-bg {
        &-shape-1 {
            width: 28%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;
        }

        &-shape-2 {
            width: 28%;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -2;
            text-align: right;
        }
    
    }
    
    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 110px;

        @media #{$xl,$lg,$md,$xs} {
            gap: 50px;
            flex-wrap: wrap;
        }
    }

    &-widget {
        .widget-title {
            font-size: 16px;
            color: var(--sk-clr-pr-2);
            position: relative;
            z-index: 1;
            padding-bottom: 13px;
            margin-bottom: 24px;

            &::after {
                content: "";
                width: 63px;
                height: 1px;
                position: absolute;
                bottom: 4px;
                left: 0;
                background: var(--sk-clr-pr-2);
                border-radius: 3px;
            }

            &::before {
                content: "";
                width: 25px;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: var(--sk-clr-pr-2);
                border-radius: 3px;
            }
        }



        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                a {
                    font-family: var(--sk-font-1);
                    font-size: 18px;
                    line-height: 1.3;
                    font-weight: 400;
                    color: var(--sk-clr-black-3);
                    opacity: .8;


                    
                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: var(--sk-cube-1);
                    transition: var(--sk-cube-1);

                    &:hover {
                        opacity: 1;
                        color: var(--sk-clr-pr-2);
                        background-size: 100% 100%;
                    }
                }
            }
        }
        

        &:last-child {
            max-width: 480px;
            width: 100%;
        }
    }


    &-contact {
        max-width: 252px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .contact-item {
            display: flex;
            align-items: center;
            gap: 20px;
            transition: var(--sk-cube-1);

            svg {
                flex: 0 0 auto;
            }
            .line {
                width: 1px;
                height: 64px;
                background: radial-gradient(50% 50% at 50% 50%, #666B66 0%, #EBEBEB 100%);
                opacity: 0.32;
                flex: 0 0 auto;
            }

            .text {
                opacity: .8;
                transition: var(--sk-cube-1);
                display: block;
                
                &:hover {
                    opacity: 1;
                    color: var(--sk-clr-pr-2);
                }
            }

        }
    }


    &-newsletter {
        max-width: 480px;
        width: 100%;

        .title {
            font-size: 22px;
            margin-bottom: 10px;

            svg {
                .bell-icon-1 {
                    transform-origin: center top;
                    animation: swing 3s ease-in-out infinite;
                }
            }
        }

        .disc {
            margin-bottom: 13px;
        }

        &-form {
            position: relative;
            z-index: 1;

            .form-input {
                width: 100%;
                background: #F6F6F6;
                border: 1px solid #FFFFFF;
                box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                height: 60px;
                padding-left: 24px;
                padding-right: 125px;
                color: rgb(0 0 0 / 40%);
                font-size: 16px;
            }

            .form-btn {
                position: absolute;
                right: 8px;
                top: 8px;
                background: #454B45;
                box-shadow: 4px 8px 14px rgba(0, 33, 1, 0.6), inset 0px 0px 9px rgba(255, 255, 255, 0.2);
                border: none;
                padding: 14px 20px;
                color: #fff;

                &:hover {
                    background: var(--sk-clr-pr-2);
                    box-shadow: none;
                }
            }
        }
    }
    

    &-bottom {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        border-top: 1px solid rgb(0 0 0 / 10%);
        padding: 16px 0px;

        &-copyright {
            opacity: 60%;
            color: var(--sk-clr-black-3);
        }
        
        &-link {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            a {
                font-family: var(--sk-font-1);
                font-size: 18px;
                font-weight: 400;
                color: var(--sk-clr-black-3);
                opacity: 60%;
                transition: var(--sk-cube-1);

                &:hover {
                    color: var(--sk-clr-pr-2);
                    opacity: 1;
                }
            }
        }
    }
    
    
}
/* 
    footer-2-end
*/