/* 
    footer-1-start
*/
.sk-footer-1 {
    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 128px;
    }

    &-widget {
        &:nth-child(1) {
            margin-right: auto;
        }
        .widget-title {
            font-size: 16px;
            font-weight: 500;
            color: var(--sk-clr-sd-1);
            margin-bottom: 25px;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            list-style: none;

            li {
                a {
                    font-family: var(--sk-font-2);
                    color: #fff;
                    font-weight: 500;
                    font-size: 18px;
                    opacity: .8;
                    line-height: 1;

                    width: 100%;
                    display: inline !important;
                    background-position-y: 0px;
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                    -webkit-transition: var(--sk-cube-1);
                    transition: var(--sk-cube-1);

                    &:hover {
                        opacity: 1;
                        color: var(--sk-clr-sd-1);
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }

    &-big {
        &-title-text {
            text-align: center;
            font-size: 290px;
            line-height: 1;
            font-weight: 700;
            opacity: 5%;
        }

        &-title {
            overflow: hidden;
            height: 186px;
            text-align: center;
            border-bottom: 1px solid rgb(255 255 255 / 20%);
        }
    }
    

    &-bottom {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        padding: 28px 0;
    }
    

    &-copyright {
        opacity: 1;
        color: rgb(255 255 255 / 64%);

        a {
            color: #fff;
            transition: var(--sk-cube-1);

            &:hover {
                color: var(--sk-clr-sd-1);
            }
        }
    }
    
    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        

        a {
            width: 48px;
            height: 48px;
            background: #110F20;
            box-shadow: inset 0px 0px 10px rgba(152, 147, 183, 0.7);
            border-radius: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: var(--sk-cube-1);

            &:hover {
                background: var(--sk-clr-sd-1);
                color: #000;
            }
        }
    }

    &-bg-shape-1 {
        width: 21%;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: -1;
    }
    
    &-bg-shape-2 {
        text-align: right;
        width: 21%;
        position: absolute;
        right: 0;
        top: -100px;
        z-index: -1;
    }
    
}

/* 
    footer-1-end
*/