/* 
    gallery-1-start
*/
.sk-gallery-1 {
    &-author {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        
        .sk-hero-6-author {
            padding: 1px;
            margin-bottom: 0;
        
            &::after {
                background: var(--sk-clr-gd-7);
            }
        
            &-bg {
                padding: 2px;
                .single-img {
                    width: 44px;
                    height: 44px;
                }
            }
        }

        
        &-content {
            text-align: left;

            .title {
                font-size: 20px;
            }
        }
        
    }


    &-item {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 20px;

        &-single {
            max-width: 340px;
            height: 440px;
            flex: 0 0 auto;
            border-radius: 20px;

            @media #{$lg,$md,$xs} {
                max-width: 300px;
                height: 340px;
            }

            &:nth-child(even) {
                height: 340px;

                @media #{$lg,$md,$xs} {
                    height: 240px;
                }
            }
        }
    }
    
}

/* 
    gallery-1-end
*/

/* 
    gallery-2-start
*/
.sk-gallery-2 {
    &-sec-title  {
        max-width: 610px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 16px;
        }
    }
}
/* 
    gallery-2-end
*/