/*
    15. header
*/

/* 
    header-1-start
*/
.sk-header-1 {

    &-area {
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 3;

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            background: #3619C3;
            position: absolute;
            border-radius: 50%;
            filter: blur(91px);
            transform: translateX(-50%);
            left: 50%;
            top: -180px;
            z-index: 1;
            pointer-events: none;
        }
        
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-menu {
        @media #{$over,$xxxl,$xxl,$xl} {
            background: rgba(255, 255, 255, 0.06);
            border: 1.4px solid rgba(255, 255, 255, 0.1);
            box-shadow: inset -4px -1px 8px rgba(134, 58, 235, 0.31);
            backdrop-filter: blur(5px);
            border-radius: 8px;
            padding: 0 28px;
        }


        &::after {
            content: "";
            width: 150px;
            height: 1.5px;
            background: radial-gradient(50% 2785.71% at 50% 50%, #EA9354 0%, #8D40D7 54.06%, #3E3555 100%);
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
            animation: skHeader1Line 10s ease-in-out infinite;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }

        &::before {
            content: "";
            width: 150px;
            height: 4px;
            background: radial-gradient(50% 2785.71% at 50% 50%, #EA9354 0%, #8D40D7 54.06%, rgba(62, 53, 85, 0) 100%);
            filter: blur(2px);
            border-radius: 2px;
            position: absolute;
            top: -1px;
            left: 0;
            animation: skHeader1Line 10s ease-in-out infinite;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }

    &-action-link {
        display: flex;
        gap: 8px;
        align-items: center;

        .sk-pr-btn-1 {
            padding: 16px 23px;

            @media #{$xs} {
                display: none;
            }

            @media #{$sm} {
                display: inline-flex;
            }
        }

        .sk-pr-btn-2 {
            padding: 16px 23px;
            background: var(--sk-clr-pr-1);
            @media #{$xs} {
                display: none;
            }

            @media #{$sm} {
                display: inline-flex;
            }


            .bg-clr {
                opacity: 0;
            }

            &:hover {
                .bg-clr {
                    opacity: 1;
                }
            }

        }

        .sk-offcanvas-btn-1 {
            @media #{$over,$xxxl,$xxl,$xl} {
                display: none;
            }
        }
    }
}

@keyframes skHeader1Line {
    0% {
        left: 3%;
    }
    50% {
        left: 73%;
    }
    100% {
        left: 3%;
    }
}




.sk-main-navigation {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;

        li {
            flex: 0 0 auto;

            a {
                position: relative;
                z-index: 1;
                font-family: var(--sk-font-1);
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                text-decoration: none;
                color: #fff;
                padding: 12px 0;
                display: inline-flex;
                align-items: center;
                transition: var(--sk-cube-1);
            }

            &:is(.dropdown) {
                > a {
                    padding-right: 18px;

                    &::before {
                        display: block;
                        content: "";
                        background-image: url("../img/illus/menu-1-arrow.svg");
                        width: 11px;
                        height: 8px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
    
            &:hover {

                > a {
                    color: var(--sk-clr-pr-1);
                    opacity: 1;
                }
                > .dropdown-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }
            }
    
            .dropdown-menu {
                left: 0;
                top: 100%;
                z-index: 100;
                margin: 0px;
                padding: 0px 0px;
                height: auto;
                min-width: 200px;
                display: block;
                border-radius: 8px;
                position: absolute;
                background: var(--sk-clr-black-1);
                border-color: #ffffff36;
                text-align: left;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
                transform-origin: top;
                transition: var(--sk-cube-1);
                overflow: hidden;
            
                li {
                    display: block;
                    margin: 0;
                    transition: var(--sk-cube-1);
    
                    &::after {
                        display: none;
                    }

                    a {
                        width: 100%;
                        display: block;
                        padding: 9px 20px;
                        padding-left: 30px;
                        font-size: 16px;
                        color: #fff;
                        opacity: 1;
                    }


                    &:is(.dropdown) {
                        > a {
                            padding-right: 13px;
                            &::before {
                                display: block;
                                content: "\f107";
                                font-family: "Font Awesome 6 free";
                                font-weight: 700;
                                position: absolute;
                                font-size: 11px;
                                right: 20px;
                                top: 51%;
                                transform: translateY(-50%);
                                opacity: 42%;
                            }
                        }
                    }

                    &:hover {
                        background: var(--sk-clr-pr-1);
                        > a {
                            color: #fff;
                        }
                    }
   
    
                    .dropdown-menu {
                        top: 0;
                        left: 100%;
                    }
    
                }
            }
            
    

        }


        
    }
}

/* 
    header-1-end
*/

/* 
    header-2-start
*/
.sk-header-2 {
    &-area {
        position: absolute;
        top: 24px;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    &-border {
        border: 1px solid rgb(255 255 255 / 52%);
        border-radius: 12px;
        padding: 8px;
        max-width: 1030px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        background: #F5F5F5;
        border: 1px solid #FFFFFF;
        box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding: 0 12px;
        justify-content: space-between;

        @media #{$lg,$md,$xs} {
            padding: 8px 12px;
        }
    }


    &-action-link {
        .sk-offcanvas-btn-1 {
            background: var(--sk-clr-pr-2);
            color: #000;

            @media #{$over,$xxxl,$xxl,$xl} {
                display: none;
            }
        }

        .sk-pr-btn-3 {
            &:nth-child(1) {
                box-shadow: inset 0px 0px 12px #FFFFFF;
                background: var(--sk-clr-black-3);
                color: #fff;
                padding: 14px 20px;
                border: none;

                @media #{$xs} {
                    display: none;
                }

                @media #{$sm} {
                    display: inline-flex;
                }

                &:hover {
                    background: #F0F0F0;
                    box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.1);
                    color: var(--sk-clr-black-3);
                }
            }
            &:nth-child(2) {
                box-shadow: 4px 8px 14px rgba(59, 152, 15, 0.6), inset 0px 0px 9px rgba(0, 33, 1, 0.2);
                color: #fff;
                padding: 14px 20px;

                @media #{$xs} {
                    display: none;
                }

                @media #{$sm} {
                    display: inline-flex;
                }

                &:hover {
                    background: #F0F0F0;
                    box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.1);
                    color: var(--sk-clr-black-3);
                }
            }
        }
    }
}




.sk-main-navigation {
    &:is(.has-header-2) {
        .navbar-nav {
            gap: 28px;

            li {
                a {
                    color: var(--sk-clr-black-3);
                    padding: 20px 0;
                }


                &:is(.dropdown) {
                    > a {
                        padding-right: 18px;

                        &::before {
                            background-image: url("../img/illus/menu-2-arrow.svg");
                        }
                    }
                }

                .dropdown-menu {
                    background: #F5F5F5;
                    border: 1px solid #FFFFFF;
                    box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                    border-radius: 12px;

                    li {
                        a {
                            color: var(--sk-clr-black-3);
                        }

                        &:hover {
                            background: var(--sk-clr-pr-2);
                        }
                    }
                }
            }
        }
    }

}
/* 
    header-2-end
*/
/* 
    header-3-start
*/
.sk-header-3 {
    &-area {
        position: absolute;
        top: 28px;
        left: 0;
        width: 100%;
        z-index: 3;
    }
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    &-action-link {
        display: flex;
        align-items: center;
        gap: 20px;

        .sk-pr-btn-4 {
            font-size: 15px;
            .btn-border-2 {
                background: linear-gradient(270deg, #920B02 0%, #360000 40.27%, #360000 60.99%, #920B02 100%);
                padding: 8px 17px;
            }

            @media #{$xs} {
                display: none;
            }

            @media #{$sm} {
                display: inline-block;
            }
        }

        .sk-header-3-login-btn {
            @media #{$xs} {
                display: none;
            }

            @media #{$sm} {
                display: inline-block;
            }
        }

        .sk-offcanvas-btn-1 {
            width: 42px;
            height: 42px;
            background: var(--sk-clr-gd-3);

            @media #{$over,$xxxl,$xxl,$xl} {
                display: none;
            }
        }
    }

    &-login-btn {
        color: #fff;
        font-weight: 500;
        transition: var(--sk-cube-1);

        &:hover {
            color: #FE0D3A;
        }
    }
    
}

.sk-main-navigation {
    &:is(.has-header-3) {
        .navbar-nav {
            li {
                a {
                    padding: 5px 0;

                    &::after {
                        content: "";
                        width: 155%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background: linear-gradient(180deg, #120101 26.44%, #B12C21 100%);
                        z-index: -1;
                        border-radius: 100px;
                        opacity: 0;
                        transition: var(--sk-cube-1);
                    }
                }

                &:is(.dropdown) {
                    > a {
                        padding-right: 18px;

                        &::before {
                            background-image: url("../img/illus/menu-3-arrow.svg");
                            width: 8px;
                        }
                    }
                }


                &:hover {
                    > a {
                        color: #fff;

                        &::after {
                            opacity: 1;
                        }
                    }
                }

                .dropdown-menu {
                    background: #120101;
                    li {
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }

}
/* 
    header-3-end
*/

/* 
    header-4-start
*/
.sk-header-4 {

    &-area {
        position: absolute;
        top: 30px;
        width: 100%;
        z-index: 3;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-menu {
        @media #{$over,$xxxl,$xxl,$xl} {
            background: rgba(255, 255, 255, 0.06);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(6px);
            border-radius: 12px;
            padding: 0 25px;
        }

        .bg-line {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }


        &::after {
            content: "";
            width: 150px;
            height: 1px;
            background: linear-gradient(94.33deg, rgba(80, 48, 224, 0) 0%, #FFFFFF 50.96%, rgba(80, 48, 224, 0) 100%);
            position: absolute;
            top: 0;
            left: 0;
            opacity: .5;
            animation: skHeader1Line 10s ease-in-out infinite;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }

        &::before {
            content: "";
            width: 150px;
            height: 1px;
            background: linear-gradient(94.33deg, rgba(80, 48, 224, 0) 0%, #FFFFFF 50.96%, rgba(80, 48, 224, 0) 100%);
            border-radius: 2px;
            position: absolute;
            bottom: -1px;
            left: 0;
            opacity: .5;
            animation: skHeader1Line 10s ease-in-out infinite;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }

    &-action-link {
        display: flex;
        gap: 24px;
        align-items: center;

        .sk-offcanvas-btn-1 {
            box-shadow: inset 0px 0px 8px #FFFFFF;
            background: var(--sk-clr-gd-4);
            transition: var(--sk-cube-1);

            &:hover {
                background: var(--sk-clr-pr-4);
            }

            @media #{$over,$xxxl,$xxl,$xl} {
                display: none;
            }
        }

        .sk-header-3-login-btn {
            color: var(--sk-clr-pr-4);
            border-bottom: 1px solid;
            border-color: transparent;

            &:hover {
                border-color: var(--sk-clr-pr-4);
            }

            @media #{$xs} {
                display: none;
            }
        }

        .sk-pr-btn-5 {
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-block;
            }
        }
    }
}

@keyframes skHeader1Line {
    0% {
        left: 3%;
    }
    50% {
        left: 73%;
    }
    100% {
        left: 3%;
    }
}


.sk-main-navigation {
    &:is(.has-header-4) {
        .navbar-nav {
            li {
                position: relative;
                
                &::after {
                    content: "";
                    background: linear-gradient(180deg, #5030E0 20.2%, rgba(80, 48, 224, 0.84) 42.2%, #E50FF2 76.01%);
                    filter: blur(2px);
                    transform: matrix(1, 0, 0, -1, 0, 0);
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: var(--sk-cube-1);
                }
                &::before {
                    content: "";
                    background: linear-gradient(180.63deg, #5030E0 20.2%, rgba(80, 48, 224, 0.84) 42.2%, #E50FF2 76.01%);
                    filter: blur(2px);
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    transition: var(--sk-cube-1);
                }


                &:is(.dropdown) {
                    > a {
                        &::before {
                            display: block;
                            content: "\f103";
                            font-family: "Font Awesome 6 Free";
                            font-weight: 600;
                            background-image: none;
                            font-size: 12px;
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: auto;
                            height: auto;
                            color: var(--sk-clr-sd-4);
                            transition: var(--sk-cube-1);
                        }
                    }
                }

                &:hover {
                    &::after {
                        opacity: .2;
                    }
                    &::before {
                        opacity: .2;
                    }

                    > a {
                        color: var(--sk-clr-pr-4);

                        &::before {
                            color: var(--sk-clr-pr-4);
                        }
                    }
                }

                .dropdown-menu {
                    background: rgba(255, 255, 255, 0.06);
                    backdrop-filter: blur(6px);
                }

            }

        }
    }

}

/* 
    header-4-end
*/

/* 
    sticky-header-css-start
*/


.wa_sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: 400ms ease-in-out;
    z-index: 8;
  
  
    &:is(.wa_sticky) {
        transform: translateY(-190%);
  
        &:is(.wa_sticky_show) {
            transform: translateY(0%);
        }
    }
  
    &:is(.sr-header-1-area) {
        top: 24px;
        &:is(.wa_sticky_show) {
            // background-color: #000;

            .sr-header-1-wrap {
                background-color: #fff;
                box-shadow: 1px 10px 11px rgb(0 0 0 / 4%);
            }

            &:is(.has-header-2) {
                .sr-header-1-wrap {
                    background-color: #000;
                    box-shadow: 0px 2px 16px rgb(255 255 255 / 10%);
                }
            }
        }
    }  

  
}
  
  
/* 
    sticky-header-css-end
*/