/* 
    hero-1-start
*/
.sk-hero-1 {
    &-area {
        padding-top: 212px;
        padding-bottom: 130px;
    }

    &-bg-line {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }


    &-bg-shape-1 {
        width: 31%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -4;
    }
    
    &-bg-shape-2 {
        text-align: right;
        width: 30%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -4;
    }

    &-content {
        margin-bottom: 200px;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;


        .sk-subtitle-1 {
            margin-bottom: 10px;
        }
        .hero-title {
            font-size: 56px;
            line-height: 1.071;
            font-weight: 600;
            margin-bottom: 21px;
        }

        .hero-disc {
            letter-spacing: -0.02em;
            margin-bottom: 35px;
        }

        .btn-wrap {
            display: inline-flex;
            gap: 14px;
            flex-wrap: wrap;
        }
    }

    &-db {
        display: inline-block;
        padding-left: 95px;
        padding-top: 78px;
        padding-right: 44px;
        border-radius: 32px;
        border: 4px solid #2c2b3a;
        
        &-img {
            max-width: 990px;
            display: grid;
            grid-template-columns: 2.4fr 1fr;
            gap: 20px;
            margin-left: auto;
            margin-right: auto;
            align-items: start;

            &-single {
                will-change: transform;
                img {
                    width: 100%;
                }

                &-border {
                    border: 1px solid #1E233A;
                    border-radius: 12px;
                }
            }

            .left {
                display: grid;
                gap: 20px;
                align-items: start;
            }
            

            .row-1 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                align-items: start;
            }

            .row-2 {
                display: grid;
                gap: 20px;
                align-items: start;
            }
            
            .row-3 {
                display: grid;
                gap: 20px;
                align-items: start;
            }


            &:is(.active) {
                .sk-hero-1-db-img-single img {
                    width: 100%;
                    animation: fadeInUp2 0.4s backwards;
                    animation-delay: 0.5s;
                }
            }
        }
    }
    
    &-bottom {

        &-dot {
            position: absolute;
            top: -16%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            pointer-events: none;
            overflow: visible;
        }
        &-glow-1 {
            text-align: center;
            position: absolute;
            top: -62%;
            left: 0;
            width: 100%;
            z-index: -2;
            pointer-events: none;
            animation: sk-hero-1-bottom-glow-1 1s linear infinite;
        }
        &-glow-2 {
            text-align: center;
            position: absolute;
            bottom: -46%;
            left: 0;
            width: 100%;
            z-index: -1;
            pointer-events: none;
        }
    }
    
}





@keyframes sk-hero-1-bottom-glow-1 {
    0% {
        opacity: .85;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .85;
    }
}
/* 
    hero-1-end
*/