/* 
    hero-1-start
*/
.sk-hero-1 {
    &-area {
        padding-top: 212px;
        padding-bottom: 130px;
    }

    &-bg-line {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }


    &-bg-shape-1 {
        width: 31%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -4;
    }
    
    &-bg-shape-2 {
        text-align: right;
        width: 30%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -4;
    }


    &-bg-noise-1 {
        position: absolute;
        top: 13%;
        left: 1%;
        z-index: -5;
    }
    
    &-bg-noise-2 {
        position: absolute;
        right: 3%;
        top: 28%;
        z-index: -5;
    }

    &-content {
        margin-bottom: 200px;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;


        .sk-subtitle-1 {
            margin-bottom: 10px;
        }
        .hero-title {
            font-size: 56px;
            line-height: 1.071;
            font-weight: 600;
            margin-bottom: 21px;

            @media #{$xl} {
                font-size: 52px;
            }

            @media #{$lg} {
                font-size: 48px;
            }

            @media #{$md} {
                font-size: 42px;
            }

            @media #{$xs} {
                font-size: 36px;
            }

            @media #{$sm} {
                font-size: 38px;
            }
        }

        .hero-disc {
            letter-spacing: -0.02em;
            margin-bottom: 35px;
        }

        .btn-wrap {
            display: inline-flex;
            gap: 14px;
            flex-wrap: wrap;
        }
    }

    &-db {
        display: inline-block;
        padding-left: 95px;
        padding-top: 78px;
        padding-right: 44px;
        border-radius: 32px;
        /* outline: 4px solid rgb(44 43 58 / 30%); */
        box-shadow: 0px 0px 3px 6px rgba(44, 43, 58, 0.4);
        // background: transparent;

        &-img {
            max-width: 990px;
            display: grid;
            grid-template-columns: 2.4fr 1fr;
            gap: 20px;
            margin-left: auto;
            margin-right: auto;
            align-items: start;

            &-single {
                will-change: transform;
                img {
                    width: 100%;
                }

                &-border {
                    border: 1px solid #1E233A;
                    border-radius: 12px;
                }
            }

            .left {
                display: grid;
                gap: 20px;
                align-items: start;
            }
            

            .row-1 {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;
                align-items: start;
            }

            .row-2 {
                display: grid;
                gap: 20px;
                align-items: start;
            }
            
            .row-3 {
                display: grid;
                gap: 20px;
                align-items: start;
            }



        }
    }
    
    &-bottom {

        &-dot {
            position: absolute;
            top: -16%;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            pointer-events: none;
            overflow: visible;
        }
        &-glow-1 {
            text-align: center;
            position: absolute;
            top: -62%;
            left: 0;
            width: 100%;
            z-index: -2;
            pointer-events: none;
            animation: sk-hero-1-bottom-glow-1 1s linear infinite;
        }
        &-glow-2 {
            text-align: center;
            position: absolute;
            bottom: -46%;
            left: 0;
            width: 100%;
            z-index: -1;
            pointer-events: none;
        }
    }

    &-area {
        &:is(.active) {
            .sk-hero-1-db-img-single {
                img {
                    width: 100%;
                    animation: fadeInUp2 0.4s backwards;
                    animation-delay: 1s;
                }

                &:is(.img-2) {
                    img {
                        animation-delay: 1.4s;
                    }
                }

                &:is(.img-6) {
                    img {
                        animation-delay: 1.2s;
                    }
                }

                &:is(.img-4) {
                    img {
                        animation-delay: 1.2s;
                    }
                }

                &:is(.img-7) {
                    img {
                        animation-delay: 1.4s;
                    }
                }
            }
        }
    }
    
}





@keyframes sk-hero-1-bottom-glow-1 {
    0% {
        opacity: .85;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .85;
    }
}
/* 
    hero-1-end
*/
/* 
    hero-2-start
*/
.sk-hero-2 {
    &-area {
        padding-top: 185px;
    }

    &-bg-line {
        position: absolute;
        bottom: 25%;
        left: 0;
        width: 100%;
        z-index: -2;
    }


    &-bg-shape-1 {
        width: 38%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    &-bg-shape-2 {
        width: 38%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        text-align: right;
    }

    &-content {

        .btn-wrap {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 80px;
            justify-content: center;
        }
    }


    &-title {
        font-size: 60px;
        letter-spacing: -0.02em;
        margin-bottom: 40px;

        @media #{$lg} {
            font-size: 54px;
        }
        @media #{$md} {
            font-size: 48px;
        }
        @media #{$xs} {
            font-size: 36px;
        }
        @media #{$sm} {
            font-size: 42px;
        }

        .main-text {
            display: inline;
            i {
                color: var(--sk-clr-pr-2);
                font-size: 44px;
                transform: translateY(-12px);
            }
        }


        .icon-2 {
            font-size: 40px;
            transform: translateY(21px);
        }


        &-writing {
            position: relative;
            z-index: 1;
            background: #EAEAEA;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);

            padding: 6px 14px;
            padding-right: 0;
            transform: translateY(5px);

            display: inline;


            .box-shape {
                width: 10px;
                height: 10px;
                position: absolute;
                border: 1px solid #fff;
                z-index: 1;

                &:is(.has-1) {
                    top: -10px;
                    left: -10px;
                }

                &:is(.has-2) {
                    top: -10px;
                    right: -10px;
                }

                &:is(.has-3) {
                    bottom: -10px;
                    left: -10px;
                }
            }


            .cd-words-wrapper {
                &::after {
                    display: none;
                }
                b {
                    font-weight: inherit;
                    background: var(--sk-clr-gd-1);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                span {
                }
            }

        }
    }

    &-disc {
        max-width: 756px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 35px;
    }
    
    &-review {
        display: inline-flex;
        align-items: center;
        background: #EBEBEB;
        box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 140px;
        padding: 8px 8px;
        gap: 8px;
        padding-right: 16px;
        margin-bottom: 20px;

        .author-img {
            display: inline-flex;
    
            &-single {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 2px solid #fff;

                &:not(:first-child) {
                    margin-left: -10px;
                }


                img {
                    transform: scale(1.2);
                }
            }
        }


        .ratting {
            font-size: 16px;
            color: var(--sk-clr-black-3);
            display: flex;
            align-items: center;
            gap: 3px;
            line-height: 1;
            margin-bottom: 2px;

            .text {
                margin-left: 6px;
            }
        }

        .rating-text {
            font-size: 14px;
            line-height: 1;
        }
    }
    
}
/* 
    hero-2-end
*/