/* 
    overview-7-start
*/
.sk-overview-7 {
    &-area {
        background-color: #000;
        margin-left: 24px;
        margin-right: 24px;
        border-radius: 40px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            margin-left: 12px;
            margin-right: 12px;
            border-radius: 20px;
        }
    }

    &-bg {
        &-dot-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
        }
        &-dot-2 {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -2;
        }

        &-glow-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        &-glow-2 {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
    }

    &-content {
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        .sk-subtitle-7 {
            color: #fff;
        }

        .sk-sec-title-7 {
            color: #fff;
            margin-bottom: 32px;
        }

        .btn-wrap {
            display: inline-flex;
            gap: 8px;
            flex-wrap: wrap;
            flex-wrap: wrap;

            .btn-elm {
                transition: var(--sk-cube-1);

                &:hover {
                    transform: translateY(-3px);
                }
            }
        }
    }


    
    &-bottom {
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        overflow: hidden;

        .bg-glow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            text-align: center;
        }
    }
    

    &-img {
        display: flex;
        justify-content: center;

        @media #{$lg,$md} {
            gap: 12px;
        }

        @media #{$xs} {
            gap: 12px;
            flex-wrap: wrap;
        }

        @media #{$sm} {
            gap: 12px;
            flex-wrap: nowrap;
        }

        &-1-wrap {
            margin-right: -24%;

            @media #{$lg,$md,$xs} {
                margin-right: 0;
            }
        }

        &-2-wrap {
            position: relative;
            z-index: 1;
        }
        
        &-3-wrap {
            margin-left: -24%;
            @media #{$lg,$md,$xs} {
                margin-left: 0;
            }
        }

        &-1 {
            will-change: transform;
        }

        &-2 {
            will-change: transform;
            filter: drop-shadow(-18.9647px 25.9184px 40.4581px rgba(28, 38, 48, 0.09)) drop-shadow(-25.9184px 147.925px 53.1012px rgba(28, 38, 48, 0.2));
        }

        &-3 {
            will-change: transform;
        }
    }


}



/* 
    overview-7-end
*/