/* 
    partner-1-start
*/
.sk-partner-1 {
    &-title {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        opacity: 80%;
        margin-bottom: 40px;

    }

    &-wrap {
        &::after {
            content: "";
            width: 200px;
            height: 100%;
            background: linear-gradient(90deg, var(--sk-clr-black-2), transparent);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            pointer-events: none;

            @media #{$xs} {
                width: 100px;
            }
        }
        &::before {
            content: "";
            width: 200px;
            height: 100%;
            background: linear-gradient(-90deg, var(--sk-clr-black-2), transparent);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            pointer-events: none;
            
            @media #{$xs} {
                width: 100px;
            }
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 120px;
        margin-right: 120px;

        .single-logo {
            flex: 0 0 auto;
            transition: var(--sk-cube-1);
            &:hover {
                filter: invert(63%) sepia(46%) saturate(600%) hue-rotate(343deg);
            }
        }
    }
    
}


/* 
    partner-1-end
*/

/* 
    partner-2-start
*/

.sk-partner-2 {
    &-title {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: var(--sk-clr-black-4);
        margin-bottom: 35px;

        b {
            font-weight: inherit;
            color: var(--sk-clr-black-3);

        }
    }


    &-border {
        .border-line-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
        .border-line-2 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
    }

    &-box {
        z-index: 2;
        .line-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
        .line-2 {
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }

        .dot-shape-1 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            top: -7px;
            left: -8px;
        }

        .dot-shape-2 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            bottom: -7px;
            left: -8px;
        }

        .dot-shape-3 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            bottom: -7px;
            right: -8px;
        }

        .dot-shape-4 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            top: -7px;
            right: -8px;
        }
    }


    &-wrap {
        padding: 37px 0px;

        &::after {
            content: "";
            width: 200px;
            height: 96%;
            background: linear-gradient(90deg, var(--sk-clr-white-1) 23.25%, rgba(235, 235, 235, 0) 100%);
            position: absolute;
            top: 2px;
            left: 0;
            z-index: 1;
            pointer-events: none;

            @media #{$xs} {
                width: 100px;
            }
        }
        &::before {
            content: "";
            width: 200px;
            height: 96%;
            background: linear-gradient(-90deg, var(--sk-clr-white-1) 23.25%, rgba(235, 235, 235, 0) 100%);
            position: absolute;
            top: 2px;
            right: 0;
            z-index: 1;
            pointer-events: none;
            
            @media #{$xs} {
                width: 100px;
            }
        }


        .single-logo {
            opacity: .4;

            &:hover {
                filter: invert(1) brightness(0);
                opacity: 1;
            }
        }
    }
}

/* 
    partner-2-end
*/

/* 
    partner-3-start
*/
.sk-partner-3 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 160px 1fr;
        align-items: center;
    }

    &-title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 35px;
        opacity: 68%;
    }

    &-counter {
        font-size: 32px;
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 50px;
        margin-right: 50px;

        .logo-single {
            flex: 0 0 auto;
            opacity: .8;
        }
    }
    
    &-left {
        background: linear-gradient(90deg, rgba(18, 1, 1, 0) 0%, #460209 55.29%);
        position: relative;
        z-index: 1;
        padding: 21px 0;

        &::after {
            content: "";
            width: 100px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, #120101, transparent);
        }
        

        svg {
            position: absolute;
            right: 0px;
            top: -8px;
            z-index: 1;
        }

        &-padding {
            padding: 8px 0;
        }
    }
    
    &-right {
        background: linear-gradient(-90deg, rgba(18, 1, 1, 0) 0%, #460209 55.29%);
        position: relative;
        z-index: 1;
        padding: 21px 0;

        &::after {
            content: "";
            width: 100px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(-90deg, #120101, transparent);
        }
        

        svg {
            position: absolute;
            left: 0px;
            top: -8px;
            z-index: 1;
        }

        &-padding {
            padding: 8px 0;
        }
    }
}



/* 
    partner-3-end
*/

/* 
    partner-5-start
*/

.sk-partner-5 {
    &-area {
        background-color: var(--sk-clr-black-8);
        padding-bottom: 180px;

        @media #{$md,$xs} {
            padding-top: 100px;
        }
    }

    &-title {
        text-align: center;
        color: #fff;
        font-weight: 500;
        margin-bottom: 40px;

        span {
            color: #3D4BE0;
            font-weight: 700;
            border-bottom: 2px solid #3D4BE0;
            line-height: 1;
        }
    }
    
    &-wrap {
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 406px;
            background: linear-gradient(90deg, var(--sk-clr-black-8) 0%, rgba(11, 11, 44, 0) 100%);
            top: 0;
            left: -2px;
            z-index: 1;

            @media #{$xs} {
                max-width: 100px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 406px;
            background: linear-gradient(-90deg, var(--sk-clr-black-8) 0%, rgba(11, 11, 44, 0) 100%);
            top: 0;
            right: -2px;
            z-index: 1;

            @media #{$xs} {
                max-width: 100px;
            }
        }


        &-logo {
            display: flex;
            gap: 88px;
            margin-right: 88px;
            align-items: center;

            .logo-single {
                flex: 0 0 auto;
                opacity: .6;
            }
        }
        
    }

    &-logo {
        display: flex;
        gap: 70px;
        margin-right: 70px;

        .single-logo {
            flex: 0 0 auto;
        }
    }
}
/* 
    partner-5-end
*/