/* 
    price-1-start
*/
.sk-price-1 {
    &-animation {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;


        .favicon-icon {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--sk-clr-black-1);
            box-shadow: inset 0px 0px 24px rgba(255, 255, 255, 0.64);
            border-radius: 50%;

            &-wrap {
                width: 152px;
                height: 152px;
                background: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                // box-shadow: 0px 0px 70px #ffff;

                position: relative;
                z-index: 1;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(180deg, #8D40D7 0%, #FFFFFF 18.75%);
                    z-index: -1;
                    border-radius: 50%;
                    animation: wa-rotated 7s ease-in-out infinite;
                }
            }

            &-border {
                width: 136px;
                height: 136px;
                background: var(--sk-clr-black-2);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }


        .vertical-line {
            margin-top: -150px;
            transform-origin: top;
            filter: blur(5px);
        }
        

        .triangle-shape {
            margin-top: -130px;
            position: relative;
            z-index: 1;
        }

        .clr-glow-1 {
            margin-left: -80px;
            margin-right: -80px;
            margin-top: -204px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }


    &-wrap {
        background: rgba(17, 15, 32, 0.8);
        backdrop-filter: blur(4px);
        border-radius: 24px;
        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.08);
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 36px;
        padding-bottom: 36px;
        display: grid;
        grid-template-columns: 1fr 1.26fr;
        gap: 90px;
        overflow: hidden;
        margin-top: -336px;
        position: relative;
        z-index: 2;

        @media #{$xxl} {
            margin-top: -316px;
        }

        @media #{$xl} {
            gap: 50px;
            margin-top: -266px;
        }

        @media #{$lg} {
            gap: 50px;
            grid-template-columns: 1fr;
            margin-top: -176px;
        }

        @media #{$md} {
            gap: 50px;
            grid-template-columns: 1fr;
            margin-top: -100px;
        }

        @media #{$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
            margin-top: -100px;
            padding: 40px 20px;
        }
    }
    
    &-sec-title {
        .sk-sec-title-1 {
            font-size: 40px;

            @media #{$md} {
                font-size: 35px;
            }
            @media #{$xs} {
                font-size: 30px;
            }
            @media #{$sm} {
                font-size: 33px;
            }
        }

        .sec-disc {
            margin-top: 22px;
        }
    }
    
    &-circle {
        width: 605px;
        height: 444px;
        margin-left: -170px;
        margin-bottom: -36px;
        overflow: hidden;

        @media #{$xs} {
            width: 100%;
            margin-left: 0px;
        }


        &-logo {
            width: 505px;
            height: 505px;
            position: absolute;
            z-index: 1;
            top: 105px;
            border-radius: 50%;
            animation: wa-rotated 30s linear infinite;

            .single-logo {
                position: absolute;
                filter: drop-shadow(-16px 6px 21px rgba(0, 0, 0, 0.77));
                width: 91px;
                height: 91px;

                &:nth-child(1) {
                    left: 203px;
                    bottom: 100%;
                }

                &:nth-child(2) {
                    left: 286px;
                    bottom: 97.5%;
                    transform: rotate(13deg);
                }

                &:nth-child(3) {
                    left: 364px;
                    bottom: 91%;
                    transform: rotate(32deg);
                }

                &:nth-child(4) {
                    left: 431px;
                    bottom: 79%;
                    transform: rotate(47deg);
                }

                &:nth-child(5) {
                    left: 480px;
                    bottom: 64%;
                    transform: rotate(67deg);
                }

                &:nth-child(6) {
                    left: 502px;
                    bottom: 47%;
                    transform: rotate(86deg);
                }

                &:nth-child(7) {
                    left: 499px;
                    bottom: 30%;
                    transform: rotate(101deg);
                }

                &:nth-child(8) {
                    left: 471px;
                    bottom: 14%;
                    transform: rotate(117deg);
                }

                &:nth-child(9) {
                    left: 419px;
                    bottom: 0%;
                    transform: rotate(133deg);
                }

                &:nth-child(10) {
                    left: 350px;
                    bottom: -11%;
                    transform: rotate(150deg);
                }

                &:nth-child(11) {
                    left: 266px;
                    bottom: -17%;
                    transform: rotate(168deg);
                }

                &:nth-child(12) {
                    left: 180px;
                    bottom: -18.2%;
                    transform: rotate(186deg);
                }

                &:nth-child(13) {
                    left: 95px;
                    bottom: -13.8%;
                    transform: rotate(199deg);
                }

                &:nth-child(14) {
                    left: 18px;
                    bottom: -4.8%;
                    transform: rotate(219deg);
                }

                &:nth-child(15) {
                    left: -42px;
                    bottom: 8.2%;
                    transform: rotate(236deg);
                }

                &:nth-child(16) {
                    left: -79px;
                    bottom: 24.2%;
                    transform: rotate(256deg);
                }

                &:nth-child(17) {
                    left: -91px;
                    bottom: 41.2%;
                    transform: rotate(272deg);
                }

                &:nth-child(18) {
                    left: -79px;
                    bottom: 58.2%;
                    transform: rotate(287deg);
                }

                &:nth-child(19) {
                    left: -41px;
                    bottom: 74.2%;
                    transform: rotate(303deg);
                }

                &:nth-child(20) {
                    left: 14px;
                    bottom: 86.2%;
                    transform: rotate(317deg);
                }

                &:nth-child(21) {
                    left: 60px;
                    bottom: 92.2%;
                    transform: rotate(332deg);
                }

                &:nth-child(22) {
                    left: 117px;
                    bottom: 97.2%;
                    transform: rotate(342deg);
                }
            }
        }

        &-content {
            position: absolute;
            top: 64%;
            left: 46%;
            max-width: 230px;
            text-align: center;
            transform: translate(-50%, -50%);
            z-index: 1;

            .title {
                font-size: 20px;
                margin-bottom: 18px;
            }

            .disc {
                font-size: 15px;
            }

            &::after {
                content: "";
                width: 200px;
                height: 200px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                filter: blur(41px);
                opacity: .2;
                z-index: -1;
            }
        }
    }
    
    &-right {
        .inner-div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            @media #{$xs} {
                flex-wrap: wrap;
                gap: 30px;
            }
        }
    }

    &-yearly {
        display: flex;
        align-items: center;
        gap: 12px;

        &-toggle {
            width: 76px;
            height: 44px;
            background: #3D3053;
            border-radius: 40px;
            position: relative;
            z-index: 1;
            cursor: pointer;
            &::after {
                content: "";
                width: 32px;
                height: 32px;
                background: var(--sk-clr-sd-1);
                box-shadow: inset 0px 0px 7px #FFFFFF;
                position: absolute;
                top: 6px;
                left: 7px;
                border-radius: 50%;
                transition: var(--sk-cube-1);
            }

            &:is(.active) {
                &::after {
                    left: 35px;
                    background: var(--sk-clr-pr-1);
                }
            }
        }

        .title {
            opacity: 1;
            font-weight: 500;
        }

        .tags {
            background: var(--sk-clr-gd-1);
            color: #fff;
            opacity: 1;
            font-size: 12px;
            font-weight: 500;
            padding: 5px 8px;
            padding-left: 20px;
            border-radius: 100px;
            position: relative;
            z-index: 1;
            transform: rotate(-25deg) translateY(10px);
            transform-origin: left;

            &::after {
                content: "";
                width: 4px;
                height: 4px;
                background: #000;
                position: absolute;
                top: 12px;
                left: 10px;
                border-radius: 50%;
            }
        }
    }
    


    &-count {
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.12);
        box-shadow: inset 0px -4px 4px rgba(255, 255, 255, 0.16);
        border-radius: 12px;
        background: #281C3F;
        gap: 15px;
        padding: 6px;
        padding-right: 12px;
        align-items: center;

        .count-item {
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;


            .text {
                display: none;
            }

            &:is(.active) {
                opacity: 1;
                box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.52);
                border-radius: 10px;
                background: var(--sk-clr-pr-1);
                padding: 6px 17px;

                .text {
                    display: inline-block;
                }
            }
        }

        .item-link  {
            opacity: 1;
            transition: var(--sk-cube-1);

            &:hover {
                color: var(--sk-clr-sd-1);
            }
        }
    }


    &-card {
        background: rgba(39, 36, 61, 0.64);
        box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.12);
        border-radius: 20px;
        padding: 22px 20px;

        .price-head {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background: #161126;
            border-radius: 16px;
            padding: 25px 25px;
            position: relative;
            z-index: 1;
            align-items: start;
            overflow: hidden;
            margin-bottom: 16px;

            &::after {
                content: "";
                position: absolute;
                width: 219px;
                height: 110px;
                background: #FFFFFF;
                opacity: 0.2;
                filter: blur(32px);
                z-index: -1;
                left: 40px;
                top: -70px;
            }

            &::before {
                content: "";
                position: absolute;
                width: 219px;
                height: 110px;
                background: #FFFFFF;
                opacity: 0.2;
                filter: blur(32px);
                z-index: -1;
                right: 18px;
                bottom: -60px;
            }


            .title {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 22px;

                i {
                    font-size: 20px;
                    color: var(--sk-clr-pr-1);
                }
            }
            

            .price-wrap {
                font-size: 48px;
                line-height: 1;

                .monthly {
                    font-size: 18px;
                    font-weight: 400;
                    opacity: .8;
                }
            }

            .price-name {
                font-size: 14px;
                opacity: 1;
                background: #1F1C33;
                box-shadow: inset 0px 0px 8px #863AEB;
                border-radius: 90px;
                padding: 8px 20px;
            }
            
        }



        .price-body {
            background: linear-gradient(180deg, #161126 0%, #1F1C33 100%);
            border-radius: 16px;
            padding: 24px 24px;
            padding-bottom: 0;

            .bg-shape {
                position: absolute;
                right: 0;
                top: 0;
                z-index: -1;
                mix-blend-mode: luminosity;

                img {
                    transform-origin: right top;
                    animation: skPriceCardShape 10s ease-in-out infinite;
                }
            }

            &::after {
                content: "";
                position: absolute;
                width: 491px;
                height: 54px;
                background: #FFFFFF;
                opacity: 0.2;
                filter: blur(37px);
                transform: rotate(23.96deg);
                left: 0;
                bottom: 84px;
                z-index: -1;
            }
    
        }

        .price-features {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 25px;
            li {
                display: flex;
                align-items: center;
                gap: 10px;
                opacity: 1;

                i {
                    color: var(--sk-clr-sd-1);
                }
        
            }
        }

        .price-btn {
            background: var(--sk-clr-pr-1);
            box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.52);
            border-radius: 8px;
            width: 100%;
            text-align: center;
            padding: 18px 10px;
            justify-content: center;

            .bg-clr {
                opacity: 0;
            }

            &:hover {
                background: var(--sk-clr-sd-1);

            }
        }
    }
    
    &-bg {
        &-illus-1 {
            text-align: center;
            position: absolute;
            top: -50%;
            left: 0;
            width: 100%;
            pointer-events: none;
            z-index: -2;
        }

        &-illus-2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: -3;
        }

        &-illus-3 {
            position: absolute;
            bottom: -17%;
            left: 0;
            width: 100%;
            z-index: -2;
            text-align: center;
            pointer-events: none;
            img {
                margin-right: -590px;
                will-change: transform;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    margin-right: 0px;
                }
            }
        }
    }
    
    
    
}

@keyframes skPriceCardShape {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}


/* 
    price-1-end
*/

/* 
    price-2-start
*/
.sk-price-2 {
    &-border {
        .border-line-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
        .border-line-2 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
    }

    &-border-2 {
        z-index: 2;
        .line-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
        .line-2 {
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }

        .dot-shape-1 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            top: -7px;
            left: -8px;
        }

        .dot-shape-2 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            bottom: -7px;
            left: -8px;
        }

        .dot-shape-3 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            bottom: -7px;
            right: -8px;
        }

        .dot-shape-4 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            top: -7px;
            right: -8px;
        }
    }

    &-big-title-img {
        
    }

    &-wrap {
        max-width: 1224px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 66px 0;
        gap: 24px;

        @media #{$xl} {
            padding-left: 24px;
            padding-right: 24px;
        }

        @media #{$lg} {
            padding-left: 24px;
            padding-right: 24px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md} {
            padding-left: 24px;
            padding-right: 24px;
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            padding-left: 24px;
            padding-right: 24px;
            grid-template-columns: 1fr ;
        }
    }

    &-card {
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: calc(100% + 24px);
            height: calc(100% + 24px);
            border: 1px solid #fff;
            position: absolute;
            top: -12px;
            left: -12px;
            z-index: -1;
            border-radius: 12px;
            opacity: 0;
            transition: var(--sk-cube-1);
            pointer-events: none;
        }
        .card-head {
            padding: 24px 18px;
        }

        .title {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 20px;
            }
        }

        .disc {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .card-body-content {
            background: #F6F6F6;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 30px 30px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 30px 15px;
            }
        }


        .price-wrap {
            font-size: 52px;
            @media #{$xl,$lg,$md,$xs} {
                font-size: 40px;
            }

            .dollar-icon {
                font-weight: 400;
            }
            .monthly {
                font-size: 18px;
                font-weight: 400;
                color: var(--sk-clr-black-4);
            }

        }

        .subtitle {
            font-size: 20px;
            margin-bottom: 24px;
        }


        .features-list {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-bottom: 30px;

            li {
                color: var(--sk-clr-black-3);
                display: flex;
                gap: 8px;

                &:is(.has-disable) {
                    opacity: 40%;
                }
            }
        }


        .card-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, #FFFFFF 0%, #D9D9D9 100%);
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            font-size: 16px;
            font-weight: 500;
            gap: 4px;
            color: var(--sk-clr-black-3);
            padding: 14px 12px;
            position: relative;
            z-index: 1;
            transition: var(--sk-cube-1);
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 6px;
                padding: 1px; 
                background: linear-gradient(to bottom, #D9D9D9 0%, #FFFFFF 100%);
                z-index: -1; 
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                mask-composite: exclude;
                transition: var(--sk-cube-1);
            }

        }

        &:hover {
            &::after {
                opacity: 1;
            }
            
            .card-btn {
                background: var(--sk-clr-pr-2);
                box-shadow: 4px 8px 14px rgba(59, 152, 15, 0.6), inset 0px 0px 9px rgba(0, 33, 1, 0.2);
                border-color: transparent;
                &::before {
                    opacity: 0;
                }
            }
        }

    }
    
}

/* 
    price-2-end
*/

/* 
    price-3-start
*/
.sk-price-3 {

    .sk-sec-ani-1.has-price-3 {
        margin-bottom: -110px;
    }

    &-big-title {
        font-size: 160px;
        position: relative;
        font-weight: 700;
        letter-spacing: -0.02em;

        @media #{$xl} {
            font-size: 140px;
        }

        @media #{$lg} {
            font-size: 120px;
        }

        @media #{$md} {
            font-size: 100px;
        }

        @media #{$xs} {
            font-size: 60px;
        }

        @media #{$sm} {
            font-size: 80px;
        }
    }


    
    &-container {
        max-width: 1224px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
        margin-top: -60px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
            margin-top: 0px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
            margin-top: 0px;
        }

    }
    

    &-card {
        background: rgba(255, 255, 255, 0.06);
        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(10px);
        border-radius: 16px;
        padding: 40px 40px;
        position: relative;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            padding: 40px 20px;  
        }

        .title {
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 20px;
            }
        }

        .disc {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .price-box {
            margin-bottom: 40px;

            &:not(.active) {
                .has-yearly {
                    display: none;
                }
            }

            &:is(.active) {
                .has-monthly {
                    display: none;
                }
            }
        }

        .price-wrap {
            font-size: 52px;
 

            @media #{$xl,$lg,$md,$xs} {
                font-size: 40px;
            }

            .dollar-icon {
                font-weight: 400;
            }
            .monthly {
                font-size: 18px;
                font-weight: 400;
                opacity: .6;
            }

        }

        .subtitle {
            font-size: 20px;
            margin-bottom: 24px;
            opacity: 52%;
        }


        .features-list {
            display: flex;
            flex-direction: column;
            gap: 14px;
 
            li {
                display: flex;
                gap: 8px;
                opacity: 1;
                align-items: center;
                i {
                    color: var(--sk-clr-pr-3);
                    font-size: 20px;
                }
                &:is(.has-disable) {
                    opacity: 40%;
                }
            }
        }


        .btn-wrap {
            margin-bottom: 30px;
            &-svg {
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
        .item-btn {
            width: 100%;
            font-weight: 500;
            color: #fff;

            .btn-border {
                width: 100%;
                padding: 1px;
                transition: var(--sk-cube-1);
                &::after {
                    background: linear-gradient(-6deg, #8F8688 0%, #120101 22%, #120101 84%, #FD0C39 97%);
                    animation-play-state: paused;
                    height: 100%;
                    transition: var(--sk-cube-1);
                }
            }

            .btn-border-2 {
                width: 100%;
                text-align: center;
                background: #120101;
                box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.4);
                border: none;
                transition: var(--sk-cube-1);
            }
        }

        &:hover {
            .item-btn {
                .btn-border-2 {
                    background: var(--sk-clr-gd-3);
                }
            }
        }

    }

    &-card-ani {
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 1;

        svg {
            overflow: visible;
        }
        .smoke {
            filter: blur(2px);
        }
    }



    &-bottom {
        background: rgba(217, 217, 217, 0.1);
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        padding-left: 28px;
        margin-top: 12px;
        gap: 30px;

        @media #{$xs} {
           flex-wrap: wrap; 
        }

        &-disc {
            font-size: 20px;
            opacity: 1;
        }
    }
    
    
    &-toggle {
        display: flex;
        align-items: center;
        background: #33070A;
        padding: 13px 20px;
        border-radius: 12px;
        gap: 16px;

        .bg-shape {
            position: absolute;
            top: 0;
            left: 10%;
            z-index: -1;
        }

        &-text {
            opacity: 1;
        }

        &-btn {
            width: 50px;
            height: 29px;
            background: #4F1C1F;
            border-radius: 40px;
            border: 1px solid rgb(255 255 255 / 18%);
            flex: 0 0 auto;
            position: relative;
            z-index: 1;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                width: 22px;
                height: 22px;
                background: var(--sk-clr-pr-3);
                box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.75);
                border-radius: 40px;
                top: 2px;
                left: 3px;
                transition: var(--sk-cube-1);
            }

            &:is(.active) {
                &::after {
                    left: 23px;
                }
            }

        }
        
    }
    
    &-bg-shape {
        position: absolute;
        bottom: -14%;
        left: 0;
        width: 100%;
        z-index: -1;
    }
}



/* 
    price-3-end
*/