/* 
    process-1-start
*/
.sk-process-1 {

    &-sec-title {
        max-width: 690px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;

        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
        }
    }

    &-item {
        display: flex;
        gap: 100px;
        flex-direction: column;

        &:last-of-type {
            .sk-process-1-item-single {
                text-align: left;

                .number {
                    left: unset;
                    right: -3px;
                }
            }
        }

        &-single {
            max-width: 400px;
            position: relative;
            z-index: 1;
            padding: 40px 36px;
            background: #1F1D2D;
            border-radius: 18px;
            text-align: right;

            .title {
                font-size: 22px;
                margin-bottom: 19px;
            }

            .disc {
                font-size: 16px;
            }

            .number {
                position: absolute;
                top: -20px;
                left: -3px;
                line-height: 1;
                color: var(--sk-clr-black-1);
                font-size: 122px;
                z-index: -1;
                background: var(--sk-clr-gd-1);
                -webkit-text-fill-color: var(--sk-clr-black-1);
                background-clip: text;
                transition: var(--sk-cube-1);
            }


            &:hover {
                .number {
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }


    &-favicon {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid #4E4972;
        border-radius: 36px;
        box-shadow: 0px 0px 73px rgb(197 159 250 / 50%);

        position: relative;
        z-index: 2;

        overflow: hidden;


        &::after {
            content: "";
            background: linear-gradient(180deg, #0F0C45 0%, #671ACE 34.62%, #843C08 70.67%, #402C73 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: sk-process-1-favicon 6s ease-in-out infinite;
        }

        .favicon-shadow {
            width: 160px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(17, 15, 32, 0.3);
            box-shadow: inset 0px 0px 14px #110F20;
            border-radius: 26px;
        }

        .favicon-icon {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1D1A32;
            box-shadow: inset 0px 0px 14px rgba(255, 255, 255, 0.7);
            border-radius: 26px;
        }
    }
    

    &-line-svg {
        position: absolute;
        top: 50%;
        left: 36.3%;
        transform: translate(-50%, -50%);
        z-index: 1;
        pointer-events: none;
        // overflow: visible;

        // .circle-1, .glow-1, .circle-2, .glow-2 {
        //     transform: translateX(-1px);
        // }


        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }
    }

    &-line-svg-2 {
        position: absolute;
        top: 50%;
        right: 22.3%;
        transform: translate(-50%, -50%) scaleX(-1);
        z-index: 1;
        pointer-events: none;


        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }
    }
}


@keyframes sk-process-1-favicon {
    0% {
        transform: scale(1.4) rotate(0deg);
    }
    100% {
        transform: scale(1.4) rotate(360deg);
    }
}

/* 
    process-1-end
*/

/* 
    process-2-start
*/
.sk-process-2 {
    &-sec-title {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background: var(--sk-clr-white-1);
        margin-left: 20px;
        margin-right: 20px;
        padding: 8px;
    }


    &-tabs {
        &-btn {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 12px;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 16px;

            @media #{$md} {
                grid-template-columns: 1fr 1fr 1fr ;
            }

            @media #{$xs} {
                grid-template-columns: 1fr ;
            }

            @media #{$sm} {
                grid-template-columns: 1fr 1fr ;
            }

            &-single {
                background: #F4F4F4;
                border: 1px solid #FFFFFF;
                box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: -0.02em;
                width: 100%;
                color: var(--sk-clr-black-3);
                padding: 16px 10px;
                transition: var(--sk-cube-1);

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 16px;
                }

                &:hover {
                    background: var(--sk-clr-pr-2);
                    border-color: transparent;
                }

                &:is(.active) {
                    background: var(--sk-clr-pr-2);
                    border-color: transparent;
                }
            }
        }


        &-tabs {
            &-pane {
                &-single {
                    background: #F4F4F4;
                    border: 1px solid #FFFFFF;
                    box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                    border-radius: 8px;
                }
            }
        }

        &-pane {
            &-single {
                background: #F2F2F2;
                box-shadow: -4px -6px 12px rgba(255, 255, 255, 0.8), 7px 8px 12px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                min-height: 508px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media #{$xs} {
                    padding: 10px;
                }
                .sk-process-2-card {
                    transform: translateX(-50%);
                    @media #{$xl} {
                        transform: translateX(-20%);
                    }
                    @media #{$lg,$md} {
                        transform: translateX(5%);
                    }
                    @media #{$xs} {
                        transform: translateX(0%);
                    }
                }


                .bg-line-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    z-index: -1;
                }
                
                .single-line {
                    width: 2px;
                    height: 100%;
                    border: 1px dashed rgb(47 73 48 / 28%);
                }
                
                .single-line-arrow {
                    width: 1px;
                    height: 100%;
                    background: var(--sk-clr-black-3);
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        width: 12px;
                        height: 6px;
                        background: var(--sk-clr-black-3);
                        position: absolute;
                        top: 0;
                        left: -6px;
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                    }
                }

                &:is(.has-2) {
                    .sk-process-2-card {
                        transform: translateX(-0%) translateY(10%);
                        @media #{$xl} {
                            transform: translateX(-20%);
                        }
                        @media #{$lg,$md} {
                            transform: translateX(5%);
                        }
                        @media #{$xs} {
                            transform: translateX(0%);
                        }
                    }
                }

                &:is(.has-3) {
                    .sk-process-2-card {
                        transform: translateX(50%) translateY(11%);
                        @media #{$xl} {
                            transform: translateX(-20%);
                        }
                        @media #{$lg,$md} {
                            transform: translateX(5%);
                        }
                        @media #{$xs} {
                            transform: translateX(0%);
                        }
                    }
                }

                &:is(.has-4) {
                    .sk-process-2-card {
                        transform: translateX(51%) translateY(-14%);
                        @media #{$xl} {
                            transform: translateX(-20%);
                        }
                        @media #{$lg,$md,$xs} {
                            transform: translateX(5%);
                        }
                        @media #{$xs} {
                            transform: translateX(0%);
                        }
                    }
                }
            }

            @media #{$over,$xxxl,$xxl,$xl} {
                .tab-pane {
                    &:is(.active) {
                        .sk-process-2-card {
                            animation: skF2card .5s backwards;
                        }
                    }
                }  
            }


        }
    }


    
    &-card {
        background: #F6F6F6;
        border: 2px solid #FFFFFF;
        box-shadow: 6px -5px 6px #FFFFFF, -5px 8px 9px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
        max-width: 540px;
        padding: 36px 36px;
        position: relative;
        z-index: 1;

        @media #{$xs} {
            padding: 36px 22px;
        }

        .icon {
            background: #035705;
            box-shadow: 6px 10px 12px rgba(0, 33, 1, 0.4), inset 0px 0px 4px #FFFFFF;
            border-radius: 8px;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 75px;
        }


        .title {
            font-size: 24px;
            margin-bottom: 20px;

            @media #{$xs} {
                font-size: 22px;
            }
        }

        .number {
            position: absolute;
            right: 25px;
            top: 6px;
            font-size: 94px;
            letter-spacing: -0.02em;
            color: rgba(0, 33, 1, 0.08);
            backdrop-filter: blur(12px);
            font-weight: 700;
        }


        .bg-shape {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
    }


    &-bg-dot-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
        }
    }
    
    &-bg-dot-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        img {
            width: 100%;
        }
    }
    


    &-height {
        @media #{$over,$xxxl,$xxl,$xl} {
            height: 2000px;
            position: relative;
        }
    }

    &-pin {
        @media #{$over,$xxxl,$xxl,$xl} {
            position: sticky;
            top: 100px;
        }

    }
}

@keyframes skF2card {
    0% {
        top: 30px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
/* 
    process-2-end
*/