/* 
    process-1-start
*/
.sk-process-1 {
    &-wrap {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }

    &-item {
        display: flex;
        gap: 100px;
        flex-direction: column;

        &:last-of-type {
            .sk-process-1-item-single {
                text-align: left;

                .number {
                    left: unset;
                    right: -7px;
                }
            }
        }

        &-single {
            max-width: 400px;
            position: relative;
            z-index: 1;
            padding: 40px 36px;
            background: #1F1D2D;
            border-radius: 18px;
            text-align: right;

            .title {
                font-size: 22px;
                margin-bottom: 19px;
            }

            .disc {
                font-size: 16px;
            }

            .number {
                position: absolute;
                top: -20px;
                left: -5px;
                line-height: 1;
                color: var(--sk-clr-black-1);
                font-size: 122px;
                z-index: -1;
            }
        }
    }


    &-favicon {
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid #4E4972;
        border-radius: 36px;
        box-shadow: 0px 0px 73px rgb(197 159 250 / 50%);

        position: relative;
        z-index: 2;

        overflow: hidden;


        &::after {
            content: "";
            background: linear-gradient(180deg, #0F0C45 0%, #671ACE 34.62%, #843C08 70.67%, #402C73 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            animation: sk-process-1-favicon 6s ease-in-out infinite;
        }

        .favicon-shadow {
            width: 160px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(17, 15, 32, 0.3);
            box-shadow: inset 0px 0px 14px #110F20;
            border-radius: 26px;
        }

        .favicon-icon {
            width: 120px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #1D1A32;
            box-shadow: inset 0px 0px 14px rgba(255, 255, 255, 0.7);
            border-radius: 26px;
        }
    }
    

    &-line-svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        pointer-events: none;
    }
}


@keyframes sk-process-1-favicon {
    0% {
        transform: scale(1.4) rotate(0deg);
    }
    100% {
        transform: scale(1.4) rotate(360deg);
    }
}

/* 
    process-1-end
*/