/* 
    services-1-start
*/
.sk-services-2 {
    &-area {
        padding-top: 250px;

        @media #{$xl,$lg,$md,$xs} {
            padding-top: 120px;
        }
    }


    &-tabs {
        &-btn {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;

            .nav-link {
                background: linear-gradient(180deg, #DADADA 0%, #F6F6F6 100%);
                border: 1px solid #FFFFFF;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                color: rgb(69 75 69 / 72%);
                padding: 12px 19px;
                transition: var(--sk-cube-1);
                &:hover {
                    background: var(--sk-clr-pr-2);
                    color: var(--sk-clr-black-3);
                    border-color: transparent;
                }
                &:is(.active) {
                    background: var(--sk-clr-pr-2);
                    color: var(--sk-clr-black-3);
                    border-color: transparent;
                }
            }
        }

        &-pane {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            @media #{$lg,$md} {
                grid-template-columns: 1fr 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
        }
    }


    
    &-card {
        background: #F6F6F6;
        border: 1px solid #FFFFFF;
        box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 32px 32px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 22px;
        }

        .bg-shape {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            transform: translate(60px, -60px);
            opacity: 0;
            transition: .5s;
        }

        .item-features {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 48px;

            &-single {
                background: linear-gradient(180deg, #F6F6F6 0%, #EBEBEB 100%);
                box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                color: #0073D2;
                font-size: 15px;
                padding: 4px 17px;
    
                &:nth-child(2) {
                    color: #DF2F90;
                }
            }
        }

        .title {
            font-size: 22px;
            margin-bottom: 14px;
            transition: var(--sk-cube-1);


            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--sk-cube-1);
                transition: var(--sk-cube-1);
    
                &:hover {
                    opacity: 1;
                    color: var(--sk-clr-pr-2);
                    background-size: 100% 100%;
                }
            }

        }

        .dot {
            color: var(--sk-clr-pr-2);
        }

        &:hover {
            .bg-shape {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
        
    }
    
    
    &-bg-shape {
        position: absolute;
        top: -57px;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: -1;

        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }

        svg {
            width: 100%;
        }
    }
    
}
/* 
    services-1-end
*/