/* 
    services-1-start
*/
.sk-services-2 {
    &-area {
        padding-top: 250px;

        @media #{$xl,$lg,$md,$xs} {
            padding-top: 120px;
        }
    }


    &-tabs {
        &-btn {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 8px;

            .nav-link {
                background: linear-gradient(180deg, #DADADA 0%, #F6F6F6 100%);
                border: 1px solid #FFFFFF;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                color: rgb(69 75 69 / 72%);
                padding: 12px 19px;
                transition: var(--sk-cube-1);
                &:hover {
                    background: var(--sk-clr-pr-2);
                    color: var(--sk-clr-black-3);
                    border-color: transparent;
                }
                &:is(.active) {
                    background: var(--sk-clr-pr-2);
                    color: var(--sk-clr-black-3);
                    border-color: transparent;
                    box-shadow: 4px 8px 14px rgba(59, 152, 15, 0.6), inset 0px 0px 9px rgba(0, 33, 1, 0.2);
                }
            }
        }

        &-pane {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            @media #{$lg,$md} {
                grid-template-columns: 1fr 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
        }
    }


    
    &-card {
        background: #F6F6F6;
        border: 1px solid #FFFFFF;
        box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 32px 32px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: var(--sk-cube-1);

        @media #{$xl,$lg,$md,$xs} {
            padding: 32px 22px;
        }

        .bg-shape {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            transform: translate(60px, -60px);
            opacity: 0;
            transition: .5s;
        }

        .item-features {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 48px;

            &-single {
                background: linear-gradient(180deg, #F6F6F6 0%, #EBEBEB 100%);
                box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                color: #0073D2;
                font-size: 15px;
                padding: 4px 17px;
    
                &:nth-child(2) {
                    color: #DF2F90;
                }
            }
        }

        .title {
            font-size: 22px;
            margin-bottom: 14px;
            transition: var(--sk-cube-1);


            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: var(--sk-cube-1);
                transition: var(--sk-cube-1);
    
                &:hover {
                    opacity: 1;
                    color: var(--sk-clr-pr-2);
                    background-size: 100% 100%;
                }
            }

        }

        .dot {
            color: var(--sk-clr-pr-2);
        }

        &:hover {
            box-shadow: 9px -10px 13px #FFFFFF, -3px 4px 28px rgba(0, 0, 0, 0.32);

            .bg-shape {
                transform: translate(0px, 0px);
                opacity: 1;
            }
        }
        
    }
    
    
    &-bg-shape {
        position: absolute;
        top: -57px;
        left: 0;
        width: 100%;
        overflow: hidden;
        z-index: -1;

        @media #{$xl,$lg,$md,$xs} {
            display: none;
        }

        svg {
            width: 100%;
        }
    }
    
}
/* 
    services-1-end
*/
/* 
    services-3-start
*/

.sk-sec-ani-1 {
    &:is(.has-services-3) {
        margin-bottom: -127px;
    }

}
.sk-services-3 {
    &-sec-title {
        max-width: 688px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 20px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }


        &-svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            pointer-events: none;

            @media #{$xl,$lg,$md,$xs} {
                display: none;
            }
        }
    }

    &-card {
        padding: 28px 29px;
        background: linear-gradient(180deg, rgb(120 7 7 / 24%) 0%, #120101 43.62%);
        border-radius: 0px 32px 0px 0px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 28px 20px;
        }
    
        .item-icon {
            width: 60px;
            height: 60px;
            background: linear-gradient(180deg, rgb(255 32 53 / 50%) 0%, rgba(18, 1, 1, 0) 36%, rgba(18, 1, 1, 0) 65%, rgb(140 134 134 / 50%) 100%);
            backdrop-filter: blur(30px);
            border-radius: 10px;
            padding: 2px;
            margin-bottom: 36px;
        }
        
    
        .item-icon-elm {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.33);
            backdrop-filter: blur(30px);
            border-radius: 10px;
    
            .bg-shape {
                position: absolute;
                top: -21px;
                left: 0;
                width: 100%;
            }
    
            i {
                background: linear-gradient(180deg, #FF4646 0%, #FFFFFF 51.44%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 30px;
            }
        }

        .title {
            font-size: 20px;
            margin-bottom: 14px;
        }
        
        .disc {
            font-size: 16px;
            margin-bottom: 18px;
        }

        .item-btn {
            width: 100%;
            font-weight: 500;
            color: rgb(255 255 255 / 64%);

            .btn-border {
                width: 100%;
                padding: 1px;
                transition: var(--sk-cube-1);
                &::after {
                    background: linear-gradient(176deg, #8F8688 0%, #120101 22%, #120101 84%, #8F8688 97%);
                    animation-play-state: paused;
                    height: 100%;
                    transition: var(--sk-cube-1);
                }
            }

            .btn-border-2 {
                width: 100%;
                text-align: center;
                background: #120101;
                box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.4);
              
                border: 2px solid #120101;
                transition: var(--sk-cube-1);
            }
        }

        &:hover {
            .item-btn {
                color: #fff;
                .btn-border-2 {
                    box-shadow: inset 0px 0px 10px rgba(255, 38, 38, 0.8);
                }

                .btn-border {
                    &::after {
                        background: linear-gradient(176deg, #8F8688 0%, #120101 22%, #120101 84%, #FD0C39 97%);
                    }
                }
            }
        }


        &:nth-child(odd) {
            background: linear-gradient(0deg, rgb(120 7 7 / 24%) 0%, #120101 43.62%);
        }

        &:nth-child(3) {
            border-radius: 0px 0px 32px 32px;
        }

        &:nth-child(4) {
            border-radius:  32px 32px 0px 0px;
        }

        &:nth-child(5) {
            border-radius: 0px 0px 0px 32px;
        }
        
    }
}



/* 
    services-3-end
*/