/* 
    shop-start
*/

.cs_custom_select {
    padding: 10px 35px 10px 28px;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    color: var(--sk-clr-black-7);
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 25px) calc(1em + 4px),
      calc(100% - 20px) calc(1em + 4px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 0px 1.5em;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    @media (max-width: 1199px) {
      padding: 10px 30px 10px 20px;
      background-position: calc(100% - 20px) calc(1em + 4px),
        calc(100% - 15px) calc(1em + 4px), calc(100% - 2.5em) 0.5em;
    }
  }

.sk-shop-1 {
    &-sec-title {
        font-size: 72px;
        letter-spacing: -0.04em;
    }

    &-grid {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &-item {
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        background-color: #fff;
        padding: 24px 24px;


        .title-x-link {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            position: relative;
            z-index: 1;
            align-items: start;
        }


        
        .title {
            font-size: 20px;
            max-width: 175px;
            font-weight: 500;

            a {
                width: 100%;
                display: inline !important;
                background-position-y: 0px;
                background-repeat: no-repeat;
                background-size: 0 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
                -webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
                transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);

            }


            &:hover {
                a {
                    color: inherit;
                    background-size: 100% 100%;
                }
            }
        }
        
        .item-link {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .link-elm {
                flex: 0 0 auto;
                display: inline-flex;
                width: 40px;
                height: 40px;
                background: #fff;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: var(--sk-clr-black-6);
                transform: translateY(-50%);
                opacity: 0;
                visibility: hidden;
                transition-delay: 0;
                transition: var(--sk-cube-1);
                position: relative;
                z-index: 1;
                border: 1px solid #E5E5E5;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: var(--sk-clr-gd-8);
                    box-shadow: inset 0px 0px 8px #FFFFFF;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 0;
                    transition: var(--sk-cube-1);
                }

                &:hover {
                    border-color: transparent;
                    color: #fff;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
        

        .item-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 14px;
            margin-top: -40px;
            height: 255px;
            transition: var(--sk-cube-1);
        }
        
        .price-wrap {
            font-size: 22px;
            font-weight: 500;

            .old-price {
                font-size: 15px;
                color: var(--sk-clr-black-7);
            }
        }

        .price-x-label {
            display: flex;
            align-items: end;
            gap: 20px;
            justify-content: space-between;
            transition: var(--sk-cube-1);
            margin-bottom: -5px;
        }
        
        .item-label {
            color: var(--sk-clr-black-6);
            border: 1px solid #E5E5E5;
            border-radius: 100px;
            padding: 3px 12px;
            font-size: 15px;
            flex: 0 0 auto;
            transform: translateY(-5px);
        }
        
        .cart-btn {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #863AEB;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 14px 32px;
            transform: translateY(100%);
            transition: var(--sk-cube-1);

            i {
                font-size: 20px;
            }

            &:hover {
                background: var(--sk-clr-pr-7);
                color: #fff;
            }
        }

        &:hover {

            .item-link {
                .link-elm {
                    transform: translateY(0%);
                    opacity: 1;
                    visibility: visible;
             

                    &:nth-child(2) {
                        transition-delay: .2s;
                    }
                    &:nth-child(1) {
                        transition-delay: .3s;
                    }
                }
            }

            .cart-btn {
                transform: translateY(0%);
            }

            .price-x-label {
                transform: translateY(-44px);
            }
            .item-img {
                transform: translateY(-22px);
            }
        }
    }
}
/* 
    shop-end
*/