/* 
    sidebar-start
*/
.sk-sidebar {
    background-color: #fff;
    border-radius: 32px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media #{$lg,$md,$xs} {
        padding: 20px 10px;
    }

    &-widget {
        border: 1px solid #E5E5E5;
        border-radius: 16px;
        padding: 24px 20px;

        @media #{$lg,$md,$xs} {
            padding: 24px 10px;
        }

        &-title {
            font-size: 20px;
            padding-left: 14px;
            position: relative;
            z-index: 1;
            margin-bottom: 28px;

            &::after {
                content: "";
                width: 5px;
                height: 24px;
                background-color: #EA9354;
                position: absolute;
                top: 1px;
                left: 0;
            }
        }
        
        &-search-form {
            position: relative;
            z-index: 1;
    
            .form-input {
                display: block;
                height: 64px;
                background-color: #F6F7F9;
                border: none;
                font-family: var(--sk-font-1);
                font-size: 16px;
                color: rgb(76 80 78 / 80%);
                border-radius: 12px;
                padding-left: 20px;
                padding-right: 60px;
                width: 100%;
            }
    
            .form-btn {
                position: absolute;
                right: 12px;
                top: 12px;
                background: var(--sk-clr-gd-8);
                width: 40px;
                height: 40px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                color: #fff;
                box-shadow: inset 0px 0px 8px #FFFFFF;
                transition: var(--sk-cube-1);

                &:hover {
                    box-shadow: inset 0px 0px 0px #FFFFFF;
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {

                a {
                    font-family: var(--sk-font-1);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 120%;
                    padding: 15px 20px;
                    position: relative;
                    z-index: 1;
                    display: flex;
                    justify-content: space-between;
                    transition: var(--sk-cube-1);

                    &::after {
                        content: "";
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        background: var(--sk-clr-black-6);
                        position: absolute;
                        top: 22px;
                        left: 8px;
                        transition: var(--sk-cube-1);
                    }
    

            
                    span {
                        opacity: 70%;
                        transition: var(--sk-cube-1);
                    }

                    &:hover {
                        &::after {
                            background-color: var(--sk-clr-sd-4);
                        }
                        color: var(--sk-clr-sd-4);
                    }
                }
                

                &:not(:last-child) {
                    a {
                        &::before {
                            content: "";
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(90deg, rgba(229, 229, 229, 0.1) 0%, #E5E5E5 50.41%, rgba(229, 229, 229, 0.1) 100%);
                        }
                    }

                }
            }
        }
        
        
        &-author {
            padding: 20px 20px;
            margin-top: -16px;

            .author-img {
                width: 140px;
                height: 140px;
                display: inline-block;
                border-radius: 50%;
                outline: 12px solid #fff;
                margin-bottom: 40px;
                position: relative;
                z-index: 1;
            }

            .content-wrap {
                background: #fff;
                border-radius: 12px;
                padding: 18px 16px;
            }

            .name {
                font-size: 18px;
                margin-bottom: 6px;
                transition: var(--sk-cube-1);
                &:hover {
                    color: var(--sk-clr-sd-4);
                }
            }

            .bio {
                margin-bottom: 16px;
            }

            .social-link {
                position: relative;
                z-index: 1;
                padding: 16px;

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: linear-gradient(90deg, rgba(229, 229, 229, 0.1) 0%, #E5E5E5 50.41%, rgba(229, 229, 229, 0.1) 100%);
                    z-index: -1;
                }

                .link {
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;
                    font-size: 18px;
                    color: var(--sk-clr-black-6);
                    transition: var(--sk-cube-1);
                    border: 1px solid #E5E5E5;
        
        
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: var(--sk-clr-gd-8);
                        box-shadow: inset 0px 0px 8px #FFFFFF;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        opacity: 0;
                        transition: var(--sk-cube-1);
                    }
        
                    &:hover {
                        color: #fff;
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            .bg-clr {
                background-color: #F6F7F9;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: calc(100% - 90px);
                z-index: -1;
                border-radius: 16px;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    top: 0px;
                    left: 30px;
                    width: 70px;
                    height: 30px;
                    box-shadow: 19px 0 0 0 #fff;
                    border-top-right-radius: 30px;
                    z-index: -1;

                    @media #{$md,$xs} {
                        display: none;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    background-color: transparent;
                    top: 0px;
                    right: 30px;
                    width: 70px;
                    height: 30px;
                    box-shadow: 19px 0 0 0 #fff;
                    border-top-right-radius: 30px;
                    z-index: -1;
                    transform: scaleX(-1);

                    @media #{$md,$xs} {
                        display: none;
                    }
                }
            }
            
        }
        
        &:has(.sk-sidebar-widget-author) {
            border: none;
            padding: 0;
        }

        
    }


    &-recent-post {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-single {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 2.06fr;
            align-items: center;

            .item-img {
                height: 96px;
                border-radius: 12px;
            }

            .date {
                margin-bottom: 8px;
            }

            .title {
                font-size: 18px;
                font-weight: 500;
                transition: var(--sk-cube-1);

                &:hover {
                    color: var(--sk-clr-sd-4);
                }
            }

            &:not(:last-child) {
                position: relative;
                z-index: 1;
                padding-bottom: 16px;

                &::before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(90deg, rgba(229, 229, 229, 0.1) 0%, #E5E5E5 50.41%, rgba(229, 229, 229, 0.1) 100%);
                }
            }
        }
    }
    
    &-tags {
        display: flex;
        gap: 4px;
        flex-wrap: wrap;


        .single-tag {
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #E5E5E5;
            border-radius: 32px;
            padding: 5px 10px;
            transition: var(--sk-cube-1);

            &:hover {
                color: var(--sk-clr-sd-4);
            }
        }
    }
    

    
}



/* 
    sidebar-end
*/