/* 
    team-1-start
*/
.sk-team-1 {
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
    
        .left {
            max-width: 550px;
        }
        
        .right {
            max-width: 420px;
        }
    
        .sec-disc {
            margin-bottom: 32px;
        }
    }


    &-wrap {
        border-radius: 32px;
        background-color: #fff;
        padding: 16px 16px;
        display: grid;
        gap: 12px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$xl,$lg} {
            padding: 6px;
        }

        @media #{$md} {
            padding: 6px;
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$xs} {
            padding: 6px;
            grid-template-columns: 1fr ;
        }

        @media #{$sm} {
            padding: 6px;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    &-member {
        border-radius: 26px;
        background-color: #F6F7F9;
        text-align: center;
        padding: 10px;
        position: relative;
        z-index: 1;

        .img-elm {
            height: 288px;
            border-radius: 24px;
            margin-bottom: 10px;

            @media #{$xs} {
                height: auto;
            }

            @media #{$sm} {
                height: 288px;
            }
        }

        .content-border {
            background: var(--sk-clr-gd-8);
            border-radius: 24px;
            padding-bottom: 0px;
            transition: var(--sk-cube-1);
        }

        .content-wrap {
            display: flex;
            flex-direction: column;
            background: #fff;
            border-radius: 22px;
            gap: 4px;
            padding: 10px 15px;
        }


        .name {
            font-size: 18px;
            font-weight: 500;
            transition: var(--sk-cube-1);

            &:hover {
                color: var(--sk-clr-pr-1);
            }
        }


        .social-link {
            position: absolute;
            left: 0;
            width: 100%;
            top: 239px;
            z-index: 1;
            display: flex;
            justify-content: center;
            gap: 5px;
            transform: translateY(100%);
            opacity: 0;
            transition: var(--sk-cube-1);

            .link-elm {
                width: 40px;
                height: 40px;
                background: rgba(255, 255, 255, 0.4);
                border: 1px solid rgba(239, 240, 239, 0.7);
                border-radius: 1000px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 1;
                font-size: 18px;
                color: var(--sk-clr-black-6);
                transition: var(--sk-cube-1);

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: var(--sk-clr-gd-8);
                    box-shadow: inset 0px 0px 8px #FFFFFF;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    opacity: 0;
                    transition: var(--sk-cube-1);
                }

                &:hover {
                    color: #fff;
                    border-color: transparent;
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
        

        &:hover {
            .content-border {
                padding-bottom: 2px;
            }

            .social-link {
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }
    

    

    

    
}

/* 
    team-1-end
*/

/* 
    team-2-start
*/
.sk-team-2 {
    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }
}


/* 
    team-2-end
*/

/* 
    team-details-start
*/
.sk-team-details {
    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1.31fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-img {
        background: #fff;
        border-radius: 32px;
        padding: 12px;
        height: 648px;

        @media #{$md,$xs} {
            height: auto;
        }

        img {
            border-radius: 22px;
        }
    }

    &-info {
        background-color: #fff;
        border-radius: 32px;
        padding: 40px 40px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .name {
            font-size: 32px;
            margin-bottom: 10px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 28px;
            }
        }
        

        .bio {
            font-weight: 500;
            margin-bottom: 32px;
        }

        .title {
            font-size: 20px;
            margin-bottom: 12px;
        }

        .disc {
            opacity: 80%;
            margin-bottom: 40px;
        }

        .info-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 50px;

            li {
                display: flex;
                flex-wrap: wrap;

                span {
                    &:nth-child(1) {
                        color: var(--sk-clr-black-6);
                        min-width: 120px;
                    }
                    &:nth-child(2) {
                        opacity: 80%;
                    }
                }
            }
        }

        .social-info {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;

            &-title {
                font-size: 20px;
            }
            &-link {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                .link-elm {
                    width: 40px;
                    height: 40px;
                    background: transparent;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 1;
                    font-size: 18px;
                    color: var(--sk-clr-black-6);
                    transition: var(--sk-cube-1);

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 50%;
                        background: var(--sk-clr-gd-8);
                        padding: 1px;
                        z-index: -1;
                        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                        mask-composite: exclude;
                        pointer-events: none;
                        transition: var(--sk-cube-1);
                    }

                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: var(--sk-clr-gd-8);
                        box-shadow: inset 0px 0px 8px #FFFFFF;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        opacity: 0;
                        transition: var(--sk-cube-1);
                    }

                    &:hover {
                        color: #fff;
                        &::after {
                            opacity: 1;
                        }
                        &::before {
                            opacity: 0;
                        }
                    }
                }
            }
        }
        
    }
    

    &-wrap-2 {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        align-items: start;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }
    
    &-expr {
        background-color: #fff;
        border-radius: 32px;
        padding: 40px 40px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .title {
            font-size: 28px;
            margin-bottom: 12px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 24px;
            }
        }

        .disc {
            opacity: 80%;
            margin-bottom: 32px;
        }

        &-progress {
            .progress-title {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                margin-bottom: 20px;
            }


            &-elm {
                width: 100%;
                height: 6px;
                background-color: #BBBBB9;

                .fill-elm {
                    height: 100%;
                    background-color: #8D40D7;
                    position: relative;
                    z-index: 1;
    
                    &::after {
                        content: "";
                        width: 10px;
                        height: 16px;
                        border-radius: 2px;
                        background-color: #8D40D7;
                        position: absolute;
                        top: -5px;
                        left: 0;
                    }
    
                    &::before {
                        content: "";
                        width: 10px;
                        height: 16px;
                        border-radius: 2px;
                        background-color: #8D40D7;
                        position: absolute;
                        top: -5px;
                        right: 0;
                    }
                }
            }
        }
    }
    
    
    &-skill {
        background-color: #fff;
        border-radius: 32px;
        padding: 40px 40px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 40px 20px;
        }

        .title {
            font-size: 28px;
            margin-bottom: 12px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 24px;
            }
        }

        .disc {
            opacity: 80%;
            margin-bottom: 50px;
        }


        .skill-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px 20px;

            @media #{$lg} {
                grid-template-columns: 1fr;
            }

            @media #{$md} {
                grid-template-columns: 1fr 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }

            li {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
        
    }
    
    
    
    
}


/* 
    team-details-end
*/