/* 
    testimonial-1-start
*/
.sk-testimonial-1 {
    &-sec-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        height: 940px;
        overflow: hidden;
        position: relative;
        z-index: 1;


        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }


        @media #{$xs} {
            grid-template-columns: 1fr;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 190px;
            background: linear-gradient(180deg, var(--sk-clr-black-2), transparent);
            pointer-events: none;
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 190px;
            background: linear-gradient(0deg, var(--sk-clr-black-2), transparent);
            pointer-events: none;
            z-index: 1;
        }

        .item-row {
            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 940px;

                @media #{$xs} {
                    display: none;
                }
            }
            &:nth-child(3) {
                @media #{$md,$xs} {
                    display: none;
                }
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        will-change: transform;

        &-single {
            background: #1F1C33;
            box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.12);
            border-radius: 12px;
            padding: 32px 32px;


            .icon {
                font-size: 40px;
                color: var(--sk-clr-pr-1);
                margin-top: -3px;
                margin-bottom: 12px;
            }
            
            p.sk-p-1.comment {
                opacity: 1;
                margin-bottom: 27px;
            }
            
            .author {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 15px;

                &-img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }

                &-name {
                    font-size: 18px;
                    margin-bottom: 3px;
                }

                &-bio {
                    font-size: 15px;
                    opacity: 65%;
                }
            }
            
        }
    }


    &-animation {
        text-align: center;
        height: 882px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: -680px;
        overflow: hidden;

        &-clr-glow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -2;
        }

        &-dot-svg {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            overflow: visible;
        }
    }
    
}


/* 
    testimonial-1-end
*/

/* 
    testimonial-2-start
*/
.sk-testimonial-2 {
    &-area {
        padding-top: 200px;
    }

    &-top {
        @media #{$md,$xs} {
            display: none;
        }
        &-mask {
            mask-image: url("../img/testimonial/heart-shape.png");
            mask-repeat: no-repeat;
            display: inline-block;
            max-width: 660px;
            mask-size: 100%;
            padding-top: 15px;
            position: relative;
            z-index: 1;
            mix-blend-mode: luminosity;
            opacity: .4;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #EBEBEB 6%, rgba(235, 235, 235, 0) 100%);
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .border-shape {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -26px;
            max-width: 700px;
            width: 100%;

            img {
                width: 100%;
            }
        }


    }

    &-author {
        display: inline-flex;
        gap: 12px;

        .single-img {
            width: 80px;
            height: 80px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            filter: grayscale(1);
        }
    }

    &-sec-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -198px;
        position: relative;
        z-index: 2;

        @media #{$md,$xs} {
            margin-top: 0px;
        }
    }
    

    &-wrap {
        &::after {
            content: "";
            position: absolute;
            width: 430px;
            height: 105%;
            background: linear-gradient(90deg, #EBEBEB 15.87%, rgba(235, 235, 235, 0.72) 46.49%, rgba(235, 235, 235, 0) 100%);
            left: 0;
            top: -5px;
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 430px;
            height: 105%;
            background: linear-gradient(-90deg, #EBEBEB 15.87%, rgba(235, 235, 235, 0.72) 46.49%, rgba(235, 235, 235, 0) 100%);
            right: 0;
            top: -5px;
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
    }

    &-card-wrap {
        display: flex;
        gap: 20px;
        margin-right: 20px;
    }

    &-card {
        background: #F6F6F6;
        border: 1px solid #FFFFFF;
        box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 12px;
        max-width: 505px;
        padding: 36px 36px;

        .rating {
            color: var(--sk-clr-sd-1);
            font-size: 15px;
            display: flex;
            gap: 6px;
            margin-bottom: 22px;
        }

        .comment {
            color: var(--sk-clr-black-3);
            margin-bottom: 30px;
        }

        .author {
            display: flex;
            gap: 16px;

            &-img {
                width: 80px;
                height: 98px;
                border-radius: 6px;
            }

            &-content {
                i {
                    font-size: 50px;
                    color: #002101;
                    opacity: .2;
                    margin-top: -10px;
                }

                .name {
                    font-size: 18px;
                    margin-bottom: 6px;
                }
                .bio {
                    font-size: 15px;
                    opacity: 68%;
                }
            }
        }
    }


    &-bg-shape-2 {
        text-align: right;
        width: 28%;
        position: absolute;
        right: 0;
        top: -20%;
        z-index: -1;

        @media #{$xs} {
            top: 0;
        }
    }
    
    &-bg-shape-1 {
        width: 28%;
        position: absolute;
        top: -20%;
        left: 0;
        z-index: -1;

        @media #{$xs} {
            top: 0;
        }
    }
    
}




/* 
    testimonial-2-end
*/