/* 
    testimonial-1-start
*/
.sk-testimonial-1 {
    &-sec-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        height: 940px;
        overflow: hidden;
        position: relative;
        z-index: 1;


        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }


        @media #{$xs} {
            grid-template-columns: 1fr;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 190px;
            background: linear-gradient(180deg, var(--sk-clr-black-2), transparent);
            pointer-events: none;
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 190px;
            background: linear-gradient(0deg, var(--sk-clr-black-2), transparent);
            pointer-events: none;
            z-index: 1;
        }

        .item-row {
            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 940px;

                @media #{$xs} {
                    display: none;
                }
            }
            &:nth-child(3) {
                @media #{$md,$xs} {
                    display: none;
                }
            }
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 20px;
        will-change: transform;

        &-single {
            background: #1F1C33;
            box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.12);
            border-radius: 12px;
            padding: 32px 32px;


            .icon {
                font-size: 40px;
                color: var(--sk-clr-pr-1);
                margin-top: -3px;
                margin-bottom: 12px;
            }
            
            p.sk-p-1.comment {
                opacity: 1;
                margin-bottom: 27px;
            }
            
            .author {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 15px;

                &-img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }

                &-name {
                    font-size: 18px;
                    margin-bottom: 3px;
                }

                &-bio {
                    font-size: 15px;
                    opacity: 65%;
                }
            }
            
        }
    }


    &-animation {
        text-align: center;
        height: 882px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: -680px;
        overflow: hidden;

        &-clr-glow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -2;
        }

        &-dot-svg {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            overflow: visible;
        }
    }
    
}


/* 
    testimonial-1-end
*/

/* 
    testimonial-2-start
*/
.sk-testimonial-2 {
    &-area {
        padding-top: 200px;
    }

    &-top {
        @media #{$md,$xs} {
            display: none;
        }
        &-mask {
            mask-image: url("../img/testimonial/heart-shape.png");
            mask-repeat: no-repeat;
            display: inline-block;
            max-width: 660px;
            mask-size: 100%;
            padding-top: 15px;
            position: relative;
            z-index: 1;
            mix-blend-mode: luminosity;
            opacity: .4;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #EBEBEB 6%, rgba(235, 235, 235, 0) 100%);
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .border-shape {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -26px;
            max-width: 700px;
            width: 100%;

            img {
                width: 100%;
            }
        }


    }

    &-author {
        display: inline-flex;
        gap: 12px;

        .single-img {
            width: 80px;
            height: 80px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            filter: grayscale(1);
        }
    }

    &-sec-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -198px;
        position: relative;
        z-index: 2;

        @media #{$md,$xs} {
            margin-top: 0px;
        }
    }
    

    &-wrap {
        &::after {
            content: "";
            position: absolute;
            width: 430px;
            height: 105%;
            background: linear-gradient(90deg, #EBEBEB 15.87%, rgba(235, 235, 235, 0.72) 46.49%, rgba(235, 235, 235, 0) 100%);
            left: 0;
            top: -5px;
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
        &::before {
            content: "";
            position: absolute;
            width: 430px;
            height: 105%;
            background: linear-gradient(-90deg, #EBEBEB 15.87%, rgba(235, 235, 235, 0.72) 46.49%, rgba(235, 235, 235, 0) 100%);
            right: 0;
            top: -5px;
            z-index: 1;

            @media #{$md,$xs} {
                width: 100px;
            }
        }
    }

    &-card-wrap {
        display: flex;
        gap: 20px;
        margin-right: 20px;
    }

    &-card {
        background: #F6F6F6;
        border: 1px solid #FFFFFF;
        box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 12px;
        max-width: 505px;
        padding: 36px 36px;

        .rating {
            color: var(--sk-clr-sd-1);
            font-size: 15px;
            display: flex;
            gap: 6px;
            margin-bottom: 22px;
        }

        .comment {
            color: var(--sk-clr-black-3);
            margin-bottom: 30px;
        }

        .author {
            display: flex;
            gap: 16px;

            &-img {
                width: 80px;
                height: 98px;
                border-radius: 6px;
            }

            &-content {
                i {
                    font-size: 50px;
                    color: #002101;
                    opacity: .2;
                    margin-top: -10px;
                }

                .name {
                    font-size: 18px;
                    margin-bottom: 6px;
                }
                .bio {
                    font-size: 15px;
                    opacity: 68%;
                }
            }
        }
    }


    &-bg-shape-2 {
        text-align: right;
        width: 28%;
        position: absolute;
        right: 0;
        top: -20%;
        z-index: -1;

        @media #{$xs} {
            top: 0;
        }
    }
    
    &-bg-shape-1 {
        width: 28%;
        position: absolute;
        top: -20%;
        left: 0;
        z-index: -1;

        @media #{$xs} {
            top: 0;
        }
    }
    
}




/* 
    testimonial-2-end
*/

/* 
    testimonial-3-start
*/
.sk-testimonial-3 {
    &-sec-title {
        max-width: 688px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 20px;
        }
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1.6fr 1fr;
        gap: 12px;
        margin-bottom: 12px;

        @media #{$lg,$md,$xs} {
            grid-template-columns:1fr;
        }
    }
    
    &-card {
        background: rgba(255, 255, 255, 0.05);
        border: 2px solid rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(4px);
        border-radius: 12px;
        display: grid;
        gap: 36px;
        padding: 24px 24px;
        grid-template-columns: 1fr 1.8fr;
        position: relative;
        z-index: 1;
        overflow: hidden;

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1.8fr;
        }


        .bg-shape-1 {
            position: absolute;
            width: 151px;
            height: 151px;
            background: var(--sk-clr-pr-3);
            border: 2px solid rgba(255, 255, 255, 0.08);
            filter: blur(100px);
            z-index: -1;
            top: -40px;
            left: -30px;
        }

        .bg-shape-2 {
            position: absolute;
            width: 151px;
            height: 151px;
            background: #FA9145;
            opacity: 0.6;
            border: 2px solid rgba(255, 255, 255, 0.08);
            filter: blur(100px);
            z-index: -1;
            bottom: -40px;
            right: -30px;
        }

        .item-img {
            background: rgba(255, 255, 255, 0.08);
            border-radius: 10px;
            display: flex;
            align-items: end;
            justify-content: center;
            height: 292px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            .main-img {
                filter: grayscale(1);
            }

            .img-shape {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }


        }

        .comment {
            opacity: 1;
            margin-bottom: 80px;
        }

        .author-name {
            font-size: 20px;
            margin-bottom: 8px;
        }


        .disc {
            font-size: 16px;
            opacity: 1;
        }

        &:is(.has-v2) {
            .bg-shape-2 {
                background: var(--sk-clr-pr-3);
            }

            .item-img {
                .main-img {
                    max-width: 134%;
                }
            }
        }
    }
    
    &-wrap-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
        margin-bottom: 12px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }
    
    &-card-2 {
        background: rgba(255, 255, 255, 0.05);
        border: 2px solid rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(4px);
        border-radius: 12px;
        padding: 40px 40px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        .comment {
            opacity: 1;
            margin-bottom: 89px;
        }

        .author {
            display: flex;
            align-items: center;
            gap: 18px;
            flex: 0 0 auto;

            &-img {
                width: 56px;
                height: 56px;
                border-radius: 50%;
                flex: 0 0 auto;
            }

            &-name {
                margin-bottom: 6px;
            }
            &-bio {
                font-size: 16px;
                opacity: 70%;
            }
        }


        .bg-shape-1 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        
    }
    
    &-wrap-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-card-3 {
        background: rgba(255, 255, 255, 0.05);
        border: 2px solid rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(4px);
        border-radius: 12px;
        display: grid;
        padding-top: 24px;
        padding-right: 34px;
        grid-template-columns: 1fr 1.3fr;
        position: relative;
        z-index: 1;
        overflow: hidden;


        .bg-shape-1 {
            position: absolute;
            width: 151px;
            height: 151px;
            background: #D3940C;
            filter: blur(100px);
            z-index: -1;
            top: -40px;
            left: -30px;
            opacity: .5;
        }


        .item-img {
            display: flex;
            align-items: start;
            justify-content: center;
            height: 292px;
            overflow: hidden;
            position: relative;
            z-index: 1;

            .main-img {
                filter: grayscale(1);
            }

            .img-shape {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }


        }

        .comment {
            opacity: 1;
            margin-bottom: 80px;
        }

        .author-name {
            font-size: 20px;
            margin-bottom: 8px;
        }


        .disc {
            font-size: 16px;
            opacity: 1;
        }

        &:is(.has-v2) {
            .bg-shape-2 {
                background: var(--sk-clr-pr-3);
            }

            .item-img {
                .main-img {
                    max-width: 134%;
                }
            }
        }
    }

    &-wrap-overly {
        &::after {
            content: "";
            width: 100%;
            height: 80%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(0deg, #120101, transparent);
            z-index: 1;
        }
    }


    &-bottom {
        display: flex;
        align-items: center;
        gap: 28px;
        flex-wrap: wrap;

        &-marquee {
            width: 200px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: inset 0px 0px 12px rgba(255, 25, 25, 0.72);
            border-radius: 100px;
            padding: 5px 0;
            
            .wa_marquee_left_nopause {
                margin-bottom: -8px;
                position: relative;
                z-index: -1;
            }
        }
        &-author {
            display: flex;
            gap: 3px;

            .single-author {
                flex: 0 0 auto;
                width: 44px;
                height: 44px;
                border-radius: 50%;
            }
        }

        &-disc {
            opacity: 1;
        }

        &-rating {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-right: auto;

            .item-icon {        
                position: relative;
                width: 44px;
                height: 44px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                z-index: 1;
                overflow: hidden;

                &::after {
                    content: "";
                    width: 130%;
                    height: 130%;
                    background-image: linear-gradient( to right, #FF5868 0%, #120101 36%, #120101 65%, #A846B1 100% );
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    animation: wa-rotated 4s ease-in-out infinite;
                }
            }

            
            .item-icon-elm {
                display: flex;
                width: 36px;
                height: 36px;
                align-items: center;
                justify-content: center;
                background-color: #120101;
                border-radius: 10px;
                color: #fff;
                font-size: 18px;
                position: relative;
                z-index: 1;

            }


            .rating-icon {
                font-size: 15px;
                opacity: 1;
                display: flex;
                align-items: center;
                gap: 3px;

                i {
                    color: #FA9145;
                    font-size: 12px;
                }

                span {
                    margin-left: 6px;
                }
            }
            
            .rating-text {
                font-size: 14px;
            }
        }
    }
    
}
/* 
    testimonial-3-end
*/