/* 
    testimonial-1-start
*/
.sk-testimonial-1 {
    &-sec-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        height: 940px;
        overflow: hidden;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 190px;
            background: linear-gradient(180deg, var(--sk-clr-black-2), transparent);
            pointer-events: none;
            z-index: 1;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 190px;
            background: linear-gradient(0deg, var(--sk-clr-black-2), transparent);
            pointer-events: none;
            z-index: 1;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 20px;



        &-single {
            background: #1F1C33;
            box-shadow: inset 0px 0px 8px rgba(255, 255, 255, 0.12);
            border-radius: 12px;
            padding: 32px 32px;


            .icon {
                font-size: 40px;
                color: var(--sk-clr-pr-1);
                margin-top: -3px;
                margin-bottom: 12px;
            }
            
            p.sk-p-1.comment {
                opacity: 1;
                margin-bottom: 27px;
            }
            
            .author {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 15px;

                &-img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }

                &-name {
                    font-size: 18px;
                    margin-bottom: 3px;
                }

                &-bio {
                    font-size: 15px;
                    opacity: 65%;
                }
            }
            
        }
    }


    &-animation {
        text-align: center;
        height: 882px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: end;
        justify-content: center;
        margin-top: -680px;
        overflow: hidden;

        &-clr-glow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -2;
        }

        &-dot-svg {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            overflow: visible;
        }
    }
    
}


/* 
    testimonial-1-end
*/