/* 
    video-2-start
*/
.sk-video-2 {
    &-area {
        .border-line-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
        .border-line-2 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
    }

    &-wrap {
        padding: 56px 0;
        z-index: 2;
        .line-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }
        .line-2 {
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            background: #fff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
            z-index: 2;
        }

        .dot-shape-1 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            top: -7px;
            left: -8px;
        }

        .dot-shape-2 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            bottom: -7px;
            left: -8px;
        }

        .dot-shape-3 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            bottom: -7px;
            right: -8px;
        }

        .dot-shape-4 {
            position: absolute;
            width: 17px;
            height: 17px;
            border: 1px solid #FFFFFF;
            box-shadow: 4px -2px 6px #FFFFFF, -3px 4px 6px rgba(0, 0, 0, 0.1), 1px -1px 4px #FFFFFF, -1px 3px 6px rgba(0, 0, 0, 0.12);
            z-index: 3;
            border-radius: 50%;
            background: var(--sk-clr-white-1);
            top: -7px;
            right: -8px;
        }
    }


    &-video {
        max-width: 1144px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-radius: 16px;
        overflow: hidden;

        &::after {
            content: "";
            background: rgba(134, 134, 134, 0.3);
            border-radius: 16px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    
}

/* 
    video-2-end
*/