
@font-face {
    font-family: "flaticon_saasking";
    src: url("../fonts/flaticon_saasking.woff2?ba7fcc5674dd9a9eeb61f899216585ef") format("woff2"),
url("../fonts/flaticon_saasking.woff?ba7fcc5674dd9a9eeb61f899216585ef") format("woff"),
url("../fonts/flaticon_saasking.eot?ba7fcc5674dd9a9eeb61f899216585ef#iefix") format("embedded-opentype"),
url("../fonts/flaticon_saasking.ttf?ba7fcc5674dd9a9eeb61f899216585ef") format("truetype"),
url("../fonts/flaticon_saasking.svg?ba7fcc5674dd9a9eeb61f899216585ef#flaticon_saasking") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_saasking !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_saasking !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-dots:before {
    content: "\f101";
}
.flaticon-partnership:before {
    content: "\f102";
}
.flaticon-respect:before {
    content: "\f103";
}
.flaticon-support:before {
    content: "\f104";
}
.flaticon-ai-chip:before {
    content: "\f105";
}
.flaticon-ai-chip-1:before {
    content: "\f106";
}
.flaticon-ai-technology:before {
    content: "\f107";
}
.flaticon-crosshair:before {
    content: "\f108";
}
.flaticon-time-tracking:before {
    content: "\f109";
}
.flaticon-insurance:before {
    content: "\f10a";
}
.flaticon-workflow:before {
    content: "\f10b";
}
.flaticon-suitcase:before {
    content: "\f10c";
}
.flaticon-github:before {
    content: "\f10d";
}
.flaticon-atlassian:before {
    content: "\f10e";
}
.flaticon-chatgpt:before {
    content: "\f10f";
}
.flaticon-confluence:before {
    content: "\f110";
}
.flaticon-spotify:before {
    content: "\f111";
}
.flaticon-tripadvisor:before {
    content: "\f112";
}
.flaticon-atlassian-1:before {
    content: "\f113";
}
.flaticon-text:before {
    content: "\f114";
}
.flaticon-facebook:before {
    content: "\f115";
}
.flaticon-instagram:before {
    content: "\f116";
}
.flaticon-tik-tok:before {
    content: "\f117";
}
.flaticon-linkedin:before {
    content: "\f118";
}
.flaticon-arrow-down:before {
    content: "\f119";
}
.flaticon-down:before {
    content: "\f11a";
}
.flaticon-star:before {
    content: "\f11b";
}
.flaticon-sparkler:before {
    content: "\f11c";
}
.flaticon-signature:before {
    content: "\f11d";
}
.flaticon-ai:before {
    content: "\f11e";
}
.flaticon-magic-wand:before {
    content: "\f11f";
}
.flaticon-down-1:before {
    content: "\f120";
}
.flaticon-right-down:before {
    content: "\f121";
}
.flaticon-right-up:before {
    content: "\f122";
}
.flaticon-mic:before {
    content: "\f123";
}
.flaticon-setup:before {
    content: "\f124";
}
.flaticon-attachment:before {
    content: "\f125";
}
.flaticon-open-book:before {
    content: "\f126";
}
.flaticon-blog:before {
    content: "\f127";
}
.flaticon-strategy:before {
    content: "\f128";
}
.flaticon-add:before {
    content: "\f129";
}
.flaticon-layers:before {
    content: "\f12a";
}
.flaticon-layout:before {
    content: "\f12b";
}
.flaticon-design:before {
    content: "\f12c";
}
.flaticon-log-out:before {
    content: "\f12d";
}
.flaticon-chatbot:before {
    content: "\f12e";
}
.flaticon-abstract-shape:before {
    content: "\f12f";
}
.flaticon-play:before {
    content: "\f130";
}
.flaticon-google:before {
    content: "\f131";
}
.flaticon-adwords:before {
    content: "\f132";
}
.flaticon-translate:before {
    content: "\f133";
}
.flaticon-rocket:before {
    content: "\f134";
}
.flaticon-bell:before {
    content: "\f135";
}
.flaticon-refresh:before {
    content: "\f136";
}
.flaticon-customer-service:before {
    content: "\f137";
}
.flaticon-feature:before {
    content: "\f138";
}
.flaticon-settings:before {
    content: "\f139";
}
.flaticon-blockchain:before {
    content: "\f13a";
}
.flaticon-bitcoin:before {
    content: "\f13b";
}
.flaticon-cryptocurrency:before {
    content: "\f13c";
}
.flaticon-bitcoin-1:before {
    content: "\f13d";
}
.flaticon-coins:before {
    content: "\f13e";
}
.flaticon-data-structure:before {
    content: "\f13f";
}
.flaticon-wallet-passes-app:before {
    content: "\f140";
}
.flaticon-planning:before {
    content: "\f141";
}
.flaticon-process:before {
    content: "\f142";
}
.flaticon-world-wide-web:before {
    content: "\f143";
}
.flaticon-geometry:before {
    content: "\f144";
}
.flaticon-tetrahedron:before {
    content: "\f145";
}
.flaticon-ovals:before {
    content: "\f146";
}
.flaticon-rebound:before {
    content: "\f147";
}
.flaticon-currency:before {
    content: "\f148";
}
.flaticon-investor:before {
    content: "\f149";
}
.flaticon-star-1:before {
    content: "\f14a";
}
.flaticon-heart:before {
    content: "\f14b";
}
.flaticon-faq:before {
    content: "\f14c";
}
.flaticon-faq-1:before {
    content: "\f14d";
}
.flaticon-request:before {
    content: "\f14e";
}
.flaticon-send:before {
    content: "\f14f";
}
.flaticon-message:before {
    content: "\f150";
}
.flaticon-settings-1:before {
    content: "\f151";
}
.flaticon-magnifying-glass:before {
    content: "\f152";
}
.flaticon-image:before {
    content: "\f153";
}
.flaticon-voice-search:before {
    content: "\f154";
}
.flaticon-up-arrow:before {
    content: "\f155";
}
.flaticon-layer:before {
    content: "\f156";
}
.flaticon-network:before {
    content: "\f157";
}
.flaticon-team:before {
    content: "\f158";
}
.flaticon-team-management:before {
    content: "\f159";
}
.flaticon-ai-technology-2:before {
    content: "\f15a";
}
.flaticon-ai-technology-3:before {
    content: "\f15b";
}
.flaticon-spreadsheet-app:before {
    content: "\f15c";
}
.flaticon-code:before {
    content: "\f15d";
}
.flaticon-ai-technology-4:before {
    content: "\f15e";
}
.flaticon-global:before {
    content: "\f15f";
}
.flaticon-security:before {
    content: "\f160";
}
.flaticon-star-2:before {
    content: "\f161";
}
.flaticon-chatbot-1:before {
    content: "\f162";
}
.flaticon-development:before {
    content: "\f163";
}
.flaticon-shuttle:before {
    content: "\f164";
}
.flaticon-speedometer:before {
    content: "\f165";
}
.flaticon-dashboard:before {
    content: "\f166";
}
.flaticon-plus:before {
    content: "\f167";
}
.flaticon-back:before {
    content: "\f168";
}
.flaticon-data-integration:before {
    content: "\f169";
}
.flaticon-home:before {
    content: "\f16a";
}
.flaticon-clover:before {
    content: "\f16b";
}
.flaticon-splash:before {
    content: "\f16c";
}
.flaticon-petals:before {
    content: "\f16d";
}

