/* 
    home-css-start
*/

.sk-home-1 {
    background-color: #110F20;
}

.sk-home-2 {
    background-color: var(--sk-clr-white-1);
}

.sk-home-3 {
    background-color: #120101;
}

.sk-home-6 {
    background-color: var(--sk-clr-black-6);
}
.sk-home-7 {
    background-color: #F6F7F9;
}

/* 
    home-css-end
*/