/* 
    home-css-start
*/

.sk-home-1 {
    background-color: #110F20;
}

.sk-home-2 {
    background-color: var(--sk-clr-white-1);
}

.sk-home-3 {
    background-color: #120101;
}

/* 
    home-css-end
*/